In [12]:
import pandas as pd
from pathlib import Path
import ast
import os

In [13]:
partition_df = pd.read_csv('./data/topics_pred_on_bert_partitioned_bbc_2016_with_news_classifier_no_Others.csv')
partition_df = partition_df.drop(['Unnamed: 0'], axis=1)
partition_df['topic'] = partition_df.apply(lambda x: ast.literal_eval(x['topic']), axis=1)
partition_df['topic'] = partition_df.apply(lambda x: x['topic'][0][0], axis=1)
partition_df['topic'] = partition_df.apply(lambda x: "_".join(x.topic.replace(',', '').split(" ")), axis=1)

In [14]:
partition_df.columns=['partition_id', 'date', 'Transcript', 'topic']
partition_df

,partition_id,date,Transcript,topic
0,0,4-jun-2016,we would have seen during this weekend and the...,Culture_media_and_sport
1,0,4-jun-2016,manage that and make sure we stay within the g...,Culture_media_and_sport
2,0,4-jun-2016,We start at the desk where you have the three ...,Culture_media_and_sport
3,0,4-jun-2016,It helps to correct this atmosphere which is v...,Culture_media_and_sport
4,0,4-jun-2016,Twitter’s live streaming video service announc...,Culture_media_and_sport
...,...,...,...,...
102489,1506,30-dec-2016,"The former Bishop of Liverpool, JamesJones, ch...",Parliament_government_and_politics
102490,1506,30-dec-2016,Southern rail passengers have been warned that...,Transport
102491,1506,30-dec-2016,"So on the eve of the new year, | make this cha...",Culture_media_and_sport
102492,1506,30-dec-2016,"It too says it’s willing to talk but, once aga...",Transport
102493,1506,30-dec-2016,"A new year perhaps, but the same old problems ...",Culture_media_and_sport

In [15]:
topics = partition_df.topic.unique()

In [16]:
topics

array(['Culture_media_and_sport', 'Transport',
       'Parliament_government_and_politics', 'International_affairs',
       'Defence', 'Economy_and_finance', 'Health_services_and_medicine',
       'Crime_civil_law_justice_and_rights', 'European_Union',
       'Business_industry_and_consumers',
       'Agriculture_animals_food_and_rural_affairs',
       'Energy_and_environment', 'Education', 'Communities_and_families',
       'Employment_and_training'], dtype=object)

In [18]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
for topic in topics:
    path = '54_{}/2016/transcripts'.format(topic)
    Path(path).mkdir(parents=True, exist_ok=True)
    partition_for_topic = partition_df[partition_df.topic == topic]
    
    for month in months:
        partition_for_topic_and_month = partition_for_topic[partition_for_topic.date.str.contains(month)]
        partition_for_topic_and_month.to_csv(os.path.join(path, 'BBC+News {}-2016 54_{}.csv'.format(month, topic)))