In [317]:
import pandas as pd
from gensim import models, corpora
from gensim.parsing.preprocessing import preprocess_string, strip_tags, strip_punctuation
from gensim.parsing.preprocessing import remove_stopwords, stem_text, strip_non_alphanum, strip_multiple_whitespaces
from gensim.parsing.preprocessing import strip_short, strip_numeric
from gensim.parsing.preprocessing import STOPWORDS
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from sklearn.utils import class_weight
import multiprocessing as mp
import calendar
import nltk
import pandas as pd
import numpy as np
import tensorflow as tf
import parmap
import ast

In [318]:
topics_index_to_name_map = {
    0: 'Agriculture, animals, food and rural affairs',
    1: 'Asylum, immigration and nationality',
    2: 'Business, industry and consumers',
    3: 'Communities and families',
    4: 'Crime, civil law, justice and rights',
    5: 'Culture, media and sport',
    6: 'Defence',
    7: 'Economy and finance',
    8: 'Education',
    9: 'Employment and training',
    10: 'Energy and environment',
    11: 'European Union',
    12: 'Health services and medicine',
    13: 'Housing and planning',
    14: 'International affairs',
    15: 'Parliament, government and politics',
    16: 'Science and technology',
    17: 'Social security and pensions',
    18: 'Social services',
    19: 'Transport',
    20: 'Others'
}
topics_name_to_index_map = {y:x for x,y in topics_index_to_name_map.items()}

def strip_short2(text):
    return strip_short(text, minsize=4)


def preprocess_text(text):
    FILTERS = [lambda x: x.lower(), strip_multiple_whitespaces, strip_tags, strip_punctuation,
                   strip_non_alphanum, strip_numeric, strip_short2]
    return preprocess_string(text, FILTERS)

def preprocess(topic):
    ret = []
    topic = topic.strip()
    
    if '|' in topic:
        topics = topic.split('|')
        t = topics[0]
        t = t.strip()
        return topics_name_to_index_map[t]

In [319]:
# df = pd.read_csv('./bbc_predictions_News_at_One_Six_Ten.csv')
# df = df.drop(['Unnamed: 0'], axis=1)
# df['topic'] = df['topic'].apply(lambda x: ast.literal_eval(x)[0][0])

In [320]:
years = list(range(2014, 2019))
df_list = []
for year in years:
    df_list.append(pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_{}.csv'.format(year)))
df = pd.concat(df_list)
df = df.loc[df.source.isin(['BBC News at One', 'BBC News at Six', 'BBC News at Ten'])]
df = df.drop(['Unnamed: 0'], axis=1)
df['length'] = df['transcript'].apply(lambda x: len(x.split()))
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].apply(lambda x: x.year)
df['month'] = df['date'].apply(lambda x: x.month)
df['day'] = df['date'].apply(lambda x: x.day)
df

,partition_id,date,source,transcript,type,topic,length,year,month,day
133,442,2014-03-07,BBC News at Six,The head ofthe The head of the Metropolitan P...,p,"Parliament, government and politics",92,2014,3,7
134,442,2014-03-07,BBC News at Six,Vladimir Putin opens the Winter Paralympics i...,p,"Culture, media and sport",15,2014,3,7
135,442,2014-03-07,BBC News at Six,Network Rail apologises unreservedly for what...,p,"Business, industry and consumers",20,2014,3,7
136,442,2014-03-07,BBC News at Six,"The cost of a pint of milk going down, as the...",p,"Parliament, government and politics",20,2014,3,7
137,442,2014-03-07,BBC News at Six,And trenches where the First World War’s sold...,p,"Parliament, government and politics",18,2014,3,7
...,...,...,...,...,...,...,...,...,...,...
100257,1581,2018-10-31,BBC News at Ten,Racing’s allure stems in part from studying t...,p,"Culture, media and sport",30,2018,10,31
100258,1581,2018-10-31,BBC News at Ten,"Tonight, are jokes about vegans off limits, a...",p,"Agriculture, animals, food and rural affairs",19,2018,10,31
100259,1581,2018-10-31,BBC News at Ten,"We discuss what’s fair game, so to speak, and...",p,"Parliament, government and politics",48,2018,10,31
100260,1581,2018-10-31,BBC News at Ten,Now a pharmaceutical company is facing crimin...,p,Health services and medicine,370,2018,10,31
100261,1581,2018-10-31,BBC News at Ten,ITH Pharma is due to appear at Westminster Ma...,p,Transport,92,2018,10,31

In [321]:
topics = list(df['topic'].unique())
topics

['Parliament, government and politics',
 'Culture, media and sport',
 'Business, industry and consumers',
 'Transport',
 'Crime, civil law, justice and rights',
 'International affairs',
 'Education',
 'Defence',
 'Energy and environment',
 'Communities and families',
 'Economy and finance',
 'Asylum, immigration and nationality',
 'Health services and medicine',
 'Agriculture, animals, food and rural affairs',
 'European Union',
 'Employment and training',
 'Housing and planning',
 'Science and technology',
 'Social services',
 'Social security and pensions']

In [322]:
years = [2014, 2015, 2016, 2017, 2018]
rows = []
rows_std = []
rows_min = []
rows_max = []

for year in years:
        print(year)
        df_year = df.loc[df.year == year].reset_index(drop=True)
        for month in range(1, 13):
            df_month = df_year.loc[df_year.month == month].reset_index(drop=True)
            
            for day in range(1, calendar.monthrange(year, month)[1] + 1):
                df_day = df_month.loc[df_month.day == day].reset_index(drop=True)
                partition_id = None
                pos = 0
                topic_ranks_for_day = {topic:[] for topic in topics}
                last_topic = None
                for index, row in df_day.iterrows():
                    if partition_id is None:
                        partition_id = row['partition_id']
                        pos = 1
                        last_topic = row['topic']
                    elif partition_id == row['partition_id']:
                        if last_topic == row['topic']:
                            continue
                        last_topic = row['topic']
                        pos += 1
                    else:
                        pos = 1
                        partition_id = row['partition_id']
                        last_topic = row['topic']
                    topic_ranks_for_day[row['topic']].append(pos)
                row = [year, month, day]
                row_std = [year, month, day]
                row_min = [year, month, day]
                row_max = [year, month, day]

                row += [np.nanmean(topic_ranks_for_day[topic]) for topic in topics]
                row_std += [np.nanstd(topic_ranks_for_day[topic]) for topic in topics]
                row_min += [min(topic_ranks_for_day[topic], default=0) for topic in topics]
                row_max += [max(topic_ranks_for_day[topic], default=0) for topic in topics]

                rows_min.append(row_min)
                rows_max.append(row_max)
                rows_std.append(row_std)
                rows.append(row)

2014

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:39: RuntimeWarning: Mean of empty slice
/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1667: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

2015
2016
2017
2018

In [323]:
# topics = list(topics_name_to_index_map.keys())
header = ['year', 'month', 'day']
header += list(topics)
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [324]:
res = pd.DataFrame(rows, columns=header)
res

,year,month,day,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,2,16.882353,23.5,18.000000,21.3,11.5,17.75,NaN,...,NaN,23.0,13.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,3,15.222222,25.5,12.666667,29.0,NaN,NaN,23.5,...,13.0,20.0,NaN,6.75,NaN,19.0,NaN,NaN,NaN,NaN
3,2014,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2018,12,27,3.333333,NaN,11.000000,9.0,NaN,NaN,NaN,...,NaN,NaN,3.000000,NaN,8.0,NaN,NaN,NaN,NaN,NaN
1822,2018,12,28,8.666667,NaN,9.000000,15.0,18.0,6.00,NaN,...,NaN,3.5,20.000000,17.00,11.5,NaN,NaN,NaN,11.0,NaN
1823,2018,12,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1824,2018,12,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,2018,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [325]:
res_std_df = pd.DataFrame(rows_std, columns=header)
res_std_df

,year,month,day,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014,1,2,10.587908,0.5,6.164414,10.344564,4.112988,5.494315,NaN,...,NaN,0.0,4.189935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,3,9.052658,1.5,7.408704,1.000000,NaN,NaN,1.5,...,0.0,0.0,NaN,3.76663,NaN,0.0,NaN,NaN,NaN,NaN
3,2014,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2018,12,27,2.054805,NaN,1.000000,2.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1822,2018,12,28,5.405758,NaN,0.000000,8.000000,4.546061,0.000000,NaN,...,NaN,1.5,0.000000,5.00000,7.5,NaN,NaN,NaN,0.0,NaN
1823,2018,12,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1824,2018,12,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,2018,12,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [326]:
res_min_df = pd.DataFrame(rows_min, columns=header)
res_min_df

,year,month,day,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,1,2,2,23,11,3,3,9,0,...,0,23,8,0,0,0,0,0,0,0
2,2014,1,3,2,24,3,28,0,0,22,...,13,20,0,1,0,19,0,0,0,0
3,2014,1,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,1,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2018,12,27,1,0,10,7,0,0,0,...,0,0,2,0,8,0,0,0,0,0
1822,2018,12,28,1,0,9,7,13,6,0,...,0,2,20,12,4,0,0,0,11,0
1823,2018,12,29,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1824,2018,12,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1825,2018,12,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [327]:
res_max_df = pd.DataFrame(rows_max, columns=header)
res_max_df

,year,month,day,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,1,2,36,24,26,34,16,24,0,...,0,23,18,0,0,0,0,0,0,0
2,2014,1,3,29,27,21,30,0,0,25,...,13,20,0,11,0,19,0,0,0,0
3,2014,1,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,1,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2018,12,27,6,0,12,11,0,0,0,...,0,0,4,0,8,0,0,0,0,0
1822,2018,12,28,16,0,9,23,24,6,0,...,0,5,20,22,19,0,0,0,11,0
1823,2018,12,29,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1824,2018,12,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1825,2018,12,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [328]:
res.to_csv('topic_ranks_news_at_1_6_10_by_month_day.csv')
res_std_df.to_csv('topic_ranks_std_news_at_1_6_10_by_month_day.csv')
res_min_df.to_csv('topic_ranks_min_news_at_1_6_10_by_month_day.csv')
res_max_df.to_csv('topic_ranks_max_news_at_1_6_10_by_month_day.csv')

In [329]:
res = res.drop(['day'], axis=1)
final_res = res.groupby(['year', 'month'], as_index=False).mean()
final_res

,year,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,13.849128,19.153505,15.013333,17.775556,13.398183,13.191378,17.000000,17.122807,...,9.322685,16.000000,16.990278,14.767857,16.333333,14.500000,19.000000,NaN,NaN,NaN
1,2014,2,14.788249,17.459792,14.761786,18.774831,14.309863,13.195370,18.287037,15.964103,...,17.485417,4.500000,20.990000,15.367857,16.407407,14.100000,14.000000,NaN,NaN,NaN
2,2014,3,14.892898,17.294434,15.258220,13.698485,16.116500,12.076417,19.087143,14.395739,...,13.945820,20.666667,14.838542,20.687500,7.100000,15.488095,31.000000,NaN,NaN,NaN
3,2014,4,12.359295,15.180123,13.096491,15.825728,12.860903,11.548485,13.516667,14.435714,...,14.971429,25.500000,14.705357,14.866667,13.611111,11.250000,NaN,NaN,NaN,NaN
4,2014,5,14.681650,18.986293,12.578563,20.339706,14.334553,13.040985,15.505556,14.854976,...,14.934314,17.333333,19.468421,21.590909,14.785185,20.375000,24.500000,NaN,NaN,NaN
5,2014,6,13.616138,17.462524,14.442143,20.012976,15.059636,11.335676,14.953505,15.138778,...,11.908254,14.000000,14.184259,15.151515,12.620000,13.485714,NaN,NaN,NaN,NaN
6,2014,7,14.811370,17.301779,15.295600,17.695296,15.331571,9.841139,16.552941,13.338095,...,13.382353,NaN,17.162755,20.681818,18.000000,14.666667,NaN,NaN,NaN,NaN
7,2014,8,12.846431,14.883658,13.822361,17.452941,13.372044,9.842328,13.837946,13.510196,...,12.611111,8.000000,12.292361,15.550000,21.875000,18.500000,NaN,NaN,NaN,NaN
8,2014,9,11.867780,13.198531,13.109051,14.907857,12.343501,11.092108,15.022727,11.541176,...,13.407158,17.777778,12.545238,14.163636,18.000000,10.333333,NaN,NaN,NaN,NaN
9,2014,10,13.915320,16.349892,15.710582,18.972933,13.258244,12.872293,17.054444,16.454678,...,14.796296,14.000000,14.283223,21.930556,15.928571,15.316667,NaN,NaN,13.000000,NaN
10,2014,11,14.348912,15.817044,14.476439,18.422619,15.056600,14.312566,16.177273,17.264796,...,14.479613,13.837500,14.957937,18.990476,12.462121,12.111111,NaN,25.000000,NaN,NaN
11,2014,12,14.023453,16.106425,15.434854,16.347976,13.511719,14.263243,13.166667,14.449351,...,13.868636,10.000000,13.684962,16.333333,9.000000,14.625000,NaN,23.000000,NaN,NaN
12,2015,1,13.497486,17.124883,15.544444,18.050386,13.288016,12.299196,16.619048,12.478947,...,12.554861,4.000000,14.757776,17.480769,9.866667,14.625000,7.000000,NaN,NaN,NaN
13,2015,2,15.647036,20.467809,16.791448,20.715230,15.008350,12.860736,13.680556,15.201282,...,11.876012,17.000000,18.513571,24.416667,17.281250,19.800000,14.000000,NaN,NaN,NaN
14,2015,3,14.609829,17.899451,15.101316,19.050894,14.805519,15.314551,20.851852,15.333333,...,12.878252,13.000000,17.663988,21.285256,13.173469,13.916667,23.000000,NaN,NaN,NaN
15,2015,4,13.466853,17.745622,14.806266,21.659945,14.754383,10.640201,15.927273,15.076923,...,11.489683,13.083333,14.535088,17.160714,10.226190,14.879630,NaN,NaN,NaN,NaN
16,2015,5,13.631054,15.712640,14.400063,21.198909,13.987803,11.657212,18.000000,13.164583,...,10.193995,18.583333,15.195312,19.770833,12.762963,19.541667,NaN,NaN,NaN,NaN
17,2015,6,14.827997,17.963550,15.014286,17.796107,16.100832,14.224793,16.333333,13.758333,...,12.729365,11.312500,17.041667,22.727273,14.118421,13.416667,17.000000,NaN,NaN,NaN
18,2015,7,15.162000,19.872887,16.771687,17.720730,15.554149,13.079689,20.285714,15.737037,...,13.479124,18.375000,17.823475,17.245098,9.210141,16.777778,NaN,NaN,NaN,NaN
19,2015,8,14.920775,17.504758,13.534670,18.683116,13.913021,14.916470,13.466667,13.844097,...,12.369608,11.833333,16.111765,20.187500,13.542222,8.375000,27.750000,NaN,NaN,NaN
20,2015,9,14.341264,18.742437,16.116429,15.320825,17.613141,12.448263,20.256410,15.625926,...,16.643492,10.570513,16.276637,20.145238,10.550065,14.000000,NaN,NaN,NaN,NaN
21,2015,10,14.808027,17.310597,14.167641,17.494180,14.478930,13.533602,17.285714,15.589899,...,13.797269,18.875000,15.420862,20.395833,17.446032,14.121212,17.000000,NaN,NaN,NaN
22,2015,11,14.499834,18.077430,15.018750,20.785468,16.569331,11.940354,14.795714,12.094577,...,15.615686,10.500000,15.056397,22.062500,12.077047,16.900000,NaN,NaN,NaN,NaN
23,2015,12,14.212450,17.357464,18.702381,19.583333,15.369841,13.906183,16.300000,11.684799,...,19.322917,20.500000,16.690769,18.159091,14.389286,23.500000,NaN,NaN,NaN,NaN
24,2016,1,13.575960,17.515549,14.405013,19.113879,14.346107,13.156358,16.604167,14.182292,...,13.210989,18.888889,14.598246,21.033333,13.822222,15.500000,18.000000,NaN,NaN,NaN
25,2016,2,14.259534,18.309444,16.007143,17.512667,14.737447,12.908483,15.738095,16.308333,...,14.590909,14.333333,14.947770,16.643590,11.502987,16.611111,34.000000,NaN,NaN,NaN
26,2016,3,14.178848,16.687075,15.742500,19.220779,12.926103,12.736916,18.250000,15.458333,...,11.780000,12.400000,17.687500,16.727778,11.590714,17.000000,23.000000,NaN,NaN,NaN
27,2016,4,11.439902,13.557407,11.650000,18.000000,12.708333,9.520833,14.694444,6.375000,...,8.700000,NaN,10.229167,18.972222,8.833333,13.000000,NaN,NaN,NaN,NaN
28,2016,5,13.739052,15.726525,15.964881,15.799306,14.153060,13.647998,15.027778,13.507576,...,13.090278,13.916667,14.654444,18.308333,11.538324,14.083333,28.000000,NaN,NaN,NaN
29,2016,6,13.000085,17.008380,14.535203,18.022870,15.364265,14.372751,20.833333,14.426740,...,12.222222,15.000000,16.263021,15.750000,12.061349,12.500000,NaN,NaN,NaN,NaN
30,2016,7,13.340131,18.130864,14.923434,18.902413,14.142955,12.233586,18.133333,9.102891,...,10.904167,13.000000,15.994792,18.527778,11.233201,13.000000,NaN,NaN,NaN,NaN
31,2016,8,13.760296,14.344656,13.988095,15.428019,14.831782,14.041927,20.604167,15.202381,...,16.305397,20.222222,15.025045,16.903125,13.133796,22.333333,4.000000,NaN,NaN,NaN
32,2016,9,13.999213,17.399147,14.237857,18.044481,14.536749,12.211645,11.121212,12.664286,...,14.343750,15.166667,14.435155,19.053571,12.700705,21.800000,NaN,NaN,NaN,NaN
33,2016,10,14.664685,19.017070,15.359194,17.715972,14.795518,13.634059,14.750000,12.284211,...,11.158163,8.255556,16.394152,16.412222,12.945163,16.000000,NaN,NaN,NaN,NaN
34,2016,11,13.525880,16.844929,14.681638,17.094182,16.159514,12.606356,17.666667,15.121429,...,13.494862,18.000000,15.098039,22.047619,12.072487,16.238095,24.000000,NaN,NaN,NaN
35,2016,12,14.552004,18.859959,17.792222,17.022193,15.916713,11.399344,14.688889,14.611111,...,15.607692,NaN,15.647222,17.924242,12.467974,13.633333,NaN,NaN,NaN,NaN
36,2017,1,14.652983,18.125924,15.925926,19.232061,12.772905,12.705777,18.863636,16.506944,...,15.754010,13.500000,15.672180,19.075893,13.144867,26.000000,26.000000,10.500000,NaN,NaN
37,2017,2,13.666035,17.286452,13.777530,20.025833,14.215700,13.588340,12.411667,14.361464,...,14.263145,11.625000,14.306738,20.136667,12.431250,14.944444,20.541667,19.625000,NaN,8.0
38,2017,3,13.349797,17.301511,15.780075,18.628053,13.516912,13.225267,16.703125,12.373188,...,14.745714,13.750000,13.248333,15.711458,10.366629,20.333333,13.000000,NaN,NaN,NaN
39,2017,4,14.254090,17.113064,13.661111,17.689131,14.385704,12.691855,13.211092,11.026692,...,14.310563,25.750000,14.403509,16.958333,13.069872,18.500000,14.100000,15.333333,NaN,NaN
40,2017,5,13.510086,16.516827,16.589286,16.335417,15.188338,15.574319,15.084615,12.726389,...,14.102789,14.785714,13.222878,17.500000,14.110509,8.562500,19.500000,20.250000,NaN,NaN
41,2017,6,12.683451,15.993932,15.756944,16.269231,13.225347,15.425313,17.633333,12.600556,...,12.769728,13.976190,14.398413,18.796296,11.457607,18.000000,15.538492,28.000000,NaN,NaN
42,2017,7,15.209279,17.854987,14.111458,16.813492,14.337042,13.279792,12.566667,16.819775,...,16.171849,15.000000,14.075794,19.393939,13.945940,15.500000,21.287500,4.000000,NaN,NaN
43,2017,8,15.688092,18.891957,13.299084,18.463377,16.075306,13.143509,21.416667,15.098334,...,13.676754,14.571429,15.392782,18.288352,12.750225,18.250000,20.300000,14.500000,NaN,NaN
44,2017,9,15.467486,18.945805,15.527778,15.798747,15.530571,13.562008,20.605556,18.859694,...,11.803509,12.125000,15.272449,19.481481,13.580532,9.666667,18.305556,22.333333,NaN,NaN
45,2017,10,14.616598,16.080490,14.164035,18.417817,14.805400,12.891108,17.348485,14.193442,...,14.016831,10.000000,16.194968,16.845098,9.722653,17.652778,13.916667,8.500000,NaN,NaN
46,2017,11,14.371692,18.344568,17.318296,18.280864,14.986712,12.789574,21.390110,16.510902,...,16.215566,15.874074,18.080195,17.775641,12.090358,16.066667,23.416667,NaN,NaN,NaN
47,2017,12,13.770011,16.907846,14.369048,14.317460,13.789637,13.501687,21.657407,13.334444,...,14.262821,16.666667,14.295637,13.347222,11.707189,19.166667,21.809524,21.666667,NaN,NaN
48,2018,1,15.324638,18.520155,15.462135,16.724589,14.855881,14.684578,19.690476,15.722222,...,14.139378,22.333333,13.219006,20.747619,11.822109,19.625000,29.666667,NaN,11.857143,NaN
49,2018,2,14.782953,16.495513,15.763158,17.238083,16.640546,13.577554,16.098474,17.573077,...,14.422840,14.000000,16.297995,18.410784,11.920045,10.958333,20.000000,NaN,19.866667,NaN
50,2018,3,15.082655,17.560916,15.746759,16.980427,16.668935,11.695581,20.650000,11.988236,...,15.497751,13.000000,14.698073,20.740741,14.678968,16.981481,29.000000,NaN,17.200000,NaN
51,2018,4,14.275415,15.898100,13.938596,15.366718,16.599768,10.238020,12.972222,11.413462,...,14.042708,8.025997,14.844444,16.962963,11.031481,16.000000,20.000000,NaN,15.000000,NaN
52,2018,5,13.714577,16.126499,12.600980,13.638080,14.985644,11.692261,17.514286,14.757008,...,14.243860,10.033333,15.629389,16.416667,11.608333,9.000000,16.333333,NaN,14.916667,NaN
53,2018,6,13.235872,16.541396,14.872805,16.966983,14.634454,12.941905,16.791667,14.870370,...,15.537540,17.400000,13.487719,14.210000,11.405093,21.750000,15.750000,NaN,13.500000,NaN
54,2018,7,14.269356,18.430972,18.538462,17.096408,17.599603,12.539981,15.778571,18.647917,...,14.854167,21.666667,14.218603,14.194218,11.130229,17.300000,21.000000,NaN,12.535714,NaN
55,2018,8,14.102520,17.329578,15.817544,16.284176,12.885452,12.077484,13.401786,17.193333,...,12.298942,14.041667,13.913690,14.677754,15.765840,18.071429,16.000000,NaN,15.277778,NaN
56,2018,9,13.916072,17.591819,15.437255,13.309167,12.959023,12.459603,16.925000,12.558586,...,13.230660,15.000000,14.314086,15.963333,11.086345,14.812500,25.000000,NaN,17.000000,NaN
57,2018,10,15.466917,18.758861,18.442262,18.474637,16.115893,12.815420,17.254167,15.164815,...,14.790177,18.416667,14.460417,15.988095,12.072143,16.996599,24.000000,NaN,20.250000,NaN
58,2018,11,13.976040,17.923142,16.665625,15.167669,15.140476,13.010101,20.025000,13.954167,...,14.289732,7.000000,14.172421,18.752778,10.558779,15.111111,20.000000,NaN,16.703704,NaN
59,2018,12,12.126268,15.569702,13.077381,15.801659,15.633473,12.485017,18.111111,12.327381,...,14.630037,10.133333,15.193108,14.256944,7.867059,14.690476,24.500000,NaN,19.000000,NaN

In [330]:
res_std_df = res_std_df.drop(['day'], axis=1)
res_std_df = res_std_df.groupby(['year', 'month'], as_index=False).mean()
res_std_df

,year,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,8.230017,5.590045,5.795167,4.876354,5.375219,5.018023,1.857360,2.499154,...,2.431358,0.000000,3.673558,2.154822,0.000000,0.000000,0.000000,NaN,NaN,NaN
1,2014,2,8.917217,6.404066,5.141061,7.927078,6.708357,5.263432,3.016205,3.130924,...,3.031141,1.500000,2.579852,2.611471,1.623727,0.700000,0.000000,NaN,NaN,NaN
2,2014,3,8.789966,6.753986,6.095727,7.061927,6.331568,4.987746,2.841871,4.133993,...,3.417754,0.333333,2.901786,2.062500,1.900000,1.127085,0.000000,NaN,NaN,NaN
3,2014,4,7.314587,5.692723,4.376900,5.092765,5.535679,4.871147,3.931906,3.668067,...,1.983788,2.160247,2.343760,1.779980,1.624819,1.750000,NaN,NaN,NaN,NaN
4,2014,5,8.705774,8.800569,6.570228,3.485289,7.946091,6.288266,3.117500,4.734575,...,4.280994,0.333333,3.567795,2.917207,1.996582,0.625000,0.000000,NaN,NaN,NaN
5,2014,6,8.382115,7.389446,6.276261,2.991150,7.269640,6.397866,3.700957,4.503766,...,3.076617,1.471405,3.354051,1.419760,1.604099,0.649018,NaN,NaN,NaN,NaN
6,2014,7,8.705390,7.804603,6.149931,5.774493,6.921993,6.651559,5.187908,3.910825,...,1.517524,NaN,4.576063,1.938948,1.000000,0.000000,NaN,NaN,NaN,NaN
7,2014,8,7.563102,6.223117,5.908615,3.741635,5.690758,5.392611,4.807983,4.131275,...,1.450950,0.000000,4.394244,1.544392,4.189338,0.000000,NaN,NaN,NaN,NaN
8,2014,9,7.234070,6.115502,5.372905,4.165682,4.823374,4.712212,3.065193,2.753760,...,4.001993,1.930905,2.661296,2.556189,1.982821,0.833333,NaN,NaN,NaN,NaN
9,2014,10,8.271383,7.787491,6.536992,4.377015,7.047882,6.161776,2.882857,4.769379,...,2.971623,0.000000,6.873486,2.347556,3.917393,2.446987,NaN,NaN,0.000000,NaN
10,2014,11,8.513748,7.812194,6.893413,4.293137,7.003165,4.539697,2.653265,3.564143,...,4.457850,2.351708,4.234411,1.712136,3.877902,1.200966,NaN,2.000000,NaN,NaN
11,2014,12,8.107056,7.000749,5.683241,5.612189,6.830157,6.181004,2.388021,2.408120,...,4.901535,1.000000,6.384332,3.193704,0.000000,2.274176,NaN,0.000000,NaN,NaN
12,2015,1,8.248382,4.857938,4.860829,7.181585,5.553465,6.906922,2.915653,4.338335,...,4.800174,0.000000,5.616823,2.429772,1.813103,1.125000,0.000000,NaN,NaN,NaN
13,2015,2,9.736845,8.171534,5.806129,9.772814,7.319939,7.961662,3.482458,6.033228,...,4.003047,0.000000,4.791003,2.647984,2.593750,0.000000,0.000000,NaN,NaN,NaN
14,2015,3,9.174266,7.218256,4.435846,6.478582,7.124992,7.988848,4.213276,3.844079,...,3.557315,0.000000,4.820898,3.001725,2.964500,3.066055,0.666667,NaN,NaN,NaN
15,2015,4,8.309894,5.976254,4.816698,6.266293,6.152621,5.720109,2.033799,2.331985,...,5.434116,2.482563,3.809056,1.986810,2.714329,1.644640,NaN,NaN,NaN,NaN
16,2015,5,8.346039,7.150536,5.236464,6.935362,6.279778,6.084302,5.671567,2.786521,...,4.680266,5.852869,4.966925,2.432146,3.613157,2.589653,NaN,NaN,NaN,NaN
17,2015,6,8.986720,7.270393,3.389351,6.180238,7.484471,7.421864,2.673708,3.336297,...,3.368261,0.687500,4.827567,2.433950,5.140403,0.916667,0.000000,NaN,NaN,NaN
18,2015,7,8.925073,6.977411,4.157845,6.701576,5.389311,6.252987,3.982030,2.565380,...,4.736836,0.125000,4.648482,2.749144,2.840688,2.415740,NaN,NaN,NaN,NaN
19,2015,8,9.041739,8.191874,5.162557,8.353540,7.396904,6.738876,3.238684,3.832592,...,3.576734,1.166667,4.941939,3.282344,1.348881,0.125000,2.750000,NaN,NaN,NaN
20,2015,9,8.680915,5.951255,3.959164,8.018326,7.425240,7.164876,3.714365,3.859533,...,2.350958,3.320594,6.561019,2.362854,2.721936,0.000000,NaN,NaN,NaN,NaN
21,2015,10,8.714676,7.534348,5.667557,7.423305,8.647137,7.043962,2.231716,5.304711,...,4.156488,0.125000,3.563136,2.740752,1.668381,1.277710,0.000000,NaN,NaN,NaN
22,2015,11,8.894029,6.442306,4.343305,4.695069,7.357018,6.990020,3.393047,4.560285,...,3.518583,2.500000,5.438829,2.776935,4.218156,2.161018,NaN,NaN,NaN,NaN
23,2015,12,8.654328,7.623013,2.419479,5.054256,7.087921,6.975217,2.465162,4.046654,...,3.101476,2.500000,6.617164,1.677195,3.006080,0.000000,NaN,NaN,NaN,NaN
24,2016,1,8.193121,7.193030,5.595434,5.626868,6.451035,6.447518,2.111581,2.083450,...,3.152477,1.274997,5.029344,3.601575,2.812423,3.833333,0.000000,NaN,NaN,NaN
25,2016,2,8.648050,5.843381,4.235262,6.238943,7.128126,6.342653,1.535620,1.097944,...,2.718373,0.000000,4.979481,3.959767,4.021948,3.277778,1.000000,NaN,NaN,NaN
26,2016,3,8.395726,6.586163,3.165534,7.115693,7.437685,5.962215,1.750000,3.628690,...,3.664430,0.400000,4.506618,2.918709,4.637183,2.500000,0.000000,NaN,NaN,NaN
27,2016,4,6.342565,4.757800,1.991892,1.702939,3.572408,3.549652,2.649891,1.125000,...,2.500000,NaN,2.705688,1.524997,0.611111,0.000000,NaN,NaN,NaN,NaN
28,2016,5,8.100450,7.932464,3.780805,4.796736,5.092797,5.984285,2.486144,4.009018,...,2.533532,0.250000,4.614497,1.657596,4.727942,1.910699,0.000000,NaN,NaN,NaN
29,2016,6,7.789147,6.148123,4.841145,6.686079,5.888390,6.561460,3.091206,4.346820,...,0.972770,0.000000,4.612194,1.750000,5.127085,1.500000,NaN,NaN,NaN,NaN
30,2016,7,7.904141,6.211198,3.759658,4.946599,5.258639,6.387463,0.471405,3.784218,...,2.975571,0.000000,3.215386,0.757601,4.117683,0.000000,NaN,NaN,NaN,NaN
31,2016,8,8.274396,6.857605,4.646619,6.671693,6.414956,6.891330,4.064408,2.402484,...,2.771591,0.831479,4.397963,3.689163,4.018505,0.000000,0.000000,NaN,NaN,NaN
32,2016,9,8.310723,7.464326,6.232641,5.631722,6.518004,6.781474,2.365572,3.094413,...,2.218750,0.500000,5.403303,2.580935,5.559073,2.214214,NaN,NaN,NaN,NaN
33,2016,10,8.746260,6.845233,5.756103,6.891374,6.632812,7.630680,1.083333,2.889165,...,3.638460,1.548114,4.791150,3.448749,5.403139,0.000000,NaN,NaN,NaN,NaN
34,2016,11,8.109620,7.139647,4.534367,7.148919,6.610712,6.518158,0.000000,2.571722,...,2.655937,0.000000,5.084211,3.077890,3.619570,1.946381,0.000000,NaN,NaN,NaN
35,2016,12,8.560475,8.002074,4.966305,7.957974,6.661942,6.868634,2.330845,2.329836,...,1.850075,NaN,4.149546,3.304930,4.851870,2.795192,NaN,NaN,NaN,NaN
36,2017,1,8.985164,8.461050,5.642669,6.192991,7.167894,6.783754,1.709693,4.641775,...,5.719924,1.242336,5.327431,2.128657,4.987572,0.000000,0.000000,0.000000,NaN,NaN
37,2017,2,8.460686,7.077550,4.985777,6.578201,7.989756,5.698152,3.155862,5.159729,...,4.607533,0.852078,6.217104,4.431173,4.485952,1.978834,2.362810,2.125000,NaN,2.0
38,2017,3,8.343972,6.915042,4.739952,3.558709,7.495311,5.928721,2.869227,3.874143,...,4.349029,0.000000,6.782030,3.565773,5.215516,0.000000,0.000000,NaN,NaN,NaN
39,2017,4,8.738017,7.636346,2.999496,4.922497,7.351042,6.641434,3.464169,4.068816,...,4.861275,2.583333,4.048193,0.375000,5.756598,0.900000,2.300000,0.000000,NaN,NaN
40,2017,5,8.136015,7.870708,1.825120,1.786120,6.991436,5.369132,0.440288,3.834563,...,6.200781,1.237468,6.070069,0.750000,3.700394,1.907018,0.000000,5.750000,NaN,NaN
41,2017,6,7.988095,7.342498,1.904517,3.930630,6.311398,4.289428,3.124722,4.338793,...,4.821569,1.811773,5.313445,1.254746,4.909351,1.000000,3.672441,0.000000,NaN,NaN
42,2017,7,9.096633,8.319350,3.094161,4.513548,7.433277,6.391318,3.035359,5.131949,...,4.288462,0.000000,7.969211,4.179731,3.368446,1.500000,3.146347,0.000000,NaN,NaN
43,2017,8,9.549428,8.199360,4.405508,6.404293,9.159076,5.473876,4.438525,3.622047,...,3.988409,1.436070,4.370110,3.694627,3.462958,1.000000,3.017564,0.000000,NaN,NaN
44,2017,9,9.516841,9.110211,3.994972,4.505486,8.488466,5.076012,2.723660,4.995110,...,5.444285,1.125000,5.883215,1.814174,5.102125,0.471405,4.017774,0.333333,NaN,NaN
45,2017,10,8.819145,8.873923,3.921038,3.573586,7.465877,5.309820,2.345739,4.072139,...,5.656387,0.000000,5.398484,2.363235,5.257107,0.427056,2.786376,2.500000,NaN,NaN
46,2017,11,9.186861,8.476325,3.761241,3.344402,8.175704,7.682540,2.011716,4.458065,...,4.966801,2.404287,4.328214,5.050972,3.537509,0.679869,0.250000,NaN,NaN,NaN
47,2017,12,8.598345,8.576934,3.659134,6.864511,7.197021,4.634074,1.858389,3.910523,...,4.058083,1.389444,6.693971,2.130164,3.654179,0.656167,2.454630,1.655518,NaN,NaN
48,2018,1,9.105076,8.177911,5.210917,6.533768,8.103700,6.458000,1.018924,2.618400,...,5.095045,0.471405,6.647792,3.204743,3.601161,3.375000,0.333333,NaN,2.191876,NaN
49,2018,2,8.843922,8.292565,3.981917,5.805033,5.801422,5.876606,4.449708,1.801765,...,4.513744,0.000000,5.708009,2.864430,3.162470,0.320048,2.000000,NaN,1.436482,NaN
50,2018,3,8.959422,8.510676,4.059958,7.395918,7.687364,6.258894,3.307415,4.894984,...,3.432590,0.272166,4.962184,3.982224,3.278295,1.311092,0.000000,NaN,1.600000,NaN
51,2018,4,8.282949,7.580277,3.303352,5.422130,6.822185,5.852095,1.706014,3.245554,...,2.882641,4.040930,5.811595,1.873787,4.630290,0.000000,1.666667,NaN,0.000000,NaN
52,2018,5,7.985753,7.443581,4.253136,5.310721,5.209673,5.476216,2.787283,2.944468,...,3.478968,0.949444,5.808223,0.833333,4.196841,0.000000,1.333333,NaN,1.448824,NaN
53,2018,6,8.082994,7.656204,4.964992,5.121424,6.599068,6.054317,3.308721,2.696796,...,2.849760,1.793311,4.128522,2.931934,4.998935,0.000000,1.443374,NaN,2.013416,NaN
54,2018,7,8.964881,7.826202,2.606106,7.163047,5.354192,5.924888,2.624260,4.067605,...,1.967485,2.000000,6.109478,4.800056,3.865275,0.100000,0.000000,NaN,2.179479,NaN
55,2018,8,8.454261,7.389896,4.229697,6.341254,6.624205,4.957639,2.786115,2.787608,...,3.744897,0.360702,6.157450,3.466921,2.135590,2.223416,0.000000,NaN,0.582406,NaN
56,2018,9,8.142269,8.190537,5.013844,4.886415,4.780656,4.465612,1.296865,2.949307,...,3.240020,0.000000,4.962740,3.459348,4.696275,0.924916,0.000000,NaN,0.000000,NaN
57,2018,10,8.941178,8.094320,4.212515,6.313741,7.417073,6.052995,2.261328,4.628514,...,6.115189,0.433013,5.578480,3.566810,3.044960,2.859938,0.000000,NaN,2.837412,NaN
58,2018,11,8.586854,7.325229,5.133822,5.544870,6.593721,6.321449,2.828296,3.821587,...,4.126346,1.333333,4.444668,2.630523,5.433041,3.328497,0.000000,NaN,4.953604,NaN
59,2018,12,7.194699,5.965882,2.107863,6.280660,5.737095,3.328529,1.880932,3.237574,...,3.691787,2.203898,3.412888,1.812690,3.837082,1.035360,0.000000,NaN,2.000000,NaN

In [331]:
res_min_df = res_min_df.drop(['day'], axis=1)
res_min_df = res_min_df.groupby(['year', 'month'], as_index=False).mean()
res_min_df

,year,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,1.225806,6.580645,5.483871,5.354839,4.129032,3.935484,5.774194,8.806452,...,3.741935,2.064516,7.709677,5.483871,1.580645,1.870968,0.612903,0.000000,0.000000,0.000000
1,2014,2,0.928571,4.571429,6.107143,4.928571,4.178571,3.714286,4.785714,5.714286,...,7.678571,0.107143,9.678571,6.285714,1.500000,2.392857,0.500000,0.000000,0.000000,0.000000
2,2014,3,1.096774,5.129032,5.354839,3.290323,5.064516,3.774194,4.935484,5.709677,...,4.935484,1.967742,5.709677,4.806452,0.838710,3.161290,1.000000,0.000000,0.000000,0.000000
3,2014,4,1.200000,5.600000,4.866667,5.500000,4.466667,3.966667,4.433333,4.733333,...,5.900000,1.566667,5.666667,3.733333,2.366667,1.266667,0.000000,0.000000,0.000000,0.000000
4,2014,5,0.870968,2.935484,2.838710,8.354839,2.096774,2.548387,6.806452,5.451613,...,5.419355,1.645161,8.838710,6.580645,6.064516,2.548387,1.580645,0.000000,0.000000,0.000000
5,2014,6,0.800000,3.466667,4.666667,10.933333,3.400000,2.033333,5.900000,4.833333,...,4.166667,1.233333,6.000000,4.933333,1.666667,2.933333,0.000000,0.000000,0.000000,0.000000
6,2014,7,0.967742,3.000000,5.129032,7.451613,4.967742,1.258065,5.322581,5.000000,...,6.419355,0.000000,7.806452,6.612903,1.096774,2.838710,0.000000,0.000000,0.000000,0.000000
7,2014,8,0.903226,3.516129,4.193548,6.935484,3.419355,1.419355,3.838710,5.000000,...,3.258065,0.258065,4.516129,4.483871,1.000000,1.193548,0.000000,0.000000,0.000000,0.000000
8,2014,9,0.933333,3.400000,3.566667,6.333333,4.133333,3.400000,4.133333,4.966667,...,3.466667,1.566667,5.933333,4.100000,3.666667,1.900000,0.000000,0.000000,0.000000,0.000000
9,2014,10,0.935484,3.322581,5.161290,8.000000,3.000000,2.935484,6.516129,6.419355,...,6.806452,0.903226,3.129032,7.451613,2.806452,1.903226,0.000000,0.000000,0.838710,0.000000
10,2014,11,1.000000,2.433333,4.133333,6.000000,3.100000,5.400000,6.233333,6.133333,...,5.100000,2.900000,5.866667,7.900000,2.733333,3.200000,0.000000,0.766667,0.000000,0.000000
11,2014,12,0.870968,3.677419,4.096774,5.677419,2.806452,2.516129,3.451613,5.193548,...,4.064516,1.096774,3.548387,2.935484,0.290323,1.677419,0.000000,0.741935,0.000000,0.000000
12,2015,1,0.741935,6.419355,5.580645,4.838710,4.258065,1.903226,2.870968,4.612903,...,3.548387,0.129032,4.903226,6.032258,3.516129,1.741935,0.225806,0.000000,0.000000,0.000000
13,2015,2,0.821429,4.714286,7.392857,4.607143,3.857143,1.892857,2.178571,4.142857,...,5.035714,0.607143,9.071429,7.750000,8.392857,3.535714,2.000000,0.000000,0.000000,0.000000
14,2015,3,0.838710,4.612903,5.967742,7.483871,3.645161,3.129032,4.838710,7.161290,...,5.483871,0.838710,7.258065,7.193548,2.096774,2.225806,2.161290,0.000000,0.000000,0.000000
15,2015,4,0.866667,5.833333,5.633333,9.166667,5.033333,2.233333,4.933333,5.366667,...,3.833333,1.400000,6.466667,6.966667,3.400000,3.866667,0.000000,0.000000,0.000000,0.000000
16,2015,5,0.870968,2.903226,4.645161,7.064516,3.645161,2.290323,0.645161,5.096774,...,2.419355,1.387097,4.709677,8.645161,5.064516,2.193548,0.000000,0.000000,0.000000,0.000000
17,2015,6,1.000000,4.100000,4.933333,6.433333,4.333333,2.466667,4.700000,5.233333,...,4.433333,2.833333,7.200000,7.200000,4.900000,2.500000,0.566667,0.000000,0.000000,0.000000
18,2015,7,0.967742,5.645161,8.193548,6.129032,6.032258,2.741935,3.451613,7.032258,...,5.290323,2.354839,7.161290,7.774194,3.193548,2.774194,0.000000,0.000000,0.000000,0.000000
19,2015,8,0.741935,2.193548,4.354839,4.741935,3.612903,3.645161,2.903226,4.709677,...,4.483871,2.064516,5.548387,8.387097,5.870968,1.064516,1.612903,0.000000,0.000000,0.000000
20,2015,9,0.866667,7.300000,6.900000,3.800000,5.233333,1.366667,6.866667,5.466667,...,6.966667,2.933333,4.133333,8.133333,4.700000,2.800000,0.000000,0.000000,0.000000,0.000000
21,2015,10,0.903226,4.000000,4.838710,4.741935,1.935484,2.290323,3.290323,5.290323,...,4.903226,2.419355,7.322581,6.580645,7.548387,4.548387,0.548387,0.000000,0.000000,0.000000
22,2015,11,0.700000,4.933333,5.333333,9.433333,4.466667,1.666667,3.700000,4.000000,...,6.700000,0.800000,5.100000,5.100000,4.600000,2.400000,0.000000,0.000000,0.000000,0.000000
23,2015,12,0.709677,3.419355,6.903226,7.451613,3.677419,2.290323,4.161290,3.129032,...,3.806452,2.322581,4.516129,5.709677,4.903226,3.032258,0.000000,0.000000,0.000000,0.000000
24,2016,1,0.870968,3.000000,5.000000,7.483871,3.870968,2.258065,3.580645,6.322581,...,4.000000,3.322581,5.032258,5.677419,6.096774,1.129032,0.580645,0.000000,0.000000,0.000000
25,2016,2,0.793103,6.551724,7.655172,6.379310,2.551724,3.241379,3.448276,6.068966,...,4.448276,1.482759,5.586207,5.241379,4.379310,4.137931,1.137931,0.000000,0.000000,0.000000
26,2016,3,0.387097,2.451613,3.612903,3.258065,1.161290,1.774194,2.129032,2.032258,...,2.322581,1.935484,3.806452,2.645161,2.129032,0.935484,0.741935,0.000000,0.000000,0.000000
27,2016,4,0.666667,2.366667,3.066667,2.700000,2.266667,1.300000,2.366667,0.700000,...,1.033333,0.000000,2.066667,3.400000,2.466667,0.866667,0.000000,0.000000,0.000000,0.000000
28,2016,5,0.903226,3.129032,4.806452,4.903226,4.032258,3.193548,2.387097,3.290323,...,4.096774,2.645161,4.516129,4.129032,3.129032,1.516129,0.903226,0.000000,0.000000,0.000000
29,2016,6,0.866667,4.733333,5.800000,5.200000,5.466667,3.833333,1.100000,4.433333,...,4.433333,0.500000,5.366667,2.800000,3.900000,1.100000,0.000000,0.000000,0.000000,0.000000
30,2016,7,1.064516,5.516129,6.129032,7.548387,4.903226,2.548387,2.870968,2.225806,...,2.870968,0.838710,6.322581,6.838710,3.645161,0.838710,0.000000,0.000000,0.000000,0.000000
31,2016,8,1.161290,3.387097,5.580645,4.645161,4.612903,3.064516,3.870968,5.677419,...,6.387097,1.870968,5.258065,5.903226,3.032258,2.161290,0.258065,0.000000,0.000000,0.000000
32,2016,9,1.200000,3.566667,4.400000,8.166667,4.266667,2.266667,3.100000,4.333333,...,6.466667,1.466667,5.466667,7.166667,3.366667,3.333333,0.000000,0.000000,0.000000,0.000000
33,2016,10,0.903226,5.838710,4.838710,5.129032,3.451613,2.096774,2.645161,5.419355,...,3.419355,1.193548,5.774194,5.903226,4.290323,1.548387,0.000000,0.000000,0.000000,0.000000
34,2016,11,0.866667,5.000000,6.566667,5.300000,4.600000,1.800000,1.766667,5.433333,...,6.500000,0.600000,4.600000,8.533333,4.566667,3.300000,1.600000,0.000000,0.000000,0.000000
35,2016,12,0.612903,3.387097,5.290323,2.967742,3.612903,0.903226,2.225806,3.483871,...,5.580645,0.000000,4.838710,5.000000,3.870968,0.903226,0.000000,0.000000,0.000000,0.000000
36,2017,1,1.096774,2.548387,5.612903,6.225806,2.193548,2.354839,6.000000,6.225806,...,5.580645,3.193548,5.709677,8.548387,4.709677,0.838710,0.838710,0.677419,0.000000,0.000000
37,2017,2,0.892857,3.750000,4.500000,7.500000,2.071429,3.750000,2.928571,5.142857,...,5.000000,3.035714,4.142857,5.071429,5.178571,1.321429,2.464286,2.500000,0.000000,0.214286
38,2017,3,0.935484,4.612903,6.387097,9.387097,2.774194,3.580645,6.709677,5.677419,...,6.290323,1.774194,2.838710,5.806452,2.516129,1.967742,0.419355,0.000000,0.000000,0.000000
39,2017,4,0.866667,3.000000,3.933333,6.466667,2.500000,2.733333,4.366667,3.966667,...,4.300000,4.633333,5.966667,6.633333,2.766667,2.933333,1.966667,1.533333,0.000000,0.000000
40,2017,5,0.870968,2.516129,6.580645,7.129032,3.741935,5.838710,6.096774,4.000000,...,4.387097,3.032258,4.451613,4.322581,6.129032,0.774194,1.258065,0.935484,0.000000,0.000000
41,2017,6,0.900000,2.900000,5.333333,4.900000,2.800000,6.566667,4.833333,3.600000,...,3.500000,2.866667,5.100000,5.200000,2.266667,0.566667,4.600000,1.866667,0.000000,0.000000
42,2017,7,1.096774,2.258065,5.483871,7.064516,2.516129,3.548387,3.258065,6.161290,...,5.967742,0.967742,2.838710,5.096774,5.677419,0.903226,4.483871,0.129032,0.000000,0.000000
43,2017,8,0.903226,3.612903,3.290323,6.774194,2.870968,3.967742,6.903226,7.032258,...,5.483871,2.935484,7.161290,7.225806,4.903226,2.225806,6.548387,2.806452,0.000000,0.000000
44,2017,9,1.033333,2.566667,6.733333,6.633333,2.866667,4.366667,8.300000,5.733333,...,3.566667,1.466667,5.533333,5.066667,4.100000,0.900000,2.833333,2.200000,0.000000,0.000000
45,2017,10,1.064516,1.677419,6.096774,7.129032,3.290323,3.935484,5.096774,5.354839,...,4.419355,0.322581,6.548387,7.806452,2.290323,6.677419,1.290323,0.193548,0.000000,0.000000
46,2017,11,0.933333,3.766667,8.033333,8.000000,2.800000,1.600000,8.233333,7.133333,...,7.733333,4.033333,8.833333,4.866667,5.300000,2.566667,4.633333,0.000000,0.000000,0.000000
47,2017,12,0.516129,1.516129,4.741935,2.903226,1.870968,4.096774,5.612903,4.096774,...,4.032258,1.903226,2.161290,4.258065,3.354839,2.354839,4.290323,1.967742,0.000000,0.000000
48,2018,1,0.838710,3.161290,5.516129,5.000000,3.774194,4.451613,8.290323,6.225806,...,5.354839,1.419355,3.290323,7.580645,3.451613,2.096774,2.838710,0.000000,2.258065,0.000000
49,2018,2,0.928571,2.285714,7.571429,6.000000,6.607143,4.035714,4.892857,7.357143,...,6.071429,1.000000,6.250000,9.321429,5.035714,2.250000,1.285714,0.000000,3.321429,0.000000
50,2018,3,0.806452,2.193548,6.064516,4.483871,3.580645,2.548387,5.129032,4.000000,...,6.612903,2.451613,5.903226,9.580645,5.225806,4.516129,1.870968,0.000000,2.516129,0.000000
51,2018,4,0.833333,2.200000,6.166667,5.200000,5.066667,1.666667,2.233333,3.400000,...,5.700000,1.033333,4.533333,4.466667,1.733333,2.133333,1.833333,0.000000,2.000000,0.000000
52,2018,5,1.064516,2.709677,4.161290,5.354839,5.548387,2.967742,6.580645,5.806452,...,6.354839,1.451613,5.645161,6.032258,2.096774,0.290323,2.903226,0.000000,4.290323,0.000000
53,2018,6,0.833333,2.900000,5.533333,6.233333,3.833333,3.233333,1.766667,3.666667,...,6.233333,2.533333,5.666667,3.600000,3.300000,2.900000,2.866667,0.000000,2.233333,0.000000
54,2018,7,0.806452,3.483871,6.548387,4.258065,6.967742,3.064516,2.838710,6.774194,...,6.774194,1.903226,4.354839,5.967742,3.935484,2.774194,0.677419,0.000000,2.161290,0.000000
55,2018,8,0.935484,3.516129,6.870968,4.677419,3.225806,3.838710,3.645161,4.516129,...,4.516129,1.774194,4.322581,5.645161,4.645161,3.548387,0.516129,0.000000,2.838710,0.000000
56,2018,9,0.866667,2.666667,5.266667,4.900000,3.966667,4.433333,5.133333,4.533333,...,5.000000,1.000000,4.800000,5.700000,3.800000,1.800000,1.666667,0.000000,1.700000,0.000000
57,2018,10,1.064516,4.161290,7.870968,6.354839,4.870968,3.161290,7.548387,5.967742,...,5.225806,1.741935,4.451613,5.451613,5.516129,3.161290,0.774194,0.000000,3.258065,0.000000
58,2018,11,0.866667,4.066667,5.266667,5.033333,4.500000,2.900000,5.533333,5.166667,...,4.833333,0.566667,5.766667,6.233333,3.366667,2.233333,0.666667,0.000000,3.166667,0.000000
59,2018,12,0.677419,2.774194,4.774194,4.548387,4.645161,4.967742,1.516129,2.225806,...,4.419355,1.161290,6.903226,4.709677,1.741935,3.000000,1.580645,0.000000,2.741935,0.000000

In [332]:
res_max_df = res_max_df.drop(['day'], axis=1)
res_max_df = res_max_df.groupby(['year', 'month'], as_index=False).mean()
res_max_df

,year,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,2014,1,19.967742,18.419355,14.967742,11.096774,14.935484,13.741935,7.419355,12.096774,...,7.483871,2.064516,13.548387,7.838710,1.580645,1.870968,0.612903,0.000000,0.000000,0.000000
1,2014,2,22.785714,18.714286,15.678571,17.857143,16.500000,13.142857,7.035714,9.000000,...,11.857143,0.214286,13.071429,9.428571,2.000000,2.642857,0.500000,0.000000,0.000000,0.000000
2,2014,3,20.645161,17.483871,15.645161,14.483871,17.225806,13.709677,7.161290,12.032258,...,9.903226,2.032258,9.258065,5.870968,1.451613,3.806452,1.000000,0.000000,0.000000,0.000000
3,2014,4,18.566667,17.200000,11.600000,13.533333,15.400000,13.433333,8.866667,8.800000,...,8.100000,1.900000,8.433333,5.033333,3.133333,1.733333,0.000000,0.000000,0.000000,0.000000
4,2014,5,22.225806,20.645161,15.774194,13.354839,18.580645,16.419355,10.903226,13.387097,...,11.064516,1.709677,14.741935,8.741935,8.516129,2.709677,1.580645,0.000000,0.000000,0.000000
5,2014,6,20.533333,19.900000,15.466667,15.733333,17.600000,16.433333,11.800000,10.666667,...,7.833333,1.533333,11.100000,6.133333,2.433333,3.366667,0.000000,0.000000,0.000000,0.000000
6,2014,7,23.483871,21.870968,17.709677,18.548387,19.258065,17.870968,12.580645,11.838710,...,8.451613,0.000000,15.806452,8.064516,1.225806,2.838710,0.000000,0.000000,0.000000,0.000000
7,2014,8,18.096774,15.612903,14.064516,12.258065,13.935484,13.645161,9.903226,11.774194,...,4.290323,0.258065,12.677419,5.516129,1.645161,1.193548,0.000000,0.000000,0.000000,0.000000
8,2014,9,18.966667,15.766667,12.500000,13.266667,13.666667,14.200000,6.666667,8.666667,...,7.966667,2.033333,10.866667,6.166667,4.800000,2.233333,0.000000,0.000000,0.000000,0.000000
9,2014,10,20.387097,18.677419,16.516129,15.870968,17.258065,15.677419,9.806452,13.967742,...,10.870968,0.903226,17.806452,9.387097,4.677419,2.935484,0.000000,0.000000,0.838710,0.000000
10,2014,11,20.166667,18.033333,16.000000,10.900000,16.500000,13.966667,9.833333,10.500000,...,11.266667,4.433333,13.766667,9.733333,6.600000,4.033333,0.000000,0.900000,0.000000,0.000000
11,2014,12,18.419355,16.548387,12.967742,15.387097,15.903226,12.870968,5.032258,7.903226,...,10.225806,1.419355,13.838710,4.580645,0.290323,2.387097,0.000000,0.741935,0.000000,0.000000
12,2015,1,20.548387,16.774194,13.193548,18.161290,13.580645,17.645161,4.354839,11.129032,...,10.354839,0.129032,15.387097,8.354839,5.548387,2.032258,0.225806,0.000000,0.000000,0.000000
13,2015,2,25.000000,23.000000,18.214286,22.321429,19.785714,20.392857,4.107143,11.178571,...,13.071429,0.607143,18.285714,9.785714,11.357143,3.535714,2.000000,0.000000,0.000000,0.000000
14,2015,3,23.903226,20.419355,12.677419,20.741935,19.000000,20.580645,7.677419,12.612903,...,11.870968,0.838710,16.322581,10.258065,3.806452,3.612903,2.290323,0.000000,0.000000,0.000000
15,2015,4,22.166667,19.000000,13.500000,21.866667,18.100000,15.433333,6.800000,7.533333,...,14.433333,2.166667,12.133333,8.900000,6.266667,5.000000,0.000000,0.000000,0.000000,0.000000
16,2015,5,20.290323,18.258065,12.548387,18.419355,15.419355,15.806452,1.451613,8.483871,...,7.774194,2.741935,11.645161,11.741935,9.741935,2.903226,0.000000,0.000000,0.000000,0.000000
17,2015,6,23.200000,19.700000,8.800000,18.700000,20.466667,19.866667,7.066667,9.566667,...,8.833333,3.200000,15.433333,9.200000,13.600000,2.866667,0.566667,0.000000,0.000000,0.000000
18,2015,7,23.290323,21.483871,15.870968,20.935484,17.290323,17.354839,5.387097,10.774194,...,14.000000,2.387097,14.741935,11.032258,7.677419,3.741935,0.000000,0.000000,0.000000,0.000000
19,2015,8,21.516129,19.419355,11.548387,21.225806,17.419355,17.838710,5.258065,9.709677,...,9.322581,2.516129,12.290323,12.483871,7.387097,1.096774,1.967742,0.000000,0.000000,0.000000
20,2015,9,23.033333,19.633333,13.866667,19.166667,19.933333,19.566667,10.333333,10.166667,...,9.833333,6.533333,13.300000,10.733333,9.833333,2.800000,0.000000,0.000000,0.000000,0.000000
21,2015,10,22.322581,18.741935,16.064516,18.322581,20.064516,18.193548,4.483871,12.645161,...,10.645161,2.451613,14.161290,9.064516,9.677419,5.483871,0.548387,0.000000,0.000000,0.000000
22,2015,11,21.900000,18.033333,10.400000,18.000000,18.533333,17.666667,6.200000,11.033333,...,11.433333,1.300000,14.833333,6.666667,11.600000,3.266667,0.000000,0.000000,0.000000,0.000000
23,2015,12,18.935484,16.903226,9.612903,16.032258,14.580645,15.193548,6.225806,7.161290,...,6.000000,2.967742,12.451613,7.129032,8.354839,3.032258,0.000000,0.000000,0.000000,0.000000
24,2016,1,19.935484,18.967742,13.612903,17.645161,16.967742,15.870968,4.838710,8.870968,...,7.451613,3.870968,13.516129,8.645161,10.483871,1.870968,0.580645,0.000000,0.000000,0.000000
25,2016,2,21.793103,17.758621,15.275862,19.137931,17.172414,17.655172,4.241379,7.137931,...,6.931034,1.482759,15.206897,9.172414,12.586207,6.172414,1.206897,0.000000,0.000000,0.000000
26,2016,3,10.580645,9.419355,6.419355,9.645161,9.096774,8.258065,2.580645,3.580645,...,5.354839,2.064516,7.580645,3.935484,6.322581,1.258065,0.741935,0.000000,0.000000,0.000000
27,2016,4,7.566667,5.733333,4.666667,3.400000,4.600000,3.666667,3.466667,1.000000,...,1.866667,0.000000,3.600000,4.066667,2.833333,0.866667,0.000000,0.000000,0.000000,0.000000
28,2016,5,17.225806,15.741935,9.322581,11.774194,12.161290,13.580645,3.548387,6.322581,...,6.548387,2.741935,9.677419,5.225806,9.935484,2.064516,0.903226,0.000000,0.000000,0.000000
29,2016,6,20.266667,17.900000,13.900000,16.200000,17.366667,16.566667,1.566667,8.566667,...,5.633333,0.500000,11.200000,3.500000,15.566667,1.400000,0.000000,0.000000,0.000000,0.000000
30,2016,7,19.225806,16.903226,12.129032,16.258065,14.129032,16.258065,3.032258,6.193548,...,5.677419,0.838710,10.451613,7.451613,9.774194,0.838710,0.000000,0.000000,0.000000,0.000000
31,2016,8,21.709677,20.000000,12.741935,18.000000,18.645161,18.903226,6.548387,8.516129,...,9.612903,2.064516,11.741935,11.032258,7.483871,2.161290,0.258065,0.000000,0.000000,0.000000
32,2016,9,22.366667,21.366667,15.466667,18.666667,18.066667,18.400000,5.233333,7.833333,...,8.833333,1.566667,16.533333,10.200000,11.033333,4.100000,0.000000,0.000000,0.000000,0.000000
33,2016,10,21.354839,19.806452,15.096774,16.741935,16.612903,18.580645,3.064516,9.677419,...,7.516129,1.935484,13.870968,10.000000,14.387097,1.548387,0.000000,0.000000,0.000000,0.000000
34,2016,11,21.033333,20.333333,15.800000,19.566667,19.266667,17.600000,1.766667,8.400000,...,10.566667,0.600000,12.533333,11.866667,10.200000,4.233333,1.600000,0.000000,0.000000,0.000000
35,2016,12,16.967742,16.612903,11.225806,16.000000,14.322581,12.774194,3.354839,5.000000,...,7.354839,0.000000,10.322581,7.548387,11.322581,1.580645,0.000000,0.000000,0.000000,0.000000
36,2017,1,22.612903,21.516129,13.935484,16.290323,17.935484,17.000000,7.322581,12.774194,...,14.677419,3.903226,14.741935,11.096774,13.645161,0.838710,0.838710,0.677419,0.000000,0.000000
37,2017,2,21.285714,19.500000,11.142857,19.714286,19.892857,15.607143,5.642857,13.928571,...,11.214286,3.607143,16.214286,8.821429,12.964286,1.821429,3.428571,3.107143,0.000000,0.357143
38,2017,3,22.129032,20.935484,13.774194,15.612903,19.096774,15.870968,10.483871,12.774194,...,13.838710,1.774194,15.129032,10.193548,11.548387,1.967742,0.419355,0.000000,0.000000,0.000000
39,2017,4,20.333333,18.700000,7.066667,14.266667,17.366667,15.566667,8.966667,10.733333,...,10.766667,5.666667,12.900000,6.933333,9.200000,3.233333,2.733333,1.533333,0.000000,0.000000
40,2017,5,20.709677,21.419355,8.387097,9.354839,19.580645,16.935484,6.612903,9.161290,...,16.419355,3.645161,16.451613,4.709677,12.096774,1.387097,1.258065,1.677419,0.000000,0.000000
41,2017,6,20.966667,19.433333,7.100000,8.900000,16.233333,13.300000,6.933333,8.900000,...,9.500000,3.766667,14.466667,6.033333,8.700000,0.633333,8.300000,1.866667,0.000000,0.000000
42,2017,7,21.774194,20.967742,9.322581,13.354839,18.516129,15.645161,5.677419,13.935484,...,11.387097,0.967742,18.258065,8.612903,10.645161,1.096774,6.483871,0.129032,0.000000,0.000000
43,2017,8,24.838710,23.193548,7.741935,18.032258,23.645161,15.580645,11.483871,14.193548,...,11.354839,4.000000,16.161290,11.870968,9.967742,2.483871,9.161290,2.806452,0.000000,0.000000
44,2017,9,23.833333,23.333333,12.133333,15.066667,20.900000,14.600000,11.733333,11.766667,...,12.166667,1.766667,16.033333,6.400000,12.366667,1.000000,4.800000,2.266667,0.000000,0.000000
45,2017,10,21.612903,21.709677,11.516129,11.709677,19.193548,15.000000,6.903226,12.290323,...,14.645161,0.322581,16.935484,10.870968,11.709677,7.032258,2.096774,0.354839,0.000000,0.000000
46,2017,11,24.100000,23.800000,13.666667,13.566667,21.000000,19.566667,10.533333,15.000000,...,17.600000,5.866667,17.400000,10.233333,11.333333,2.833333,4.733333,0.000000,0.000000,0.000000
47,2017,12,15.322581,15.322581,8.290323,11.870968,13.806452,10.741935,6.870968,8.419355,...,8.290323,2.322581,10.741935,6.096774,7.967742,2.548387,5.451613,2.322581,0.000000,0.000000
48,2018,1,23.064516,22.161290,14.000000,16.709677,20.193548,17.516129,9.322581,9.129032,...,14.580645,1.483871,16.193548,11.322581,7.645161,2.967742,2.903226,0.000000,3.322581,0.000000
49,2018,2,22.285714,20.821429,14.178571,16.500000,18.607143,16.428571,10.321429,9.285714,...,13.142857,1.000000,16.000000,13.535714,10.785714,2.428571,1.571429,0.000000,3.892857,0.000000
50,2018,3,22.677419,21.741935,12.032258,19.064516,16.451613,16.129032,7.935484,12.161290,...,11.451613,2.580645,14.774194,14.774194,9.322581,5.322581,1.870968,0.000000,3.032258,0.000000
51,2018,4,19.466667,18.833333,11.533333,13.566667,18.533333,13.133333,3.000000,7.100000,...,9.200000,4.300000,13.666667,5.700000,4.933333,2.133333,2.166667,0.000000,2.000000,0.000000
52,2018,5,21.032258,20.516129,9.903226,15.612903,16.354839,14.096774,9.612903,9.645161,...,11.774194,1.774194,16.548387,6.677419,5.258065,0.290323,3.419355,0.000000,5.354839,0.000000
53,2018,6,18.700000,18.300000,13.133333,14.300000,14.400000,14.500000,2.733333,5.600000,...,9.866667,3.166667,12.900000,5.800000,11.033333,2.900000,3.466667,0.000000,3.266667,0.000000
54,2018,7,22.096774,21.354839,8.967742,16.064516,16.483871,15.258065,4.290323,12.096774,...,9.000000,2.290323,16.322581,13.870968,10.935484,2.806452,0.677419,0.000000,3.387097,0.000000
55,2018,8,21.483871,20.838710,13.129032,17.064516,16.000000,14.677419,6.322581,6.612903,...,9.903226,1.870968,15.032258,10.193548,6.741935,4.677419,0.516129,0.000000,3.096774,0.000000
56,2018,9,19.300000,19.600000,12.066667,13.300000,11.966667,12.766667,6.133333,8.433333,...,9.466667,1.000000,13.533333,9.966667,12.066667,2.133333,1.666667,0.000000,1.700000,0.000000
57,2018,10,23.612903,22.806452,14.032258,17.193548,18.161290,16.774194,10.064516,12.516129,...,16.129032,1.838710,13.935484,9.774194,10.548387,4.774194,0.774194,0.000000,4.419355,0.000000
58,2018,11,22.100000,20.533333,12.433333,14.333333,17.766667,15.266667,7.733333,10.033333,...,10.400000,0.833333,13.566667,8.566667,15.133333,3.733333,0.666667,0.000000,6.400000,0.000000
59,2018,12,15.322581,13.290323,7.129032,14.225806,12.645161,9.935484,1.935484,4.193548,...,8.419355,2.096774,11.870968,6.322581,7.451613,3.580645,1.580645,0.000000,3.387097,0.000000

In [333]:
final_res.to_csv('topic_ranks_news_at_1_6_10_by_year_month.csv')
res_std_df.to_csv('topic_ranks_std_news_at_1_6_10_by_year_month.csv')
res_min_df.to_csv('topic_ranks_min_news_at_1_6_10_by_year_month.csv')
res_max_df.to_csv('topic_ranks_max_news_at_1_6_10_by_year_month.csv')

# Topic Ranks for all

In [8]:
years = [2015, 2016, 2017]
bbc_ids = [54, 106, 107, 175, 279]
exclude = 'no_Others'

In [14]:
rows = []
for year in years:
    for bbc_id in bbc_ids:
        print(year, bbc_id)
        df = pd.read_csv('../data/partition_predictions/topics_pred_on_bert_partitioned_bbc_{}_{}_with_news_classifier_{}.csv'.format(bbc_id, year, exclude))
        df = df.drop(['Unnamed: 0'], axis=1)
        df['topic'] = df['topic'].apply(lambda x: ast.literal_eval(x))
        df['topic'] = df['topic'].apply(lambda x: x[0][0])
        df['length'] = df['transcript'].apply(lambda x: len(x.split()))
        df
        for month in range(1, 13):
            df_month = df.loc[df.date.str.contains(months[month-1])]

            partition_id = None
            pos = 0
            topic_ranks_for_month = {topic:[] for topic in topics}
            last_topic = None
            for index, row in df_month.iterrows():
                if partition_id is None:
                    partition_id = row['partition_id']
                    pos = 1
                    last_topic = row['topic']
                elif partition_id == row['partition_id']:
                    if last_topic == row['topic']:
                        continue
                    last_topic = row['topic']
                    pos += 1
                else:
                    pos = 1
                    partition_id = row['partition_id']
                    last_topic = row['topic']
                topic_ranks_for_month[row['topic']].append(pos)
            row = [year, month, bbc_id]
            row += [np.nanmean(topic_ranks_for_month[topic]) for topic in topics]
            rows.append(row)

2015 54

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:34: RuntimeWarning: Mean of empty slice

2015 106
2015 107
2015 175
2015 279
2016 54
2016 106
2016 107
2016 175
2016 279
2017 54
2017 106
2017 107
2017 175
2017 279

In [15]:
res = pd.DataFrame(rows, columns=header)

In [16]:
res

,year,month,bbc_id,"Agriculture, animals, food and rural affairs","Asylum, immigration and nationality","Business, industry and consumers",Communities and families,"Crime, civil law, justice and rights","Culture, media and sport",Defence,...,European Union,Health services and medicine,Housing and planning,International affairs,"Parliament, government and politics",Science and technology,Social security and pensions,Social services,Transport,Others
0,2015,1,54,15.210526,NaN,21.150000,3.000000,13.023077,15.417062,12.000000,...,2.000000,12.547619,NaN,16.170347,14.199005,NaN,NaN,NaN,15.297521,NaN
1,2015,2,54,61.107143,NaN,41.321168,NaN,25.737255,35.067024,19.888889,...,60.333333,30.661017,NaN,38.699758,33.057265,NaN,NaN,NaN,34.092652,NaN
2,2015,3,54,54.485714,NaN,51.276119,39.333333,27.631868,36.436433,49.452830,...,109.333333,34.557047,NaN,50.253378,37.722001,NaN,NaN,NaN,42.400000,NaN
3,2015,4,54,53.900000,NaN,33.553846,6.000000,22.686869,31.476501,28.411765,...,42.866667,23.136986,NaN,39.393443,29.233687,NaN,NaN,NaN,30.746479,NaN
4,2015,5,54,32.131579,NaN,34.819672,16.500000,17.326633,24.128125,44.000000,...,26.538462,15.655556,NaN,36.459807,25.860558,NaN,NaN,NaN,25.664093,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2017,8,279,34.154762,52.0,27.028571,26.142857,30.586895,32.776931,32.080808,...,26.487500,35.391566,37.800000,29.200000,32.434870,NaN,NaN,NaN,37.000000,NaN
176,2017,9,279,35.967213,44.0,29.528302,25.695652,27.386018,29.629744,21.134328,...,25.806763,31.413333,16.000000,26.235849,30.118151,NaN,NaN,NaN,27.022472,NaN
177,2017,10,279,23.945946,7.0,25.676471,40.142857,30.840532,29.225138,36.588235,...,24.693333,35.266667,38.000000,26.538462,27.959596,NaN,NaN,NaN,29.714286,NaN
178,2017,11,279,46.411111,76.0,50.549020,50.466667,41.973333,45.995757,40.569620,...,44.082840,47.000000,69.750000,40.942500,45.899787,NaN,NaN,NaN,53.112676,NaN
179,2017,12,279,46.370370,19.0,54.125000,46.666667,45.614396,45.637998,53.101266,...,39.371134,47.020173,69.666667,40.553763,43.743373,NaN,NaN,NaN,44.217391,NaN

In [17]:
res.to_csv('partition_topic_ranks_by_month_{}_{}.csv'.format(years[0], years[-1]))

In [19]:
header = ['year', 'bbc_id']
header += topics

In [21]:
rows = []
for year in years:
    for bbc_id in bbc_ids:
        print(year, bbc_id)
        df = pd.read_csv('../data/partition_predictions/topics_pred_on_bert_partitioned_bbc_{}_{}_with_news_classifier_{}.csv'.format(bbc_id, year, exclude))
        df = df.drop(['Unnamed: 0'], axis=1)
        df['topic'] = df['topic'].apply(lambda x: ast.literal_eval(x))
        df['topic'] = df['topic'].apply(lambda x: x[0][0])
        df['length'] = df['transcript'].apply(lambda x: len(x.split()))
        df['date'] = pd.to_datetime(df['date'])
        mask = (df['date'] >= '2015-5-1') & (df['date'] <= '2017-5-31')
        df = df[mask]

        partition_id = None
        pos = 0
        topic_ranks_for_month = {topic:[] for topic in topics}
        last_topic = None
        for index, row in df.iterrows():
            if partition_id is None:
                partition_id = row['partition_id']
                pos = 1
                last_topic = row['topic']
            elif partition_id == row['partition_id']:
                if last_topic == row['topic']:
                    continue
                last_topic = row['topic']
                pos += 1
            else:
                pos = 1
                partition_id = row['partition_id']
                last_topic = row['topic']
            topic_ranks_for_month[row['topic']].append(pos)
        row = [year, bbc_id]
        row += [np.nanmean(topic_ranks_for_month[topic]) for topic in topics]
        rows.append(row)

2015 54

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:34: RuntimeWarning: Mean of empty slice

2015 106
2015 107
2015 175
2015 279
2016 54
2016 106
2016 107
2016 175
2016 279
2017 54
2017 106
2017 107
2017 175
2017 279

In [22]:
res = pd.DataFrame(rows, columns=header)
res

,year,bbc_id,"Agriculture, animals, food and rural affairs","Asylum, immigration and nationality","Business, industry and consumers",Communities and families,"Crime, civil law, justice and rights","Culture, media and sport",Defence,Economy and finance,...,European Union,Health services and medicine,Housing and planning,International affairs,"Parliament, government and politics",Science and technology,Social security and pensions,Social services,Transport,Others
0,2015,54,34.473118,NaN,27.649502,13.090909,19.071279,26.667328,21.516667,18.416149,...,28.337079,23.231563,NaN,31.977753,26.135474,NaN,NaN,NaN,29.415996,NaN
1,2015,106,21.414286,NaN,17.652672,NaN,15.495708,18.430566,12.540984,15.633333,...,13.560000,18.122905,NaN,12.693368,15.561523,NaN,NaN,NaN,17.938947,NaN
2,2015,107,14.962025,NaN,11.987879,NaN,9.688017,12.757348,9.270270,7.809524,...,6.800000,10.339853,NaN,7.302554,11.189713,NaN,NaN,NaN,12.495591,NaN
3,2015,175,16.616279,NaN,12.484412,17.600000,13.350638,14.529379,11.156716,8.975000,...,8.532258,12.335025,NaN,9.890323,12.810626,NaN,NaN,NaN,15.282609,NaN
4,2015,279,9.876923,NaN,8.849765,24.500000,8.135965,9.832270,7.144144,6.319149,...,5.918919,9.265403,NaN,7.639463,8.738192,NaN,NaN,NaN,9.560855,NaN
5,2016,54,69.144056,NaN,70.162986,23.571429,43.500178,56.759548,54.504065,61.798621,...,50.840888,48.258268,NaN,66.522819,56.756708,NaN,NaN,NaN,56.498967,NaN
6,2016,106,16.803030,NaN,12.876364,20.000000,13.524416,13.796976,11.000000,12.592233,...,12.691700,15.137931,NaN,10.586124,12.682808,NaN,NaN,NaN,14.744186,NaN
7,2016,107,12.246753,NaN,9.140541,11.000000,8.902711,10.587509,7.825000,7.727273,...,8.120690,9.599440,NaN,7.732143,10.010212,NaN,NaN,NaN,11.673016,NaN
8,2016,175,13.719101,NaN,9.731844,7.600000,9.382716,10.199633,8.915385,9.034091,...,8.029674,10.016845,NaN,8.718182,9.720202,NaN,NaN,NaN,10.416603,NaN
9,2016,279,29.580357,NaN,20.009804,16.500000,18.682256,19.710173,17.084906,16.920530,...,19.156733,29.456311,NaN,19.225148,18.528853,NaN,NaN,NaN,26.686147,NaN
10,2017,54,67.357995,86.950000,80.905512,38.509091,59.716213,64.098268,65.955145,69.264317,...,60.190853,54.413713,19.560000,70.718458,62.994205,118.5,NaN,NaN,53.122841,NaN
11,2017,106,16.166667,16.333333,13.982456,16.750000,11.199211,11.970304,13.563636,12.852792,...,9.885965,13.351111,21.307692,11.177986,10.767281,NaN,NaN,NaN,9.488889,NaN
12,2017,107,11.955882,4.000000,9.466667,12.172414,7.444084,8.825277,8.391892,7.797297,...,6.570312,8.838565,3.333333,6.315315,8.149522,NaN,NaN,NaN,10.460526,NaN
13,2017,175,10.934783,NaN,10.147887,9.246914,9.404747,9.793682,9.647619,9.764858,...,8.159544,10.218824,9.750000,8.744731,10.109297,NaN,NaN,NaN,9.779528,NaN
14,2017,279,36.893688,9.200000,27.121457,28.293333,27.093076,27.253053,25.752914,23.986146,...,25.700787,28.445693,23.428571,25.765625,26.493232,NaN,NaN,NaN,36.943478,NaN

In [23]:
res = res.drop(['year'], axis=1)
final_res = res.groupby(['bbc_id'], as_index=False).mean()
final_res

,bbc_id,"Agriculture, animals, food and rural affairs","Asylum, immigration and nationality","Business, industry and consumers",Communities and families,"Crime, civil law, justice and rights","Culture, media and sport",Defence,Economy and finance,Education,...,European Union,Health services and medicine,Housing and planning,International affairs,"Parliament, government and politics",Science and technology,Social security and pensions,Social services,Transport,Others
0,54,56.991723,86.950000,59.572666,25.057143,40.762557,49.175048,47.325292,49.826362,39.850216,...,46.456273,41.967848,19.560000,56.406343,48.628796,118.5,NaN,NaN,46.345935,NaN
1,106,18.127994,16.333333,14.837164,18.375000,13.406445,14.732616,12.368207,13.692786,15.008818,...,12.045888,15.537316,21.307692,11.485826,13.003871,NaN,NaN,NaN,14.057341,NaN
2,107,13.054887,4.000000,10.198362,11.586207,8.678271,10.723378,8.495721,7.778031,10.416599,...,7.163667,9.592619,3.333333,7.116671,9.783149,NaN,NaN,NaN,11.543044,NaN
3,175,13.756721,NaN,10.788048,11.482305,10.712700,11.507565,9.906573,9.257983,10.981377,...,8.240492,10.856898,9.750000,9.117745,10.880042,NaN,NaN,NaN,11.826246,NaN
4,279,25.450323,9.200000,18.660342,23.097778,17.970432,18.931832,16.660655,15.741942,22.292194,...,16.925480,22.389135,23.428571,17.543412,17.920092,NaN,NaN,NaN,24.396827,NaN

In [24]:
final_res.to_csv('partition_topic_ranks_by_2015_may_2017_may.csv')

# Method2: Word ranks weighing

In [266]:
# topics = list(topics_name_to_index_map.keys())
year = 2018
bbc_id = 54
header = ['day', 'month']
header += topics
rows = []
rows_std = []
rows_min = []
rows_max = []
lrows = []

In [267]:
df = pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_{}.csv'.format(year))
df = df.drop(['Unnamed: 0'], axis=1)
df['length'] = df['transcript'].apply(lambda x: len(x.split()))
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].apply(lambda x: '{}-{}-{}'.format(x.day, calendar.month_abbr[x.month].lower(), x.year))

In [268]:
df

,partition_id,date,source,transcript,type,topic,length
0,0,2-jun-2018,BBC News,"but also gathering storm clouds, some further...",p,Energy and environment,607
1,0,2-jun-2018,BBC News,"Jotheremy Thorpe, I’m arresting you for consp...",p,"Parliament, government and politics",142
2,0,2-jun-2018,BBC News,Canada hasjoined the European Union in filing...,p,European Union,94
3,0,2-jun-2018,BBC News,After the closure of its main steel plant 20 ...,p,"Business, industry and consumers",229
4,0,2-jun-2018,BBC News,This is further weakening the transatlantic r...,p,Transport,85
...,...,...,...,...,...,...,...
100273,1582,31-oct-2018,BBC London News,John is one of a group of Hackney families ta...,p,Education,278
100274,1582,31-oct-2018,BBC London News,The Duchess of Cambridge has paid a visit to ...,p,Defence,66
100275,1582,31-oct-2018,BBC London News,"Well, I’m off with the team — to do some late...",p,"Parliament, government and politics",1507
100276,1582,31-oct-2018,BBC London News,"CHEERING AND APPLAUSE Hello, and welcome to A...",p,"Parliament, government and politics",48
100277,1582,31-oct-2018,BBC London News,"I tell you what, Sue, with this team, it coul...",p,"Culture, media and sport",259

In [269]:
def score(start_pos, end_pos):
#     print(start_pos, end_pos)
    x = np.sum(range(start_pos, end_pos))/(end_pos - start_pos + 1)
    return x

In [270]:
for month in range(1, 13):
    for day in range(1, calendar.monthrange(year, month)[1]): # calendar.monthrange(year, month)[1]
        date_string = '{}-{}-{}'.format(day, calendar.month_abbr[month].lower(), year)
        print(date_string)
        df_day = df.loc[df.date == date_string].reset_index(drop=True)
        partition_ids = df_day.partition_id.unique()
        topic_ranks_for_day = {topic:[] for topic in topics}
        lengths_by_topic = {topic: [] for topic in topics}
        
        for id_ in partition_ids:
            df_partition = df_day.loc[df_day.partition_id == id_].reset_index(drop=True)
#             display(df_partition)
            length = df_partition['length'].sum()
            last_topic = None
            start_pos = 1
            end_pos = 1
            total_length_now = 0
            
            for index, row in df_partition.iterrows():
                
                if total_length_now >= 500:
                    break
                    
                if last_topic is None:
                    start_pos = 1
                    end_pos = start_pos + row['length'] - 1
                    last_topic = row['topic']
                elif last_topic == row['topic']:
                    end_pos = end_pos + row['length']
                    if index == len(df_partition) - 1:
                        topic_ranks_for_day[last_topic].append(score(start_pos, end_pos)) 
                        lengths_by_topic[last_topic].append(end_pos - start_pos + 1)
                else:
                    topic_ranks_for_day[last_topic].append(score(start_pos, end_pos))
                    lengths_by_topic[last_topic].append(end_pos - start_pos + 1)
                    start_pos = end_pos + 1
                    end_pos = start_pos + row['length'] - 1
                    last_topic = row['topic']
                total_length_now += row['length']
#                 print('start: ', start_pos)
#                 print('end: ', end_pos)
#         for topic in topics:
#             print(topic, topic_ranks_for_day[topic])
        row = [day, month]
        row_std = [day, month]
        lrow = [day, month]
        row_min = [day, month]
        row_max = [day, month]
        lrow += [np.mean(lengths_by_topic[topic]) for topic in topics]
        row += [np.mean(topic_ranks_for_day[topic]) for topic in topics]
        row_std += [np.nanstd(topic_ranks_for_day[topic]) for topic in topics]
        row_min += [min(topic_ranks_for_day[topic], default=0) for topic in topics]
        row_max += [max(topic_ranks_for_day[topic], default=0) for topic in topics]
        rows.append(row)
        rows_std.append(row_std)
        rows_min.append(row_min)
        rows_max.append(row_max)
        lrows.append(lrow)

1-jan-2018
2-jan-2018
3-jan-2018
4-jan-2018
5-jan-2018
6-jan-2018

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1667: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

7-jan-2018
8-jan-2018
9-jan-2018
10-jan-2018
11-jan-2018
12-jan-2018
13-jan-2018
14-jan-2018
15-jan-2018
16-jan-2018
17-jan-2018
18-jan-2018
19-jan-2018
20-jan-2018
21-jan-2018
22-jan-2018
23-jan-2018
24-jan-2018
25-jan-2018
26-jan-2018
27-jan-2018
28-jan-2018
29-jan-2018
30-jan-2018
1-feb-2018
2-feb-2018
3-feb-2018
4-feb-2018
5-feb-2018
6-feb-2018
7-feb-2018
8-feb-2018
9-feb-2018
10-feb-2018
11-feb-2018
12-feb-2018
13-feb-2018
14-feb-2018
15-feb-2018
16-feb-2018
17-feb-2018
18-feb-2018
19-feb-2018
20-feb-2018
21-feb-2018
22-feb-2018
23-feb-2018
24-feb-2018
25-feb-2018
26-feb-2018
27-feb-2018
1-mar-2018
2-mar-2018
3-mar-2018
4-mar-2018
5-mar-2018
6-mar-2018
7-mar-2018
8-mar-2018
9-mar-2018
10-mar-2018
11-mar-2018
12-mar-2018
13-mar-2018
14-mar-2018
15-mar-2018
16-mar-2018
17-mar-2018
18-mar-2018
19-mar-2018
20-mar-2018
21-mar-2018
22-mar-2018
23-mar-2018
24-mar-2018
25-mar-2018
26-mar-2018
27-mar-2018
28-mar-2018
29-mar-2018
30-mar-2018
1-apr-2018
2-apr-2018
3-apr-2018
4-apr-2018
5-apr-2018
6-apr-2018
7-apr-2018
8-apr-2018
9-apr-2018
10-apr-2018
11-apr-2018
12-apr-2018
13-apr-2018
14-apr-2018
15-apr-2018
16-apr-2018
17-apr-2018
18-apr-2018
19-apr-2018
20-apr-2018
21-apr-2018
22-apr-2018
23-apr-2018
24-apr-2018
25-apr-2018
26-apr-2018
27-apr-2018
28-apr-2018
29-apr-2018
1-may-2018
2-may-2018
3-may-2018
4-may-2018
5-may-2018
6-may-2018
7-may-2018
8-may-2018
9-may-2018
10-may-2018
11-may-2018
12-may-2018
13-may-2018
14-may-2018
15-may-2018
16-may-2018
17-may-2018
18-may-2018
19-may-2018
20-may-2018
21-may-2018
22-may-2018
23-may-2018
24-may-2018
25-may-2018
26-may-2018
27-may-2018
28-may-2018
29-may-2018
30-may-2018
1-jun-2018
2-jun-2018
3-jun-2018
4-jun-2018
5-jun-2018
6-jun-2018
7-jun-2018
8-jun-2018
9-jun-2018
10-jun-2018
11-jun-2018
12-jun-2018
13-jun-2018
14-jun-2018
15-jun-2018
16-jun-2018
17-jun-2018
18-jun-2018
19-jun-2018
20-jun-2018
21-jun-2018
22-jun-2018
23-jun-2018
24-jun-2018
25-jun-2018
26-jun-2018
27-jun-2018
28-jun-2018
29-jun-2018
1-jul-2018
2-jul-2018
3-jul-2018
4-jul-2018
5-jul-2018
6-jul-2018
7-jul-2018
8-jul-2018
9-jul-2018
10-jul-2018
11-jul-2018
12-jul-2018
13-jul-2018
14-jul-2018
15-jul-2018
16-jul-2018
17-jul-2018
18-jul-2018
19-jul-2018
20-jul-2018
21-jul-2018
22-jul-2018
23-jul-2018
24-jul-2018
25-jul-2018
26-jul-2018
27-jul-2018
28-jul-2018
29-jul-2018
30-jul-2018
1-aug-2018
2-aug-2018
3-aug-2018
4-aug-2018
5-aug-2018
6-aug-2018
7-aug-2018
8-aug-2018
9-aug-2018
10-aug-2018
11-aug-2018
12-aug-2018
13-aug-2018
14-aug-2018
15-aug-2018
16-aug-2018
17-aug-2018
18-aug-2018
19-aug-2018
20-aug-2018
21-aug-2018
22-aug-2018
23-aug-2018
24-aug-2018
25-aug-2018
26-aug-2018
27-aug-2018
28-aug-2018
29-aug-2018
30-aug-2018
1-sep-2018
2-sep-2018
3-sep-2018
4-sep-2018
5-sep-2018
6-sep-2018
7-sep-2018
8-sep-2018
9-sep-2018
10-sep-2018
11-sep-2018
12-sep-2018
13-sep-2018
14-sep-2018
15-sep-2018
16-sep-2018
17-sep-2018
18-sep-2018
19-sep-2018
20-sep-2018
21-sep-2018
22-sep-2018
23-sep-2018
24-sep-2018
25-sep-2018
26-sep-2018
27-sep-2018
28-sep-2018
29-sep-2018
1-oct-2018
2-oct-2018
3-oct-2018
4-oct-2018
5-oct-2018
6-oct-2018
7-oct-2018
8-oct-2018
9-oct-2018
10-oct-2018
11-oct-2018
12-oct-2018
13-oct-2018
14-oct-2018
15-oct-2018
16-oct-2018
17-oct-2018
18-oct-2018
19-oct-2018
20-oct-2018
21-oct-2018
22-oct-2018
23-oct-2018
24-oct-2018
25-oct-2018
26-oct-2018
27-oct-2018
28-oct-2018
29-oct-2018
30-oct-2018
1-nov-2018
2-nov-2018
3-nov-2018
4-nov-2018
5-nov-2018
6-nov-2018
7-nov-2018
8-nov-2018
9-nov-2018
10-nov-2018
11-nov-2018
12-nov-2018
13-nov-2018
14-nov-2018
15-nov-2018
16-nov-2018
17-nov-2018
18-nov-2018
19-nov-2018
20-nov-2018
21-nov-2018
22-nov-2018
23-nov-2018
24-nov-2018
25-nov-2018
26-nov-2018
27-nov-2018
28-nov-2018
29-nov-2018
1-dec-2018
2-dec-2018
3-dec-2018
4-dec-2018
5-dec-2018
6-dec-2018
7-dec-2018
8-dec-2018
9-dec-2018
10-dec-2018
11-dec-2018
12-dec-2018
13-dec-2018
14-dec-2018
15-dec-2018
16-dec-2018
17-dec-2018
18-dec-2018
19-dec-2018
20-dec-2018
21-dec-2018
22-dec-2018
23-dec-2018
24-dec-2018
25-dec-2018
26-dec-2018
27-dec-2018
28-dec-2018
29-dec-2018
30-dec-2018

In [271]:
res = pd.DataFrame(rows, columns=header)
res = res.fillna(0)
res.to_csv('partition_topic_ranks_by_day_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res

,day,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,1,1,150.602309,64.246667,0.000000,260.048843,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,186.000000,0.0,0.0,0.0,0.000000,0.0
1,2,1,199.734452,183.997494,0.000000,107.261734,0.000000,188.400627,0.0,0.000000,...,0.0,0.000000,139.827688,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
2,3,1,222.881454,114.269231,0.000000,0.000000,0.000000,305.708333,0.0,0.000000,...,0.0,0.000000,119.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
3,4,1,115.250390,181.731336,0.000000,153.205686,0.000000,121.875000,0.0,0.000000,...,0.0,0.000000,42.250000,11.500000,0.000000,0.0,0.0,0.0,0.000000,0.0
4,5,1,168.558306,150.599185,146.106643,0.000000,135.065763,197.029412,0.0,0.000000,...,0.0,0.000000,176.659574,399.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,26,12,137.760314,21.448718,52.847947,90.066667,13.500000,0.000000,0.0,130.921875,...,0.0,0.000000,60.000000,120.240509,0.000000,0.0,0.0,0.0,74.848485,0.0
349,27,12,108.913896,0.000000,0.000000,136.429688,286.631420,282.708333,0.0,339.375000,...,0.0,0.000000,51.469388,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
350,28,12,129.411883,267.422222,100.852800,53.215517,125.416667,114.352941,0.0,0.000000,...,0.0,129.455623,154.590426,113.790698,141.086957,0.0,0.0,0.0,0.000000,0.0
351,29,12,129.304691,170.354175,178.132275,220.606061,0.000000,0.000000,0.0,0.000000,...,0.0,189.146249,0.000000,95.555556,0.000000,0.0,0.0,0.0,0.000000,0.0
352,30,12,111.839286,164.402778,0.000000,55.218750,0.000000,294.208333,0.0,0.000000,...,194.5,160.996885,0.000000,377.891566,325.766667,0.0,0.0,0.0,0.000000,0.0

In [272]:
res = pd.DataFrame(rows_std, columns=header)
res = res.fillna(0)
res.to_csv('partition_topic_ranks_std_by_day_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res

,day,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,1,1,104.460250,10.246667,0.000000,126.565618,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,119.776449,104.481720,0.000000,55.302971,0.000000,169.281442,0.0,0.0,...,0.0,0.000000,48.431136,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,87.402898,69.213466,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,54.659171,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1,63.341282,113.242207,0.000000,112.307135,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,1.750000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,121.122610,74.848972,1.970280,0.000000,101.227557,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,26,12,132.938440,1.448718,11.690846,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,133.782873,0.0,0.0,0.0,0.0,0.0,0.0
349,27,12,130.102786,0.000000,0.000000,64.103712,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
350,28,12,95.330743,0.000000,62.316214,18.715517,0.000000,0.000000,0.0,0.0,...,0.0,80.030091,107.590426,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
351,29,12,104.061584,90.247277,107.846561,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,82.953878,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
352,30,12,104.859024,17.597222,0.000000,7.218750,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [273]:
res2 = res.groupby(['month']).agg('mean').drop(['day'], axis=1)
res2

,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,Energy and environment,Communities and families,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
month,,,,,,,,,,,,,,,,,,,,
1,105.926386,66.390224,16.265077,20.316967,21.847659,17.626500,0.000000,4.770278,11.686996,0.000000,13.938533,0.000000,21.030601,5.365848,0.895690,0.000000,0.0,0.0,0.163042,0.0
2,89.392847,64.806719,5.421141,17.071730,30.906867,32.531012,4.504674,0.000000,10.983957,2.565502,7.140674,0.000000,5.367736,5.187377,10.097567,0.000000,0.0,0.0,0.000000,0.0
3,107.130213,67.107394,2.384639,35.308384,27.592772,28.627175,1.125330,31.898533,13.964877,2.450304,0.655080,0.000000,22.772206,4.532872,0.584615,0.000000,0.0,0.0,0.000000,0.0
4,107.343865,72.592407,2.459444,12.858204,10.765396,41.411990,0.105933,10.863074,7.157500,3.514440,5.962195,15.319828,13.735561,0.000000,6.781749,0.000000,0.0,0.0,0.000000,0.0
5,88.934530,50.693074,5.337737,20.471756,12.565843,31.944445,3.950613,0.756472,10.652825,0.227846,2.282917,0.000000,13.506105,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
6,107.779389,53.662067,6.616870,10.938269,32.395907,28.908822,4.607124,9.797331,2.610285,4.554258,5.180770,0.000000,21.356432,0.000000,11.687417,0.000000,0.0,0.0,3.680049,0.0
7,110.749708,54.278535,0.000000,36.588153,15.952125,15.383692,3.553125,9.284428,23.648211,0.000000,0.000000,0.000000,18.931789,7.593129,22.420992,0.000000,0.0,0.0,0.000000,0.0
8,90.559544,50.016703,0.598652,14.632281,31.398708,26.709477,0.000000,0.000000,9.817434,3.739307,0.507591,0.000000,11.085998,5.522041,6.274156,0.000000,0.0,0.0,0.000000,0.0
9,96.770551,68.061199,2.190606,3.622471,15.754913,15.802437,0.000000,3.953648,10.400141,0.000000,3.983397,0.000000,9.734016,7.012232,31.257602,0.000000,0.0,0.0,0.000000,0.0
10,110.520944,59.481943,14.627855,24.506401,32.709106,32.932603,1.986738,7.693366,17.301695,0.741182,23.739548,0.000000,4.511494,1.692045,18.143417,0.983333,0.0,0.0,0.000000,0.0
11,101.771449,55.600715,4.443910,12.721154,15.090334,21.708615,0.807028,2.854781,6.405651,5.890567,3.010554,0.000000,9.438839,10.503017,25.516757,0.000000,0.0,0.0,0.655172,0.0
12,103.018717,30.806135,9.827646,17.552898,1.971517,17.498616,0.000000,0.636067,23.187666,0.000000,1.497131,5.432799,12.137685,7.229606,25.222666,0.000000,0.0,0.0,0.000000,0.0

In [274]:
res2.to_csv('partition_topic_ranks_std_by_month_words_weight_{}_{}.csv'.format(bbc_id, year))

In [275]:
res_min = pd.DataFrame(rows_min, columns=header)
res_min = res_min.fillna(0)
res_min.to_csv('partition_topic_ranks_min_by_day_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res_min

,day,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,1,1,3.0,54.000000,0.000000,42.402778,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,186.000000,0.0,0.0,0,0.000000,0
1,2,1,1.5,97.500000,0.000000,51.958763,0.000000,31.500000,0.0,0.000000,...,0.0,0.000000,91.396552,0.000000,0.000000,0.0,0.0,0,0.000000,0
2,3,1,95.5,36.000000,0.000000,0.000000,0.000000,305.708333,0.0,0.000000,...,0.0,0.000000,76.500000,0.000000,0.000000,0.0,0.0,0,0.000000,0
3,4,1,3.0,13.500000,0.000000,40.898551,0.000000,121.875000,0.0,0.000000,...,0.0,0.000000,40.500000,11.500000,0.000000,0.0,0.0,0,0.000000,0
4,5,1,1.0,56.962617,144.136364,0.000000,45.342857,197.029412,0.0,0.000000,...,0.0,0.000000,176.659574,399.000000,0.000000,0.0,0.0,0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,26,12,1.5,20.000000,36.416667,90.066667,13.500000,0.000000,0.0,130.921875,...,0.0,0.000000,60.000000,12.500000,0.000000,0.0,0.0,0,74.848485,0
349,27,12,1.0,0.000000,0.000000,60.500000,286.631420,282.708333,0.0,339.375000,...,0.0,0.000000,51.469388,0.000000,0.000000,0.0,0.0,0,0.000000,0
350,28,12,9.0,267.422222,38.536585,34.500000,125.416667,114.352941,0.0,0.000000,...,0.0,49.425532,47.000000,113.790698,141.086957,0.0,0.0,0,0.000000,0
351,29,12,12.5,85.000000,70.285714,220.606061,0.000000,0.000000,0.0,0.000000,...,0.0,97.350000,0.000000,95.555556,0.000000,0.0,0.0,0,0.000000,0
352,30,12,0.0,146.805556,0.000000,48.000000,0.000000,294.208333,0.0,0.000000,...,194.5,160.996885,0.000000,377.891566,325.766667,0.0,0.0,0,0.000000,0

In [276]:
res_max = pd.DataFrame(rows_max, columns=header)
res_max = res_max.fillna(0)
res_max.to_csv('partition_topic_ranks_max_by_day_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res_max

,day,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,1,1,367.350000,74.493333,0.000000,428.921569,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,186.000000,0.0,0.0,0,0.000000,0
1,2,1,439.687500,330.992481,0.000000,162.564706,0.000000,423.442623,0.0,0.000000,...,0.0,0.000000,188.258824,0.000000,0.000000,0.0,0.0,0,0.000000,0
2,3,1,376.656566,204.307692,0.000000,0.000000,0.000000,305.708333,0.0,0.000000,...,0.0,0.000000,211.500000,0.000000,0.000000,0.0,0.0,0,0.000000,0
3,4,1,223.076923,384.455026,0.000000,265.512821,0.000000,121.875000,0.0,0.000000,...,0.0,0.000000,44.000000,11.500000,0.000000,0.0,0.0,0,0.000000,0
4,5,1,351.521008,275.086957,148.076923,0.000000,291.263736,197.029412,0.0,0.000000,...,0.0,0.000000,176.659574,399.000000,0.000000,0.0,0.0,0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,26,12,438.866667,22.897436,62.652174,90.066667,13.500000,0.000000,0.0,130.921875,...,0.0,0.000000,60.000000,308.798450,0.000000,0.0,0.0,0,74.848485,0
349,27,12,323.468085,0.000000,0.000000,217.289062,286.631420,282.708333,0.0,339.375000,...,0.0,0.000000,51.469388,0.000000,0.000000,0.0,0.0,0,0.000000,0
350,28,12,332.425532,267.422222,163.169014,71.931034,125.416667,114.352941,0.0,0.000000,...,0.0,209.485714,262.180851,113.790698,141.086957,0.0,0.0,0,0.000000,0
351,29,12,361.214286,314.335793,285.978836,220.606061,0.000000,0.000000,0.0,0.000000,...,0.0,298.306569,0.000000,95.555556,0.000000,0.0,0.0,0,0.000000,0
352,30,12,315.000000,182.000000,0.000000,62.437500,0.000000,294.208333,0.0,0.000000,...,194.5,160.996885,0.000000,377.891566,325.766667,0.0,0.0,0,0.000000,0

In [277]:
for topic in topics:
    res[topic] = 500 - res[topic]
    res_min[topic] = 500 - res_min[topic]
    res_max[topic] = 500 - res_max[topic]

In [278]:
res2 = res.groupby(['month']).agg('mean').drop(['day'], axis=1)
res2.to_csv('partition_topic_ranks_by_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res2

,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,Energy and environment,Communities and families,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
month,,,,,,,,,,,,,,,,,,,,
1,394.073614,433.609776,483.734923,479.683033,478.152341,482.373500,500.000000,495.229722,488.313004,500.000000,486.061467,500.000000,478.969399,494.634152,499.104310,500.000000,500.0,500.0,499.836958,500.0
2,410.607153,435.193281,494.578859,482.928270,469.093133,467.468988,495.495326,500.000000,489.016043,497.434498,492.859326,500.000000,494.632264,494.812623,489.902433,500.000000,500.0,500.0,500.000000,500.0
3,392.869787,432.892606,497.615361,464.691616,472.407228,471.372825,498.874670,468.101467,486.035123,497.549696,499.344920,500.000000,477.227794,495.467128,499.415385,500.000000,500.0,500.0,500.000000,500.0
4,392.656135,427.407593,497.540556,487.141796,489.234604,458.588010,499.894067,489.136926,492.842500,496.485560,494.037805,484.680172,486.264439,500.000000,493.218251,500.000000,500.0,500.0,500.000000,500.0
5,411.065470,449.306926,494.662263,479.528244,487.434157,468.055555,496.049387,499.243528,489.347175,499.772154,497.717083,500.000000,486.493895,500.000000,500.000000,500.000000,500.0,500.0,500.000000,500.0
6,392.220611,446.337933,493.383130,489.061731,467.604093,471.091178,495.392876,490.202669,497.389715,495.445742,494.819230,500.000000,478.643568,500.000000,488.312583,500.000000,500.0,500.0,496.319951,500.0
7,389.250292,445.721465,500.000000,463.411847,484.047875,484.616308,496.446875,490.715572,476.351789,500.000000,500.000000,500.000000,481.068211,492.406871,477.579008,500.000000,500.0,500.0,500.000000,500.0
8,409.440456,449.983297,499.401348,485.367719,468.601292,473.290523,500.000000,500.000000,490.182566,496.260693,499.492409,500.000000,488.914002,494.477959,493.725844,500.000000,500.0,500.0,500.000000,500.0
9,403.229449,431.938801,497.809394,496.377529,484.245087,484.197563,500.000000,496.046352,489.599859,500.000000,496.016603,500.000000,490.265984,492.987768,468.742398,500.000000,500.0,500.0,500.000000,500.0
10,389.479056,440.518057,485.372145,475.493599,467.290894,467.067397,498.013262,492.306634,482.698305,499.258818,476.260452,500.000000,495.488506,498.307955,481.856583,499.016667,500.0,500.0,500.000000,500.0
11,398.228551,444.399285,495.556090,487.278846,484.909666,478.291385,499.192972,497.145219,493.594349,494.109433,496.989446,500.000000,490.561161,489.496983,474.483243,500.000000,500.0,500.0,499.344828,500.0
12,396.981283,469.193865,490.172354,482.447102,498.028483,482.501384,500.000000,499.363933,476.812334,500.000000,498.502869,494.567201,487.862315,492.770394,474.777334,500.000000,500.0,500.0,500.000000,500.0

In [279]:
res_min2 = res_min.groupby(['month']).agg('mean').drop(['day'], axis=1)
res_min2.to_csv('partition_topic_ranks_min_by_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res_min2

,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,Energy and environment,Communities and families,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
month,,,,,,,,,,,,,,,,,,,,
1,488.866667,427.268159,446.056511,431.617780,424.904978,406.613620,500.000000,473.622413,412.424605,464.621300,444.378870,500.000000,415.757455,479.289167,474.846221,497.066296,488.635627,500.0,486.087548,500.0
2,476.445156,395.732432,425.059348,444.255436,427.177803,463.305307,474.003006,488.511628,475.141273,478.652958,465.048589,500.000000,465.673842,479.779632,479.611342,488.948336,500.000000,500.0,500.000000,500.0
3,482.304722,421.635851,455.827349,416.447157,414.283061,435.707084,476.176720,436.583245,436.199595,484.484891,475.275488,488.456190,415.784050,464.362386,469.458260,494.301984,500.000000,500.0,487.005669,500.0
4,485.771940,420.006214,428.550092,428.655198,429.429226,413.774507,488.021364,457.831719,445.910220,481.835657,478.737262,481.113745,466.397495,471.829232,444.362056,500.000000,500.000000,500.0,489.431837,500.0
5,468.736852,427.769282,455.955694,418.025340,428.293837,464.933101,484.040589,458.471651,440.967290,489.762222,479.215754,497.611111,408.452923,467.495811,463.265779,500.000000,500.000000,500.0,490.241064,500.0
6,484.595402,401.917885,442.404633,432.325053,465.112140,399.594286,497.772414,491.947664,414.638068,486.439907,483.078460,478.389692,419.649331,475.261320,436.406246,494.884813,472.292305,500.0,483.408411,500.0
7,476.136264,417.167196,471.238513,409.247005,433.624269,385.140195,498.950000,480.746300,441.026408,497.104274,459.648341,500.000000,424.406527,457.931185,454.665586,500.000000,500.000000,500.0,485.906890,500.0
8,485.329841,427.694011,451.267025,421.797183,433.548175,423.583193,474.791967,475.395753,440.537442,478.720006,451.492669,497.613636,436.554315,426.391221,487.029012,492.814082,500.000000,500.0,500.000000,500.0
9,483.340873,419.302974,466.789131,436.033944,413.133666,422.104558,485.579073,434.515903,414.816618,478.700756,454.861457,492.815774,421.175513,472.329357,475.015016,497.172414,500.000000,500.0,484.620610,500.0
10,467.239386,415.331270,460.071746,402.675866,409.645954,410.573209,486.938068,449.988492,428.833358,485.954167,433.766938,500.000000,437.771719,453.049028,465.116705,490.695238,495.727922,500.0,482.089462,500.0
11,474.478941,412.547430,469.579838,423.773375,431.911993,426.894070,489.911453,454.270262,429.753529,474.902111,467.121479,489.292774,446.307518,480.119376,457.894253,496.128857,500.000000,500.0,474.337995,500.0
12,480.634074,413.362398,452.679454,405.481004,392.832610,425.365698,500.000000,433.046911,439.403439,479.352270,470.773424,472.206892,453.056308,463.601638,413.860199,499.666667,500.000000,500.0,485.312148,500.0

In [280]:
res_max2 = res_max.groupby(['month']).agg('mean').drop(['day'], axis=1)
res_max2.to_csv('partition_topic_ranks_max_by_month_words_weight_{}_{}.csv'.format(bbc_id, year))
res_max2

,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,Energy and environment,Communities and families,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
month,,,,,,,,,,,,,,,,,,,,
1,180.734823,254.770576,406.520318,381.986520,375.005452,364.096886,500.000000,463.838602,387.855460,464.621300,412.732375,500.000000,365.982476,468.557471,473.054842,497.066296,488.635627,500.0,485.761465,500.0
2,215.341528,233.640715,414.217067,405.534709,353.216024,388.372179,464.993658,488.511628,451.982778,473.521954,450.767241,500.000000,454.938370,468.752843,456.832973,488.948336,500.000000,500.0,500.000000,500.0
3,165.785823,254.281487,450.070654,331.257674,352.487038,368.045685,473.240394,362.001609,405.739663,478.548329,473.701849,488.456190,366.385889,455.296641,468.289029,494.301984,500.000000,500.0,487.005669,500.0
4,182.503566,236.352015,423.631204,400.645901,407.495623,320.485717,487.809498,433.576575,428.368738,474.806776,466.812871,447.219358,437.549068,471.829232,429.241476,500.000000,500.000000,500.0,489.431837,500.0
5,208.069633,294.253168,445.185376,369.289549,401.297487,389.391202,476.139362,456.703328,418.454882,489.278889,474.649921,497.611111,380.359151,467.495811,463.265779,500.000000,500.000000,500.0,490.241064,500.0
6,171.612893,281.706337,428.736786,407.278306,394.626493,325.375534,488.558166,469.987103,408.345854,475.286687,470.108563,478.389692,369.424514,475.261320,412.040482,494.884813,472.292305,500.0,476.048312,500.0
7,156.390216,280.714511,471.238513,326.590852,396.921472,348.981058,491.843750,460.243360,385.307486,497.104274,459.648341,500.000000,376.436930,440.185881,403.978391,500.000000,500.000000,500.0,485.906890,500.0
8,217.138850,309.279022,450.069721,387.800843,364.659585,361.063838,474.791967,475.395753,418.831925,471.241392,450.412477,497.613636,413.484810,415.347139,473.210400,492.814082,500.000000,500.0,500.000000,500.0
9,202.178841,242.969044,462.215476,428.789001,379.933360,386.913735,485.579073,424.493649,390.400579,478.700756,445.691618,492.815774,400.478694,457.751887,404.791268,497.172414,500.000000,500.0,484.620610,500.0
10,151.707011,270.033562,429.344183,343.795861,338.321038,333.974409,482.116826,434.601761,391.312529,484.471802,381.421737,500.000000,428.748731,449.664938,423.792039,488.728571,495.727922,500.0,482.089462,500.0
11,188.328204,282.988780,460.692019,396.581744,398.885701,380.939814,488.297397,448.560699,416.062913,463.120977,461.100371,489.292774,425.308397,459.113342,402.649931,496.128857,500.000000,500.0,473.027650,500.0
12,192.619268,341.280716,432.929035,364.689212,388.889576,381.599300,500.000000,431.494718,386.585207,479.352270,467.779162,460.173000,427.951671,448.184668,356.786550,499.666667,500.000000,500.0,485.312148,500.0

In [281]:
res = pd.DataFrame(lrows, columns=header)
res

,day,month,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,...,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
0,1,1,96.500000,92.000000,NaN,97.333333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,373.0,NaN,NaN,NaN,NaN,NaN
1,2,1,51.625000,192.333333,NaN,91.000000,NaN,50.666667,NaN,NaN,...,NaN,NaN,71.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,83.142857,114.666667,NaN,NaN,NaN,24.000000,NaN,NaN,...,NaN,NaN,135.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,26.222222,88.666667,NaN,54.000000,NaN,40.000000,NaN,NaN,...,NaN,NaN,85.5,24.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,25.187500,111.500000,24.0,NaN,87.4,34.000000,NaN,NaN,...,NaN,NaN,47.0,58.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,26,12,61.714286,40.000000,29.0,15.000000,28.0,NaN,NaN,64.0,...,NaN,NaN,25.0,103.333333,NaN,NaN,NaN,NaN,66.0,NaN
349,27,12,21.250000,NaN,NaN,171.333333,331.0,24.000000,NaN,16.0,...,NaN,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,28,12,42.444444,45.000000,56.0,49.500000,36.0,17.000000,NaN,NaN,...,NaN,76.000000,94.5,43.000000,23.0,NaN,NaN,NaN,NaN,NaN
351,29,12,43.400000,175.250000,115.5,66.000000,NaN,NaN,NaN,NaN,...,NaN,99.333333,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN
352,30,12,55.166667,200.500000,NaN,104.500000,NaN,24.000000,NaN,NaN,...,390.0,321.000000,NaN,83.000000,30.0,NaN,NaN,NaN,NaN,NaN

In [282]:
res2 = res.groupby(['month']).agg('mean').drop(['day'], axis=1)
res2

,"Parliament, government and politics","Culture, media and sport","Business, industry and consumers",Transport,"Crime, civil law, justice and rights",International affairs,Education,Defence,Energy and environment,Communities and families,Economy and finance,"Asylum, immigration and nationality",Health services and medicine,"Agriculture, animals, food and rural affairs",European Union,Employment and training,Housing and planning,Science and technology,Social services,Social security and pensions
month,,,,,,,,,,,,,,,,,,,,
1,50.271885,135.489984,77.833333,76.916667,108.192105,64.807018,NaN,129.555556,187.938596,144.250000,125.857778,NaN,106.770833,55.416667,136.583333,90.000000,219.500000,NaN,112.250000,NaN
2,48.320682,122.881041,58.181818,79.053114,82.137255,104.656250,42.000000,172.000000,110.500000,117.625000,101.888889,NaN,146.700000,137.250000,135.909524,70.000000,NaN,NaN,NaN,NaN
3,52.566296,95.149453,45.229167,103.020089,82.810185,80.796000,90.400000,119.901961,101.666667,90.266667,71.866667,35.000000,121.395833,109.071429,69.833333,84.000000,NaN,NaN,147.000000,NaN
4,50.010779,123.575862,69.192308,88.482143,115.312500,118.048718,75.666667,119.357143,140.483333,64.333333,66.400000,133.203704,64.800000,59.142857,48.222222,NaN,NaN,NaN,249.000000,NaN
5,76.924523,130.415035,67.018519,101.229167,61.071429,90.652211,123.125000,93.722222,140.321429,95.555556,79.833333,87.000000,96.921569,43.200000,79.285714,NaN,NaN,NaN,401.000000,NaN
6,55.085784,94.297619,95.075000,60.452381,77.819444,69.692619,55.500000,102.666667,184.988889,74.000000,71.700000,99.000000,94.941176,104.285714,128.177778,134.500000,181.333333,NaN,150.666667,NaN
7,64.246007,93.832908,167.250000,77.735185,81.597436,57.301136,40.000000,45.333333,98.468487,78.000000,94.666667,NaN,102.606481,77.136364,115.980769,NaN,NaN,NaN,135.500000,NaN
8,46.555044,117.434401,72.125000,87.162963,75.165789,75.155797,71.200000,194.250000,168.277778,65.166667,117.388889,22.000000,63.222222,94.208333,155.250000,22.500000,NaN,NaN,NaN,NaN
9,61.077299,105.664031,99.714286,41.083333,63.676471,82.215556,134.333333,57.604167,109.593137,47.500000,105.629630,181.000000,71.821429,64.095238,126.115385,165.000000,NaN,NaN,177.500000,NaN
10,52.664600,104.775595,53.547619,127.331349,99.198333,78.193333,121.333333,79.722222,96.107843,30.750000,63.423077,NaN,60.269231,67.142857,109.566667,131.333333,154.000000,NaN,165.000000,NaN
11,79.248479,97.969136,70.500000,63.968750,123.666667,78.199074,42.000000,103.800000,119.937500,61.250000,59.312500,157.000000,84.366667,49.500000,120.725490,19.000000,NaN,NaN,203.250000,NaN
12,67.881619,91.406790,58.722222,99.206349,106.555556,73.476923,NaN,83.925926,178.769444,106.666667,126.600000,114.066667,76.613636,57.148148,151.645098,21.000000,NaN,NaN,87.500000,NaN

In [283]:
res.to_csv('average_partition_lengths_{}_{}.csv'.format(bbc_id, year))
res2.to_csv('average_partition_lengths_month_{}_{}.csv'.format(bbc_id, year))