In [5]:
import pandas as pd
from tqdm import tqdm
import os
import nltk
from nltk.corpus import stopwords

In [7]:
brexit_file = pd.read_csv('./brexit_full_updated4.csv')

politicians = []

count_zero = 0

politicians_party ={}
politicians_party2 ={}

for index, row in brexit_file.iterrows():
    full_name = row['full name']
    party = row['party']
    party2 = row['Party abbreviation']
    last_name = full_name.split(" ")[-1]
    first_name = full_name.split(" ")[0]
    short_name = last_name.lower() + '.' + first_name.lower()

    if party == 0:
        count_zero += 1
    if party in [0, 1]:
        politicians.append(short_name)
        politicians_party[short_name] = party
    politicians_party2[short_name] = party2

print(len(politicians))
politicians = list(set(politicians))
print(len(politicians))

594
594

In [8]:
politicians_party

{'howarth.gerald': 1.0,
 'brady.graham': 1.0,
 'mills.nigel': 1.0,
 'herbert.nick': 0.0,
 'piero.gloria': 0.0,
 'green.damian': 0.0,
 'rayner.angela': 0.0,
 'lidington.david': 0.0,
 'prentis.victoria': 0.0,
 'hodge.margaret': 0.0,
 'jarvis.dan': 0.0,
 'dugher.michael': 0.0,
 'woodcock.john': 0.0,
 'baron.john': 1.0,
 'miller.maria': 0.0,
 'howlett.ben': 0.0,
 'cox.jo': 0.0,
 'ellison.jane': 0.0,
 'grieve.dominic': 0.0,
 'fuller.richard': 1.0,
 'coyle.neil': 0.0,
 'trevelyan.anne-marie': 1.0,
 'ali.rushanara': 0.0,
 'stuart.graham': 0.0,
 'field.frank': 1.0,
 'stuart.gisela': 1.0,
 'dromey.jack': 0.0,
 'godsiff.roger': 1.0,
 'byrne.liam': 0.0,
 'mahmood.shabana': 0.0,
 'burden.richard': 0.0,
 'mahmood.khalid': 1.0,
 'mccabe.steve': 0.0,
 'phillips.jess': 0.0,
 'goodman.helen': 0.0,
 'hollern.kate': 0.0,
 'stringer.graham': 1.0,
 'maynard.paul': 0.0,
 'marsden.gordon': 0.0,
 'anderson.dave': 0.0,
 'campbell.ronnie': 1.0,
 'gibb.nick': 0.0,
 'crausby.david': 0.0,
 'qureshi.yasmin': 0.0,
 'green.chris': 1.0,
 'dowd.peter': 0.0,
 'warman.matt': 0.0,
 'ellwood.tobias': 0.0,
 'burns.conor': 1.0,
 'hussain.imran': 0.0,
 'cummins.judith': 0.0,
 'shah.naseem': 0.0,
 'cleverly.james': 1.0,
 'butler.dawn': 0.0,
 'gardiner.barry': 0.0,
 'cadbury.ruth': 0.0,
 'pickles.eric': 0.0,
 'percy.andrew': 1.0,
 'kirby.simon': 0.0,
 'lucas.caroline': 0.0,
 'mccarthy.kerry': 0.0,
 'smyth.karin': 0.0,
 'debbonaire.thangam': 0.0,
 'simpson.keith': 0.0,
 'neill.robert': 0.0,
 'javid.sajid': 0.0,
 'walker.charles': 1.0,
 'soubry.anna': 0.0,
 'cooper.julie': 0.0,
 'griffiths.andrew': 0.0,
 'nuttall.david': 1.0,
 'lewis.ivan': 0.0,
 'churchill.jo': 0.0,
 'whittaker.craig': 0.0,
 'harman.harriet': 0.0,
 'eustice.george': 1.0,
 'zeichner.daniel': 0.0,
 'milling.amanda': 0.0,
 'brazier.julian': 1.0,
 'brake.tom': 0.0,
 'harris.rebecca': 1.0,
 'stride.mel': 0.0,
 'poulter.dan': 0.0,
 'burns.simon': 0.0,
 'hands.greg': 0.0,
 'chalk.alex': 0.0,
 'gillan.cheryl': 1.0,
 'perkins.toby': 0.0,
 'smith.iain': 1.0,
 'villiers.theresa': 1.0,
 'chope.christopher': 1.0,
 'field.mark': 0.0,
 'matheson.chris': 0.0,
 'blackman-woods.roberta': 0.0,
 'carswell.john': 1.0,
 'vickers.martin': 1.0,
 'quince.will': 1.0,
 'mccartney.jason': 1.0,
 'bruce.fiona': 1.0,
 'reed.jamie': 0.0,
 'pursglove.tom': 1.0,
 'fletcher.colleen': 0.0,
 'robinson.geoffrey': 0.0,
 'cunningham.jim': 0.0,
 'smith.henry': 1.0,
 'timpson.edward': 0.0,
 'barwell.gavin': 0.0,
 'reed.steve': 0.0,
 'philp.chris': 0.0,
 'cruddas.jon': 0.0,
 'chapman.jenny': 0.0,
 'johnson.gareth': 1.0,
 'heaton-harris.chris': 1.0,
 'gwynne.andrew': 0.0,
 'beckett.margaret': 0.0,
 'mcloughlin.patrick': 0.0,
 'perry.claire': 0.0,
 'sherriff.paula': 0.0,
 'flint.caroline': 0.0,
 'winterton.rosie': 0.0,
 'miliband.ed': 0.0,
 'elphicke.charlie': 0.0,
 'austin.ian': 0.0,
 'wood.mike': 1.0,
 'hayes.helen': 0.0,
 'huq.rupa': 0.0,
 'pound.stephen': 0.0,
 'sharma.virendra': 0.0,
 'swire.hugo': 0.0,
 'timms.stephen': 0.0,
 'hinds.damian': 0.0,
 'gyimah.sam': 0.0,
 'loughton.timothy': 1.0,
 'knight.greg': 1.0,
 'davies.mims': 1.0,
 'sandbach.antoinette': 0.0,
 'osamor.kate': 0.0,
 'madders.justin': 0.0,
 'shelbrooke.alec': 0.0,
 'efford.clive': 0.0,
 'ryan.joan': 0.0,
 'burrowes.david': 1.0,
 'grayling.christopher': 1.0,
 'throup.maggie': 0.0,
 'pearce.teresa': 0.0,
 'raab.dominic': 1.0,
 'bradshaw.ben': 0.0,
 'fernandes.suella': 1.0,
 'malhotra.seema': 0.0,
 'lopresti.jack': 1.0,
 'freer.mike': 0.0,
 'collins.damian': 0.0,
 'harper.mark': 0.0,
 'leigh.edward': 1.0,
 'eagle.maria': 0.0,
 'mearns.james': 0.0,
 'coaker.vernon': 0.0,
 'graham.richard': 0.0,
 'boles.nick': 0.0,
 'holloway.adam': 1.0,
 'onn.melanie': 0.0,
 'lewis.brandon': 0.0,
 'pennycook.matthew': 0.0,
 'abbott.diane': 0.0,
 'hillier.margaret': 0.0,
 'morris.james': 0.0,
 'lynch.holly': 0.0,
 'davis.david': 1.0,
 'twigg.derek': 0.0,
 'slaughter.andy': 0.0,
 'siddiq.tulip': 0.0,
 'garnier.edward': 0.0,
 'halfon.robert': 0.0,
 'jones.andrew': 0.0,
 'blackman.bob': 1.0,
 'thomas.gareth': 0.0,
 'wright.iain': 0.0,
 'jenkin.bernard': 1.0,
 'rudd.amber': 0.0,
 'mak.alan': 0.0,
 'mcdonnell.john': 0.0,
 'wragg.william': 1.0,
 'penning.mike': 1.0,
 'trickett.jon': 0.0,
 'offord.matthew': 1.0,
 'howell.john': 0.0,
 'prisk.michael': 0.0,
 'opperman.guy': 0.0,
 'mcinnes.liz': 0.0,
 'bingham.andrew': 1.0,
 'lilley.peter': 1.0,
 'starmer.keir': 0.0,
 'watkinson.angela': 0.0,
 'west.catherine': 0.0,
 'quin.jeremy': 0.0,
 'phillipson.bridget': 0.0,
 'kyle.peter': 0.0,
 'sheerman.barry': 0.0,
 'djanogly.jonathan': 0.0,
 'jones.graham': 0.0,
 'streeting.wes': 0.0,
 'gapes.mike': 0.0,
 'gummer.ben': 0.0,
 'turner.andrew': 1.0,
 'corbyn.jeremy': 0.0,
 'thornberry.emily': 0.0,
 'hepburn.stephen': 0.0,
 'hopkins.kris': 0.0,
 'wright.jeremy': 0.0,
 'hollobone.philip': 1.0,
 'berry.michael': 0.0,
 'turner.karl': 0.0,
 'johnson.diana': 0.0,
 'johnson.alan': 0.0,
 'skidmore.chris': 0.0,
 'howarth.george': 0.0,
 'smith.catherine': 0.0,
 'benn.hilary': 0.0,
 'burgon.richard': 0.0,
 'hamilton.fabian': 0.0,
 'mulholland.greg': 0.0,
 'reeves.rachel': 0.0,
 'vaz.keith': 0.0,
 'ashworth.jonathan': 0.0,
 'kendall.liz': 0.0,
 'burnham.andy': 0.0,
 'caulfield.maria': 1.0,
 'alexander.heidi': 0.0,
 'dowd.jim': 0.0,
 'foxcroft.vicky': 0.0,
 'fabricant.michael': 1.0,
 'mccartney.karl': 1.0,
 'ellman.louise': 0.0,
 'rotheram.steven': 0.0,
 'berger.luciana': 0.0,
 'twigg.stephen': 0.0,
 'morgan.nicky': 0.0,
 'atkins.victoria': 0.0,
 'dunne.philip': 0.0,
 'hopkins.kelvin': 1.0,
 'shuker.gavin': 0.0,
 'may.theresa': 0.0,
 'grant.helen': 0.0,
 'fovargue.yvonne': 0.0,
 'whittingdale.john': 1.0,
 'powell.lucy': 0.0,
 'kaufman.gerald': 0.0,
 'smith.jeff': 0.0,
 'meale.alan': 0.0,
 'spelman.caroline': 0.0,
 'dorries.nadine': 1.0,
 'freeman.george': 0.0,
 'soames.nicholas': 0.0,
 'huddleston.nigel': 0.0,
 'mcdonald.andy': 0.0,
 'blenkinsop.tom': 0.0,
 'stewart.iain': 1.0,
 'mcdonagh.siobhain': 0.0,
 'beresford.paul': 0.0,
 'morris.david': 0.0,
 'jenkyns.andrea': 1.0,
 'lewis.julian': 1.0,
 'swayne.desmond': 1.0,
 'jenrick.robert': 0.0,
 'benyon.richard': 0.0,
 'onwurah.chi': 0.0,
 'brown.nicholas': 0.0,
 'mckinnell.catherine': 0.0,
 'farrelly.paul': 0.0,
 'morris.anne-marie': 1.0,
 'cooper.yvette': 0.0,
 'mann.scott': 1.0,
 'heaton-jones.peter': 0.0,
 'hoare.simon': 0.0,
 'jones.kevan': 0.0,
 'burt.alistair': 0.0,
 'barclay.steve': 1.0,
 'jayawardena.ranil': 1.0,
 'heald.oliver': 0.0,
 'rees-mogg.jacob': 1.0,
 'wiggin.bill': 1.0,
 'lamb.norman': 0.0,
 'paterson.owen': 1.0,
 'fox.liam': 1.0,
 'tomlinson.justin': 1.0,
 'gale.roger': 0.0,
 'glindon.mary': 0.0,
 'tracey.craig': 1.0,
 'vara.shailesh': 0.0,
 'glass.pat': 0.0,
 'malthouse.kit': 1.0,
 'bridgen.andrew': 1.0,
 'bellingham.henry': 1.0,
 'gray.james': 1.0,
 'ellis.michael': 0.0,
 'mackintosh.david': 0.0,
 'smith.chloe': 0.0,
 'lewis.clive': 0.0,
 'leslie.christopher': 0.0,
 'allen.graham': 0.0,
 'greenwood.lilian': 0.0,
 'jones.marcus': 0.0,
 'brokenshire.james': 0.0,
 'abrahams.debbie': 0.0,
 'mcmahon.jim': 0.0,
 'meacher.michael': 0.0,
 'johnson.jo': 0.0,
 'smith.andrew': 0.0,
 'blackwood.nicola': 0.0,
 'stephenson.andrew': 1.0,
 'smith.angela': 0.0,
 'stewart.rory': 0.0,
 'jackson.stewart': 1.0,
 'colvile.oliver': 0.0,
 'syms.robert': 1.0,
 'fitzpatrick.jim': 0.0,
 'mordaunt.penny': 1.0,
 'drummond.flick': 0.0,
 'hendrick.mark': 0.0,
 'greening.justine': 0.0,
 'francois.mark': 1.0,
 'wilson.rob': 0.0,
 'sharma.alok': 0.0,
 'turley.anna': 0.0,
 'lumley.karen': 1.0,
 'evans.nigel': 1.0,
 'sunak.rishi': 1.0,
 'goldsmith.zac': 1.0,
 'danczuk.simon': 0.0,
 'duddridge.james': 1.0,
 'rosindell.andrew': 1.0,
 'berry.jake': 0.0,
 'barron.kevin': 0.0,
 'champion.sarah': 0.0,
 'pawsey.mark': 0.0,
 'hurd.nick': 0.0,
 'hammond.philip': 0.0,
 'clarke.kenneth': 0.0,
 'haselhurst.alan': 0.0,
 'long-bailey.rebecca': 0.0,
 'glen.john': 0.0,
 'goodwill.robert': 0.0,
 'dakin.nic': 0.0,
 'wilson.phil': 0.0,
 'esterson.bill': 0.0,
 'adams.nigel': 1.0,
 'fallon.michael': 0.0,
 'blomfield.paul': 0.0,
 'betts.clive': 0.0,
 'clegg.nick': 0.0,
 'haigh.louise': 0.0,
 'spencer.mark': 0.0,
 'davies.philip': 1.0,
 'kawczynski.daniel': 1.0,
 'henderson.gordon': 1.0,
 'smith.julian': 0.0,
 'phillips.stephen': 1.0,
 'mactaggart.fiona': 0.0,
 'knight.julian': 0.0,
 'warburton.david': 1.0,
 'metcalfe.stephen': 1.0,
 'allen.heidi': 0.0,
 'wheeler.heather': 1.0,
 'drax.richard': 1.0,
 'frazer.lucy': 0.0,
 'murray.sheryll': 1.0,
 'hayes.john': 1.0,
 'bacon.richard': 1.0,
 'leadsom.andrea': 1.0,
 'lewell-buck.emma': 0.0,
 'williamson.gavin': 0.0,
 'cartlidge.james': 0.0,
 'buckland.robert': 0.0,
 'mackinlay.craig': 1.0,
 'selous.andrew': 0.0,
 'streeter.gary': 0.0,
 'gauke.david': 0.0,
 'truss.elizabeth': 0.0,
 'hunt.jeremy': 0.0,
 'murrison.andrew': 1.0,
 'smith.royston': 1.0,
 'whitehead.alan': 0.0,
 'amess.david': 1.0,
 'pugh.john': 0.0,
 'kwarteng.kwasi': 1.0,
 'main.anne': 1.0,
 'double.steve': 1.0,
 'mcginn.conor': 0.0,
 'rimmer.marie': 0.0,
 'thomas.derek': 1.0,
 'lefroy.jeremy': 0.0,
 'bradley.karen': 0.0,
 'reynolds.jonathan': 0.0,
 'mcpartland.stephen': 1.0,
 'coffey.ann': 0.0,
 'cunningham.alex': 0.0,
 'wharton.james': 1.0,
 'hunt.tristram': 0.0,
 'smeeth.ruth': 0.0,
 'flello.rob': 0.0,
 'cash.bill': 1.0,
 'james.margot': 0.0,
 'zahawi.nadhim': 1.0,
 'umunna.chuka': 0.0,
 'green.kate': 0.0,
 'carmichael.neil': 0.0,
 'coffey.therese': 0.0,
 'elliott.julie': 0.0,
 'gove.michael': 1.0,
 'scully.paul': 1.0,
 'osborne.george': 0.0,
 'allan.lucy': 1.0,
 'robertson.laurence': 1.0,
 'clifton-brown.geoffrey': 1.0,
 'pritchard.mark': 0.0,
 'hollinrake.kevin': 0.0,
 'hall.luke': 0.0,
 'parish.neil': 0.0,
 'tugendhat.tom': 0.0,
 'khan.sadiq': 0.0,
 'foster.kevin': 0.0,
 'cox.geoffrey': 1.0,
 'wollaston.sarah': 1.0,
 'lammy.david': 0.0,
 'newton.sarah': 0.0,
 'clark.greg': 0.0,
 'mathias.tania': 0.0,
 'campbell.alan': 0.0,
 'johnson.boris': 1.0,
 'hoey.kate': 1.0,
 'creagh.mary': 0.0,
 'eagle.angela': 0.0,
 'winnick.david': 0.0,
 'vaz.valerie': 0.0,
 'creasy.stella': 0.0,
 'vaizey.ed': 0.0,
 'jones.helen': 0.0,
 'mowat.david': 0.0,
 'white.chris': 0.0,
 'hodgson.sharon': 0.0,
 'harrington.richard': 0.0,
 'aldous.peter': 0.0,
 'ghani.nus': 1.0,
 'evans.graham': 0.0,
 'bone.peter': 1.0,
 'healey.john': 0.0,
 'watson.tom': 0.0,
 'bailey.adrian': 0.0,
 'letwin.oliver': 0.0,
 'brown.lyn': 0.0,
 'cooper.rosie': 0.0,
 'hancock.matthew': 0.0,
 'baldwin.harriett': 0.0,
 'buck.karen': 0.0,
 'farron.tim': 0.0,
 'penrose.john': 0.0,
 'nandy.lisa': 0.0,
 'hammond.stephen': 0.0,
 'brine.steve': 0.0,
 'afriyie.adam': 1.0,
 'mcgovern.alison': 0.0,
 'greenwood.margaret': 0.0,
 'patel.priti': 1.0,
 'cameron.david': 0.0,
 'lord.jonathan': 1.0,
 'redwood.john': 1.0,
 'reynolds.emma': 0.0,
 'mcfadden.pat': 0.0,
 'marris.rob': 0.0,
 'walker.robin': 0.0,
 'hayman.sue': 0.0,
 'keeley.barbara': 0.0,
 'bottomley.peter': 0.0,
 'baker.steve': 1.0,
 'wallace.ben': 0.0,
 'garnier.mark': 0.0,
 'kane.mike': 0.0,
 'fysh.marcus': 1.0,
 'maskell.rachael': 0.0,
 'sturdy.julian': 1.0,
 'robinson.gavin': 1.0,
 'dodds.nigel': 1.0,
 'mcdonnell.alasdair': 0.0,
 'maskey.paul': 0.0,
 'wilson.sammy': 1.0,
 'campbell.gregory': 1.0,
 'durkan.mark': 0.0,
 'donaldson.jeffrey': 1.0,
 'molloy.francie': 0.0,
 'brady.mickey': 0.0,
 'paisley.ian': 1.0,
 'hermon.sylvia': 0.0,
 'ritchie.margaret': 0.0,
 'shannon.jim': 1.0,
 'simpson.david': 1.0,
 'doherty.pat': 0.0,
 'blackman.kirsty': 0.0,
 'mccaig.callum': 0.0,
 'gray.neil': 0.0,
 'weir.mike': 0.0,
 "o'hara.brendan": 0.0,
 'wilson.corri': 0.0,
 'whiteford.eilidh': 0.0,
 'kerr.calum': 0.0,
 'monaghan.paul': 0.0,
 'whitford.philippa': 0.0,
 'boswell.philip': 0.0,
 'mcdonald.stuart': 0.0,
 'arkless.richard': 0.0,
 'mundell.david': 0.0,
 'hosie.stewart': 0.0,
 'law.chris': 0.0,
 'chapman.douglas': 0.0,
 'nicolson.john': 0.0,
 'cameron.lisa': 0.0,
 'kerevan.george': 0.0,
 'oswald.kirsten': 0.0,
 'sheppard.tommy': 0.0,
 'brock.deidre': 0.0,
 'murray.ian': 0.0,
 'cherry.joanna': 0.0,
 'thomson.michelle': 0.0,
 'macneil.angus': 0.0,
 'mcnally.john': 0.0,
 'thewliss.alison': 0.0,
 'mcgarry.natalie': 0.0,
 'grady.patrick': 0.0,
 'mclaughlin.anne': 0.0,
 'monaghan.carol': 0.0,
 'mcdonald.stewart': 0.0,
 'stephens.christopher': 0.0,
 'grant.peter': 0.0,
 'salmond.alex': 0.0,
 'cowan.ronnie': 0.0,
 'hendry.drew': 0.0,
 'brown.alan': 0.0,
 'mullin.roger': 0.0,
 'crawley.angela': 0.0,
 'day.martyn': 0.0,
 'bardell.hannah': 0.0,
 'thompson.owen': 0.0,
 'robertson.angus': 0.0,
 'fellows.marion': 0.0,
 'gibson.patricia': 0.0,
 'gethins.stephen': 0.0,
 'ahmed-sheikh.tasmina': 0.0,
 'carmichael.alistair': 0.0,
 'newlands.gavin': 0.0,
 'black.mhairi': 0.0,
 'wishart.pete': 0.0,
 'blackford.ian': 0.0,
 'ferrier.margaret': 0.0,
 'paterson.steven': 0.0,
 'donaldson.stuart': 0.0,
 'docherty.martin': 0.0,
 'owen.albert': 0.0,
 'hanson.david': 0.0,
 'tami.mark': 0.0,
 'lucas.ian': 0.0,
 'griffith.nia': 0.0,
 'davies.byron': 0.0,
 'davies.geraint': 0.0,
 'harris.carolyn': 0.0,
 'kinnock.stephen': 0.0,
 'stevens.jo': 0.0,
 'williams.craig': 0.0,
 'bryant.chris': 0.0,
 'thomas-symonds.nick': 0.0,
 'davies.david': 1.0,
 'morden.jessica': 0.0,
 'flynn.paul': 0.0,
 'williams.hywel': 0.0,
 'bebb.guto': 0.0,
 'jones.david': 1.0,
 'davies.james': 1.0,
 'roberts.liz': 0.0,
 'jones.susan': 0.0,
 'williams.mark': 0.0,
 'crabb.stephen': 0.0,
 'hart.simon': 0.0,
 'edwards.david': 0.0,
 'davies.chris': 1.0,
 'rees.christina': 0.0,
 'clwyd.ann': 0.0,
 'jones.gerald': 0.0,
 'smith.nick': 0.0,
 'moon.madeleine': 0.0,
 'irranca-davies.huw': 0.0,
 'smith.owen': 0.0,
 'david.wayne': 0.0,
 'evans.chris': 0.0,
 'cairns.alun': 0.0,
 'brennan.kevin': 0.0,
 'doughty.stephen': 0.0}

In [9]:
res_df = pd.DataFrame(politicians, columns=['politician last name'])
res_df

    politician last name
0            mowat.david
1         burden.richard
2        zeichner.daniel
3       campbell.gregory
4          lewis.brandon
..                   ...
589      meacher.michael
590         walker.robin
591      mccartney.jason
592         davies.david
593       rees.christina

[594 rows x 1 columns]

In [10]:
res_df.to_csv('politicians_names.csv')

In [11]:
count_zero

449

In [12]:
prefix_map ={
    54: 'BBC+News',
    106: 'News',
    107: 'News',
    175: 'News',
    279: ''
}

In [14]:
bbc_ids = [54, 106, 107, 175, 279]
#, 106, 107, 175, 279
partition = 1

# BBC

In [29]:
stopW = stopwords.words('english')

def contains_european(x):
    y = x.lower()
    words = y.split()
    flag = 'e.u' in words or 'eu' in words or 'europeanunion' in words
    words = [word for word in words if word not in stopW]
    bigrams = list(nltk.bigrams(words))
    bigrams = [bigram[0] + '.' + bigram[1] for bigram in bigrams]
    
    flag = flag or 'european.union' in bigrams or 'europe.union' in bigrams
    
    return 'EU' if flag else 'non_EU'

# programs = ['BBC News at One', 'BBC News at Six', 'BBC News at Ten']
def get_df(bbc_id):
    if bbc_id == 54:
        path = '../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_{}_{}.csv'
        
        path1 = path.format(bbc_id, 2015)
        path2 = path.format(bbc_id, 2016)
        print(path1)
        print(path2)

        df1 = pd.read_csv(path1)
        df1['date'] = pd.to_datetime(df1['date'])
        df1['month'] = df1['date'].apply(lambda x: x.month)
        df1 = df1.loc[df1.month >= 6]
        df2 = pd.read_csv(path2)
        df2['date'] = pd.to_datetime(df2['date'])
        df2['month'] = df2['date'].apply(lambda x: x.month)
        df2 = df2.loc[df2.month <= 6]
        df = pd.concat([df1, df2])
        df = df.drop(['Unnamed: 0', 'month'], axis=1)
        rows = []

        last_topic = None
        last_partition = None
        for index, row in df.iterrows():
            partition_id = row['partition_id']
            dt = row['date']
            source = row['source']
            transcript = row['transcript']
            t = row['type']
            topic = row['topic']


            if last_partition == partition_id and last_topic == topic:
                rows[-1][3] += row['transcript']
            else:
                last_topic = topic
                last_partition = partition_id
                rows.append([partition_id, dt, source, transcript, t, topic])
        df = pd.DataFrame(rows, columns=df.columns)
#         df = df.loc[df['source'].isin(programs)]
        display(df.head())
    else:
        path = '../data/partitions/bert_partitions_{}_{}.csv'
    
        path1 = path.format(bbc_id, 2015)
        path2 = path.format(bbc_id, 2016)
        print(path1)
        print(path2)

        df1 = pd.read_csv(path1)
        if 'Unnamed: 0' in df1.columns:
            df1 = df1.drop(['Unnamed: 0'], axis=1)
        df1.columns = ['Source','date', 'Program Name', 'Time', 'Duration', 'transcript', 'partitioned_transcript']
        df1['date'] = pd.to_datetime(df1['date'])
        df1['month'] = df1['date'].apply(lambda x: x.month)
        df1 = df1.loc[df1.month >= 6]
        df2 = pd.read_csv(path2)
        if 'Unnamed: 0' in df2.columns:
            df2 = df2.drop(['Unnamed: 0'], axis=1)
        df2.columns = ['Source','date', 'Program Name', 'Time', 'Duration', 'transcript', 'partitioned_transcript']
        df2['date'] = pd.to_datetime(df2['date'])
        df2['month'] = df2['date'].apply(lambda x: x.month)
        df2 = df2.loc[df2.month <= 6]
        df = pd.concat([df1, df2])
        df = df.drop(['month'], axis=1)
        display(df.head())
    
        partitions = []
        for index, row in df.iterrows():
            partition_string = row['partitioned_transcript']
            partition_date = row['date']
            all_partitions = str(partition_string).split('\n---------------------\n')
            for part in all_partitions:
                partitions.append((index, partition_date, part))
        df = pd.DataFrame(partitions, columns=['partition_id', 'date', 'transcript'])
        
    df['transcript'] = df['transcript'].apply(lambda x: x.lower())
    df['month'] = df['date'].apply(lambda x: x.month)
    df['year'] = df['date'].apply(lambda x: x.year)
    df['day'] = df['date'].apply(lambda x: x.day)
#     df = df.loc[~((df['year'] == 2016) & (df['month'] == 6) & (df['day'] > 22))]
    df['eu'] = df['transcript'].apply(lambda x: contains_european(x))
    df = df.loc[df['eu'] == 'non_EU']
    
    return df

In [30]:
df = get_df(54)

../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2015.csv
../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2016.csv

KeyboardInterrupt:

In [ ]:
df

# Count Functions

In [ ]:
# count of times last names appears when first name also appears
def count1(text, last_name, first_name):
    words = text.split(" ")
    
    if first_name in words and last_name in words:
        return words.count(last_name)
    else:
        return 0

# count of articles where first name and last name both appears
def count2(text, last_name, first_name):
    words = text.split(" ")
    
    if first_name in words and last_name in words:
        return 1
    else:
        return 0

# count when last name and first name appears together
def count3(text, last_name, first_name):
    words = text.split(" ")
    
    n_words = len(words)
    
    c = 0
    for i in range(n_words-1):
        if words[i] == first_name and words[i+1] == last_name:
            c += 1

    return c

# count when last name and first name appears together
def count3_new(text, last_name, first_name):
    return text.count(first_name + ' ' + last_name) + text.count(first_name + last_name)

# count when last name and first name appears together
def count4(text, last_name, first_name):
    words = text.split(" ")
    
    n_words = len(words)
    
    for i in range(n_words-1):
        if words[i] == first_name and words[i+1] == last_name:
            return 1

    return 0

def count4_new(text, last_name, first_name):
    patt1 = first_name + ' ' + last_name
    patt2 = first_name + last_name
    
    if patt1 in text or patt2 in text:
        return 1
    
    return 0

# Last Name appears

In [ ]:
for bbc_id in bbc_ids:
    df = get_df(bbc_id)
    
    if partition:
        for p in tqdm(politicians):
            last_name, first_name = p.split('.')
            df[p] = df['transcript'].apply(lambda x: count2(x, last_name, first_name))
    else:
        for p in tqdm(politicians):
            df[p] = df['Transcript'].apply(lambda x: x.count(p))
            
    overall_count_df = None
    
    display(df)
    
    for p in politicians:
        count_df = df[['month', 'year', p]]
        count_df = count_df.groupby(['month', 'year'], as_index=False).sum()

        if overall_count_df is None:
            overall_count_df = count_df
        else:
            overall_count_df[p] = count_df[p]
    overall_count_df = overall_count_df.sort_values(by=['year', 'month']).reset_index(drop=True)
    overall_count_df
                      
    overall_count_df.to_csv('politicians_last_name_count_bbc_{}.csv'.format(bbc_id), index=False)
    rows = []

    for index, row in overall_count_df.iterrows():
        party_count = [0, 0]
        for p in politicians:
            if politicians_party[p] == 0:
                party_count[0] += row[p]
            else:
                party_count[1] += row[p]
        rows.append([row['month'], row['year'], party_count[0], party_count[1]])

    res_df = pd.DataFrame(rows, columns=['month', 'year', 'party=0', 'party=1'])
    res_df = res_df.sort_values(by=['year', 'month']).reset_index(drop=True)
    res_df
    res_df.to_csv('politicians_last_name_count_bbc_{}_by_party.csv'.format(bbc_id), index=False)

# Last name and First Name appears together

In [31]:
for bbc_id in tqdm(bbc_ids):
    print(bbc_id)
    df = get_df(bbc_id)
    
    if partition:
        for p in politicians:
            last_name, first_name = p.split('.')
            df[p] = df['transcript'].apply(lambda x: count3_new(x, last_name, first_name))
    else:
        for p in tqdm(politicians):
            df[p] = df['Transcript'].apply(lambda x: x.count(p))
    
    display(df)
    overall_count_df = None

    for p in politicians:
        count_df = df[['month', 'year', p]]
        count_df = count_df.groupby(['month', 'year'], as_index=False).sum()

        if overall_count_df is None:
            overall_count_df = count_df
        else:
            overall_count_df[p] = count_df[p]
    overall_count_df = overall_count_df.sort_values(by=['year', 'month']).reset_index(drop=True)
    display(overall_count_df)

    overall_count_df.to_csv('politicians_last_name_count_bbc_{}.csv'.format(bbc_id), index=False)

    rows = []

    for index, row in overall_count_df.iterrows():
        party_count = [0, 0, 0, 0]
        for p in politicians:
            if politicians_party[p] == 0:
                party_count[0] += row[p]
            else:
                party_count[1] += row[p]
            
            if politicians_party2[p] == 'Con':
                party_count[2] += row[p]
            else:
                party_count[3] += row[p]
        rows.append([row['month'], row['year'], party_count[0], party_count[1], party_count[2], party_count[3]])

    res_df = pd.DataFrame(rows, columns=['month', 'year', 'party=0', 'party=1', 'conservative', 'labor'])
    res_df = res_df.sort_values(by=['year', 'month']).reset_index(drop=True)
    display(res_df)

    res_df.to_csv('politicians_last_name_count_bbc_{}_by_party.csv'.format(bbc_id), index=False)

  0%|          | 0/5 [00:00<?, ?it/s]

54
../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2015.csv
../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2016.csv

,partition_id,date,source,transcript,type,topic
0,943,2015-06-06,BBC News,Good afternoon. David Cameron will urge world...,p,Transport
1,943,2015-06-06,BBC News,Four rollercoasters at three theme parks in t...,p,"Culture, media and sport"
2,943,2015-06-06,BBC News,Four people remain in hospital after the cras...,p,Transport
3,943,2015-06-06,BBC News,Pope Francis has arrived in the Bosnian capit...,p,International affairs
4,943,2015-06-06,BBC News,Chinese authorities have said they now believ...,p,Transport

,partition_id,date,source,transcript,type,topic,month,year,day,eu,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,943,2015-06-06,BBC News,good afternoon. david cameron will urge world...,p,Transport,6,2015,6,non_EU,...,0,0,0,0,0,0,0,0,0,0
1,943,2015-06-06,BBC News,four rollercoasters at three theme parks in t...,p,"Culture, media and sport",6,2015,6,non_EU,...,0,0,0,0,0,0,0,0,0,0
2,943,2015-06-06,BBC News,four people remain in hospital after the cras...,p,Transport,6,2015,6,non_EU,...,0,0,0,0,0,0,0,0,0,0
3,943,2015-06-06,BBC News,pope francis has arrived in the bosnian capit...,p,International affairs,6,2015,6,non_EU,...,0,0,0,0,0,0,0,0,0,0
4,943,2015-06-06,BBC News,chinese authorities have said they now believ...,p,Transport,6,2015,6,non_EU,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54021,1284,2016-05-31,BBC News at Ten,"our north america editor, jon sopel, is in wa...",p,International affairs,5,2016,31,non_EU,...,0,0,0,0,0,0,0,0,0,0
54022,1284,2016-05-31,BBC News at Ten,"well, england and wales have named their squa...",p,"Culture, media and sport",5,2016,31,non_EU,...,0,0,0,0,0,0,0,0,0,0
54025,1284,2016-05-31,BBC News at Ten,tonight we reveal startling new figures showi...,p,Housing and planning,5,2016,31,non_EU,...,0,0,0,0,0,0,0,0,0,0
54026,1284,2016-05-31,BBC News at Ten,"along with more affordable homes, sadiq khan ...",p,"Parliament, government and politics",5,2016,31,non_EU,...,0,0,0,0,0,0,0,0,0,0
54027,1284,2016-05-31,BBC News at Ten,we have seen a massive increase in the number...,p,Economy and finance,5,2016,31,non_EU,...,0,0,0,0,0,0,0,0,0,0

,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,robinson.gavin,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,6,2015,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,2015,0,0,0,0,0,12,0,0,...,0,0,0,0,0,0,0,0,2,0
2,8,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2015,0,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10,2015,0,0,0,0,0,3,0,0,...,0,0,0,0,0,1,0,0,0,0
5,11,2015,0,0,0,0,0,21,0,0,...,0,0,0,0,0,0,0,0,0,0
6,12,2015,0,0,0,0,0,8,0,0,...,0,0,0,0,0,1,0,0,0,0
7,1,2016,0,0,0,0,1,12,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2,2016,0,0,0,0,0,62,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,2016,0,0,0,0,0,9,0,0,...,0,0,0,0,0,0,0,0,0,0
10,4,2016,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
11,5,2016,0,0,0,0,1,7,0,0,...,0,0,1,0,0,0,0,0,0,0
12,6,2016,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0

    month  year  party=0  party=1  conservative  labor
0       6  2015      214       39           183     70
1       7  2015      363       26           241    148
2       8  2015      444       12            94    362
3       9  2015      637       18           193    462
4      10  2015      375       91           353    113
5      11  2015      480       39           370    149
6      12  2015      237       37           157    117
7       1  2016      468      105           321    252
8       2  2016      374      147           416    105
9       3  2016      381      120           342    159
10      4  2016      325       98           245    178
11      5  2016      487      171           405    253
12      6  2016      656      286           450    492

 20%|â–ˆâ–ˆ        | 1/5 [01:46<07:06, 106.67s/it]

106
../data/partitions/bert_partitions_106_2015.csv
../data/partitions/bert_partitions_106_2016.csv

,Source,date,Program Name,Time,Duration,transcript,partitioned_transcript
34,Channel 4,2015-09-05,Channel 4 News,18:40,20 mins,Weâ€™ve made it to the promised Land. Hundreds o...,Hundreds of refugees are welcomed with open ar...
35,Channel 4,2015-09-06,Channel 4 News,18:30,30 mins,Subtitles by Ericsson SINGING An ode to joy as...,Subtitles by Ericsson SINGING An ode to joy as...
36,Channel 4,2015-09-07,Channel 4 News,19:00,60 mins,"They were British, fighting for Islamic State ...","They were British, fighting for Islamic State ..."
37,Channel 4,2015-09-03,Channel 4 News,19:00,60 mins,How did it come to this in Europe in 201S? Ref...,How did it come to this in Europe in 201S? Ref...
38,Channel 4,2015-09-04,Channel 4 News,19:00,60 mins,Theyâ€™re on the march from Budapest to Vienna. ...,Fed up with being blocked in Hungary the refug...

,partition_id,date,transcript,month,year,day,eu,mowat.david,burden.richard,zeichner.daniel,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,34,2015-09-05,hundreds of refugees are welcomed with open ar...,9,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34,2015-09-05,"what an extraordinary atmosphere, for the last...",9,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,34,2015-09-05,and wayne rooneyâ€™s 49th goal makes him tie wit...,9,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34,2015-09-05,"crossed borders on foot, by boat, train or bus...",9,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,34,2015-09-05,"for the last few days what weâ€™ve seen is fury,...",9,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15142,386,2016-02-05,"in our caf, weâ€™ve got a menu board full of fab...",2,2016,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15143,386,2016-02-05,iâ€™ve been presumptuous and made you a cup of t...,2,2016,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15144,386,2016-02-05,i just got back canada and before that i was i...,2,2016,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15145,386,2016-02-05,"you do a lot of flitting around, so how do you...",2,2016,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15146,386,2016-02-05,"so tell me, are there any guilty pleasures tha...",2,2016,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,robinson.gavin,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,6,2015,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,7,2015,0,0,0,0,0,3,0,0,...,0,0,0,0,1,0,0,0,0,0
2,8,2015,0,0,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,0
3,9,2015,0,0,0,0,0,4,0,0,...,0,0,0,0,0,4,0,0,0,0
4,10,2015,0,0,0,0,0,13,1,0,...,2,0,0,0,0,3,0,0,0,0
5,11,2015,0,0,0,0,0,4,0,0,...,0,0,0,0,1,4,0,0,0,0
6,12,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,2016,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2,2016,0,0,0,0,0,16,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,2016,0,0,0,0,0,2,0,0,...,1,0,0,0,0,0,0,0,0,0
10,5,2016,0,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
11,6,2016,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0

    month  year  party=0  party=1  conservative  labor
0       6  2015      117        8            82     43
1       7  2015      256       17           124    149
2       8  2015      340       10            86    264
3       9  2015      458        7           100    365
4      10  2015      313       32           212    133
5      11  2015      301       15           165    151
6      12  2015      186       10            80    116
7       1  2016      230       30           106    154
8       2  2016      143       59           173     29
9       3  2016       59       10            40     29
10      5  2016       90       29            95     24
11      6  2016      459      159           297    321

 40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 2/5 [02:09<02:51, 57.21s/it]

107
../data/partitions/bert_partitions_107_2015.csv
../data/partitions/bert_partitions_107_2016.csv

,Source,date,Program Name,Time,Duration,transcript,partitioned_transcript
0,Channel 5,2015-12-05,5 News Weekend,18:35,5 mins,"# ""Uptown Funk"" Whatever gifts you buy donâ€™t f...","# ""Uptown Funk"" Whatever gifts you buy donâ€™t f..."
1,Channel 5,2015-12-06,5 News Weekend,21:55,5 mins,# LUIS BACALOV AND ROCKY ROBERTS: Django Theme...,NaN
2,Channel 5,2015-12-04,5 News Tonight,18:30,30 mins,On S News Tonight - Inside the home of the cou...,On S News Tonight - Inside the home of the cou...
3,Channel 5,2015-12-01,5 News at 5,17:00,30 mins,In a wÃ‚rLd... full of diktats and conventionsu...,"La vie est belle, the eau de parfum and the ne..."
4,Channel 5,2015-12-01,5 News Tonight,18:30,30 mins,On Five News Tonight. Cameron and Cobyn prepar...,How the Yorkshire Ripper could swap his hospit...

,partition_id,date,transcript,month,year,day,eu,mowat.david,burden.richard,zeichner.daniel,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,0,2015-12-05,"# ""uptown funk"" whatever gifts you buy donâ€™t f...",12,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2015-12-05,the defence secretary says striking oilfields ...,12,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2015-12-05,subtitles by deluxe northern part of the uk wi...,12,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2015-12-05,"as the worst of the weather heads to the west,...",12,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2015-12-05,"these are the few, the fearless, people were s...",12,2015,5,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14837,534,2016-03-14,itâ€™s one of the burning questions of space exp...,3,2016,14,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14838,534,2016-03-14,the pictures may be slightly fuzzy - but the e...,3,2016,14,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14839,534,2016-03-14,"in the next few hours, weâ€™ll have confirmation...",3,2016,14,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14840,534,2016-03-14,"our desire for answers to questions far, far a...",3,2016,14,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14841,534,2016-03-14,sian welby has the weather next and dani sinha...,3,2016,14,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,robinson.gavin,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,6,2015,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,2015,0,0,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,2015,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10,2015,0,0,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,0
5,11,2015,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
6,12,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,1,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2,2016,0,0,0,0,0,18,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,2016,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
10,5,2016,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,6,2016,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

    month  year  party=0  party=1  conservative  labor
0       6  2015       78        3            57     24
1       7  2015      144        6            99     51
2       8  2015       83        0            25     58
3       9  2015      214        3            87    130
4      10  2015      109        8            77     40
5      11  2015      168        4           119     53
6      12  2015       91        3            51     43
7       1  2016       89        2            55     36
8       2  2016      112       15           104     23
9       3  2016       41        7            36     12
10      5  2016       23        5            24      4
11      6  2016      241       57           142    156

 60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 3/5 [02:27<01:18, 39.48s/it]

175
../data/partitions/bert_partitions_175_2015.csv
../data/partitions/bert_partitions_175_2016.csv

,Source,date,Program Name,Time,Duration,transcript,partitioned_transcript
0,ITV London,2015-07-04,ITV News & Weather,18:15,15 mins,The migrants who crossed the border- and storm...,The migrants who crossed the border- and storm...
1,ITV London,2015-07-04,ITV News & Weather,22:00,15 mins,Evading border checks and heading straight for...,Evading border checks and heading straight for...
2,ITV London,2015-07-07,ITV News at Ten & Weather,22:00,40 mins,And the new uniform gets rolled out... I looI<...,It looI subtitles by Deluxe ~ 1<>_ *0 vm 0*Ã‚_ ...
3,ITV London,2015-07-02,ITV News & Weather,18:30,30 mins,PÃ‚Ã‚eÃ‚_ *Ã¢Ã‚**Ã‚Ã‚Ã‚ mls *Ã‚dÃ‚v_ Pollen levels today...,PÃ‚Ã‚eÃ‚_ *Ã¢Ã‚**Ã‚Ã‚Ã‚ mls *Ã‚dÃ‚v_ Pollen levels today...
4,ITV London,2015-07-02,ITV News at Ten & Weather,22:00,40 mins,"Time to bomb the terrorists in Syria, the gove...","Time to bomb the terrorists in Syria, the gove..."

,partition_id,date,transcript,month,year,day,eu,mowat.david,burden.richard,zeichner.daniel,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,0,2015-07-04,the migrants who crossed the border- and storm...,7,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2015-07-04,"moro sooo to this group is wali unconcerned, u...",7,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2015-07-04,"we put our video footage to eurotunnel, the co...",7,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2015-07-04,all of the 30 british holidaymakers- killed in...,7,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,2015-07-04,"the group have not been seen since may 17th, w...",7,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30728,1360,2016-06-29,"at his barberâ€™s shop in clerkenwell, jevded is...",6,2016,29,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30729,1360,2016-06-29,"tonight, boris johnson appeared to have the ba...",6,2016,29,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30730,1360,2016-06-29,polandâ€™s ambassador visited a community centre...,6,2016,29,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30731,1360,2016-06-29,he used to have thls look in hls ens when he w...,6,2016,29,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30732,1360,2016-06-29,the explosive rage hannah hillman knew so well...,6,2016,29,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,robinson.gavin,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,6,2015,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,2015,0,0,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2015,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10,2015,0,0,0,0,0,16,0,0,...,0,0,0,0,0,1,0,0,1,0
5,11,2015,0,0,0,0,0,35,0,0,...,0,0,0,0,0,0,0,0,0,0
6,12,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,2016,0,0,0,0,0,23,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2,2016,0,0,0,0,0,38,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,2016,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
10,4,2016,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
11,5,2016,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
12,6,2016,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0

    month  year  party=0  party=1  conservative  labor
0       6  2015      142       44           142     44
1       7  2015      270       31           182    119
2       8  2015      358       29            97    290
3       9  2015      542       32           180    394
4      10  2015      306       76           272    110
5      11  2015      423       34           324    133
6      12  2015      235       24           131    128
7       1  2016      319       28           195    152
8       2  2016      209       90           255     44
9       3  2016       82       41            79     44
10      4  2016       23        7            23      7
11      5  2016      150       43           103     90
12      6  2016      444      158           324    278

 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 4/5 [03:10<00:40, 40.80s/it]

279
../data/partitions/bert_partitions_279_2015.csv
../data/partitions/bert_partitions_279_2016.csv

,Source,date,Program Name,Time,Duration,transcript,partitioned_transcript
0,Sky News,2015-10-04,CBS News,05:30,30 mins,~ Subtitles by Ericsson. E-mail: accessibility...,An eight-year old boy and a pensioner die in a...
1,Sky News,2015-10-04,Sunrise,06:00,240 mins,Subtitles by Ericsson. E-mail: accessibility@b...,Breaking news - at least 13 dead in flash floo...
2,Sky News,2015-10-02,Sunrise,06:00,180 mins,I wonâ€™t be the last one to find a lump. I wonâ€™...,I wonâ€™t be the last one to find a lump. I wonâ€™...
3,Sky News,2015-10-02,Sky News with Colin Brazier and Jayne Secker,09:00,180 mins,"I need injury compensation, but I donâ€™t know w...","I need injury compensation, but I donâ€™t know w..."
4,Sky News,2015-10-09,Sky World News,04:00,30 mins,Be one with your tyres and the road will be on...,Be one with your tyres and the road will be on...

,partition_id,date,transcript,month,year,day,eu,mowat.david,burden.richard,zeichner.daniel,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,0,2015-10-04,an eight-year old boy and a pensioner die in a...,10,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2015-10-04,paid leave for grandparents - the chancellor o...,10,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2015-10-04,president obama promises a full investigation ...,10,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2015-10-04,disappointment for fans as hosts england are d...,10,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2015-10-04,breaking news - at least 13 dead in flash floo...,10,2015,4,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17385,734,2016-05-28,hull beat sheffield wednesday in the champions...,5,2016,28,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17386,734,2016-05-28,daniel ricciardo says his first-ever pole posi...,5,2016,28,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17387,734,2016-05-28,"in rugby union, saracens are the first club in...",5,2016,28,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17388,734,2016-05-28,"still to come, the sunday papers for two night...",5,2016,28,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17389,734,2016-05-28,you canâ€™t escape the fact that it is four week...,5,2016,28,non_EU,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,robinson.gavin,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,6,2015,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,2015,0,0,0,0,0,4,0,0,...,0,0,0,0,1,0,0,0,0,0
2,8,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,2015,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,1,0
4,10,2015,0,0,0,0,0,11,0,0,...,0,0,0,0,0,1,0,0,0,0
5,11,2015,0,0,0,0,0,10,0,0,...,0,0,0,0,0,1,0,0,0,0
6,12,2015,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
7,1,2016,0,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2,2016,0,0,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,2016,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,5,2016,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
11,6,2016,0,0,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0

    month  year  party=0  party=1  conservative  labor
0       6  2015      135       10           104     41
1       7  2015      398      343           614    127
2       8  2015      122        1            19    104
3       9  2015      406        5            63    348
4      10  2015      303       63           248    118
5      11  2015      305        0           196    109
6      12  2015      273       12           119    166
7       1  2016      324        5           164    165
8       2  2016      136       53           179     10
9       3  2016       30        7            35      2
10      5  2016      142       39           115     66
11      6  2016      947      299           607    639

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [03:37<00:00, 43.43s/it]

# News

In [58]:
news_df1 = pd.read_csv('../data/news_predictions/news_2015_predictions.csv')
news_df1 = news_df1.drop(['Unnamed: 0', 'parliament', 'top1_acc', 'top1_topic', 'top2_topic', 'top2_acc', 'top3_topic', 'top3_acc'], axis=1)
news_df1 = news_df1.reset_index(drop=True)
news_df1['transcript'] = news_df1['transcript'].apply(lambda x: str(x).lower())
news_df1 = news_df1.loc[news_df1.month >= 6]

In [59]:
news_df2 = pd.read_csv('../data/news_predictions/news_2016_predictions.csv')
news_df2 = news_df2.drop(['Unnamed: 0', 'parliament', 'top1_acc', 'top1_topic', 'top2_topic', 'top2_acc', 'top3_topic', 'top3_acc'], axis=1)
news_df2 = news_df2.reset_index(drop=True)
news_df2['transcript'] = news_df2['transcript'].apply(lambda x: str(x).lower())
news_df2 = news_df2.loc[news_df2.month <= 6]

In [60]:
news_df = pd.concat([news_df1, news_df2])
news_df = news_df.loc[news_df.source_id.isin([138620, 389195, 397135, 8200])]

In [61]:
news_df['eu'] = news_df['transcript'].apply(lambda x: contains_european(x))
# news_df = news_df.loc[~((news_df['year'] == 2016) & (news_df['month'] == 6) & (news_df['day'] > 22))]
news_df = news_df.loc[news_df['eu'] == 'non_EU']

In [62]:
news_df

,source_id,source,day,month,year,program_name,transcript,eu
631053,138620,Guardian,1,6,2015,Office employees should be on feet for four ho...,research has long linked excessive time spent ...,non_EU
631054,138620,Guardian,1,6,2015,Andy Murray\nsets up French Open quarter-final...,"he won 6-4, 3-6, 6-3, 6-2 in just under three ...",non_EU
631055,138620,Guardian,1,6,2015,'I start to feel it in my knees' - working for...,"the us secretary of state donald rumsfeld, fam...",non_EU
631056,138620,Guardian,1,6,2015,Sepp Blatter's Fifa re-election causes anger b...,blatter secured a fifth four-year term in offi...,non_EU
631057,138620,Guardian,1,6,2015,"Greek people, not Syriza, will achieve a break...",then greece's new representative at the imf wi...,non_EU
...,...,...,...,...,...,...,...,...
970081,389195,Telegraph,30,6,2016,Video shows moment entire house topples over a...,no injuries were reported as the area was evac...,non_EU
970082,389195,Telegraph,30,6,2016,Every children's intensive care unit to be pro...,an investigation into a string of deaths in br...,non_EU
970084,389195,Telegraph,30,6,2016,"Kids discuss HS2, the Queen and the state of E...","in this video, we ask some of this country's y...",non_EU
970085,389195,Telegraph,30,6,2016,This family spent their holiday in Turkey maki...,"""the emotional intensity of their situation wa...",non_EU
970086,389195,Telegraph,30,6,2016,"Michael Deacon reviews The Nut Tree, Murcott: ...",when i finally get round to launching a restau...,non_EU

In [63]:
news_df.source.unique()

array(['Guardian', 'Independent', 'Mail', 'Telegraph'], dtype=object)

In [64]:
for p in tqdm(politicians):
    last_name, first_name = p.split('.')
    news_df[p] = news_df['transcript'].apply(lambda x: count3_new(x, last_name, first_name))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 594/594 [40:20<00:00,  4.07s/it]

In [65]:
overall_count_df = None

for p in tqdm(politicians):
    count_df = news_df[['source', 'month', 'year', p]]
    count_df = count_df.groupby(['source', 'month', 'year'], as_index=False).sum()
    
    if overall_count_df is None:
        overall_count_df = count_df
    else:
        overall_count_df[p] = count_df[p]

overall_count_df = overall_count_df.sort_values(by=['year', 'month']).reset_index(drop=True)
overall_count_df

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 594/594 [00:44<00:00, 13.39it/s]

,source,month,year,mowat.david,burden.richard,zeichner.daniel,campbell.gregory,lewis.brandon,hunt.jeremy,burgon.richard,...,garnier.mark,brown.alan,shelbrooke.alec,coffey.ann,lewis.julian,meacher.michael,walker.robin,mccartney.jason,davies.david,rees.christina
0,Guardian,6,2015,0,0,0,0,3,38,0,...,0,0,1,0,3,2,0,4,3,0
1,Independent,6,2015,0,2,0,0,1,34,0,...,4,0,1,0,4,0,0,0,0,0
2,Mail,6,2015,0,1,1,0,1,27,1,...,3,0,2,2,2,2,0,1,2,1
3,Telegraph,6,2015,0,0,0,0,5,16,0,...,0,0,0,1,1,0,0,2,1,0
4,Guardian,7,2015,0,0,1,0,1,83,6,...,3,0,0,0,6,4,0,3,8,0
5,Independent,7,2015,0,1,1,1,0,55,4,...,1,0,0,1,16,2,2,0,2,3
6,Mail,7,2015,0,0,0,3,0,71,0,...,8,0,0,0,5,3,1,1,0,0
7,Telegraph,7,2015,0,0,2,0,1,25,1,...,0,0,0,0,8,3,0,0,0,0
8,Guardian,8,2015,0,0,0,2,5,10,0,...,0,0,0,0,0,7,0,0,7,0
9,Independent,8,2015,0,4,0,0,4,12,7,...,0,0,0,2,3,0,0,0,0,0
10,Mail,8,2015,0,1,0,0,6,15,1,...,4,0,3,0,3,5,0,0,0,0
11,Telegraph,8,2015,0,0,0,0,3,15,0,...,0,0,0,0,0,3,0,0,0,0
12,Guardian,9,2015,2,0,0,0,3,29,3,...,1,0,2,0,1,1,0,0,1,0
13,Independent,9,2015,5,0,0,0,4,32,1,...,0,1,6,0,2,11,0,0,2,0
14,Mail,9,2015,2,1,2,1,0,29,2,...,2,4,4,1,3,10,1,1,8,1
15,Telegraph,9,2015,0,0,0,0,3,13,0,...,1,0,0,0,2,6,0,1,19,0
16,Guardian,10,2015,0,0,0,0,0,159,3,...,1,0,0,0,6,19,2,0,2,0
17,Independent,10,2015,0,0,2,0,4,137,2,...,0,0,3,2,1,34,0,1,0,0
18,Mail,10,2015,3,0,0,0,0,122,0,...,9,3,2,2,1,7,0,0,2,0
19,Telegraph,10,2015,0,0,0,0,2,58,1,...,0,0,0,0,0,2,0,1,9,0
20,Guardian,11,2015,0,0,0,0,6,113,0,...,1,0,0,3,11,7,0,0,4,0
21,Independent,11,2015,2,2,0,2,2,136,0,...,0,0,0,0,8,13,0,0,0,0
22,Mail,11,2015,1,0,0,2,4,107,0,...,5,2,2,15,15,9,0,0,1,0
23,Telegraph,11,2015,0,0,1,0,3,58,0,...,2,0,1,2,2,9,0,0,0,0
24,Guardian,12,2015,0,0,0,0,3,26,2,...,1,0,0,5,20,21,0,0,5,0
25,Independent,12,2015,2,7,2,2,11,59,5,...,6,4,2,9,15,9,2,3,0,2
26,Mail,12,2015,15,15,15,15,16,55,27,...,20,17,15,20,26,19,15,18,19,16
27,Telegraph,12,2015,0,0,0,0,1,18,1,...,1,0,0,0,5,4,0,0,2,2
28,Guardian,1,2016,0,0,1,0,8,139,1,...,3,0,0,0,2,1,0,0,4,0
29,Independent,1,2016,0,0,0,1,3,169,9,...,4,0,4,0,3,0,0,0,1,0
30,Mail,1,2016,0,0,0,0,1,193,2,...,9,3,2,0,3,0,1,0,7,0
31,Telegraph,1,2016,0,0,0,0,2,29,1,...,3,1,0,0,0,2,0,2,2,0
32,Guardian,2,2016,0,1,1,0,1,182,0,...,0,0,0,0,2,0,1,0,7,0
33,Independent,2,2016,2,0,0,3,2,532,0,...,0,0,2,0,0,5,0,0,2,1
34,Mail,2,2016,2,0,0,0,7,173,1,...,9,1,0,0,0,0,0,0,3,0
35,Telegraph,2,2016,1,0,0,0,3,10,0,...,0,1,0,0,4,0,0,0,0,0
36,Guardian,3,2016,1,0,0,0,17,61,2,...,0,0,0,0,0,1,0,2,5,0
37,Independent,3,2016,0,3,3,0,13,59,4,...,0,0,0,3,8,2,0,0,5,3
38,Mail,3,2016,0,2,2,0,11,48,2,...,8,0,0,2,5,5,0,3,4,2
39,Telegraph,3,2016,0,0,0,0,3,8,0,...,0,0,0,0,0,0,0,1,1,0
40,Guardian,4,2016,0,2,1,0,5,209,0,...,2,3,0,1,8,14,0,1,0,1
41,Independent,4,2016,0,0,1,1,4,222,2,...,0,0,0,0,0,0,0,1,0,0
42,Mail,4,2016,2,0,0,0,4,157,4,...,1,0,2,0,5,0,0,0,0,0
43,Telegraph,4,2016,3,0,0,0,1,281,1,...,3,0,0,0,1,0,0,0,9,0
44,Guardian,5,2016,0,0,0,0,5,52,1,...,2,0,0,5,22,1,0,2,2,0
45,Independent,5,2016,0,0,9,0,1,86,2,...,0,0,0,0,3,2,0,0,2,0
46,Mail,5,2016,0,0,1,0,1,67,0,...,6,2,10,0,3,0,0,0,3,0
47,Telegraph,5,2016,0,0,0,0,0,33,0,...,0,0,0,0,3,0,0,0,7,0
48,Guardian,6,2016,0,0,0,0,2,27,4,...,0,0,0,1,3,1,0,1,0,0
49,Independent,6,2016,0,0,2,0,0,10,0,...,0,0,0,4,0,0,0,0,0,0
50,Mail,6,2016,0,3,0,0,0,12,3,...,0,1,0,0,0,0,1,8,2,0
51,Telegraph,6,2016,0,0,0,0,0,13,0,...,0,0,0,2,0,0,0,0,4,0

In [66]:
overall_count_df.to_csv('politicians_last_name_count_news.csv')

In [67]:
rows = []

for index, row in overall_count_df.iterrows():
    party_count = [0, 0, 0, 0]
    for p in politicians:
        if politicians_party[p] == 0:
            party_count[0] += row[p]
        else:
            party_count[1] += row[p]
        if politicians_party2[p] == 'Con':
            party_count[2] += row[p]
        else:
            party_count[3] += row[p]
            
    rows.append([row['source'], row['month'], row['year'], party_count[0], party_count[1], party_count[2], party_count[3]])
    
res_df = pd.DataFrame(rows, columns=['source', 'month', 'year', 'party=0', 'party=1', 'conservative', 'labor'])
res_df = res_df.sort_values(by=['year', 'month']).reset_index(drop=True)
res_df

         source  month  year  party=0  party=1  conservative  labor
0      Guardian      6  2015     1992      241          1109   1124
1   Independent      6  2015     2138      363          1232   1269
2          Mail      6  2015     2146      358          1227   1277
3     Telegraph      6  2015     1163      183           905    441
4      Guardian      7  2015     2612      380          1604   1388
5   Independent      7  2015     3198      442          1712   1928
6          Mail      7  2015     2993      452          1993   1452
7     Telegraph      7  2015     1674      253          1182    745
8      Guardian      8  2015     1868      166           692   1342
9   Independent      8  2015     2347      206           883   1670
10         Mail      8  2015     2099      417          1247   1269
11    Telegraph      8  2015     1260      115           612    763
12     Guardian      9  2015     2643      327          1165   1805
13  Independent      9  2015     3653      308          1385   2576
14         Mail      9  2015     4575      483          1808   3250
15    Telegraph      9  2015     1996      195           811   1380
16     Guardian     10  2015     3794      674          2688   1780
17  Independent     10  2015     3958      608          2673   1893
18         Mail     10  2015     3270      693          2571   1392
19    Telegraph     10  2015     1805      248          1341    712
20     Guardian     11  2015     3190      356          2048   1498
21  Independent     11  2015     4390      317          2492   2215
22         Mail     11  2015     3962      570          2926   1606
23    Telegraph     11  2015     1953      204          1416    741
24     Guardian     12  2015     2371      287          1305   1353
25  Independent     12  2015     5146      625          2555   3216
26         Mail     12  2015    10683     2706          6387   7002
27    Telegraph     12  2015     1329      216           885    660
28     Guardian      1  2016     3148      344          1677   1815
29  Independent      1  2016     3986      390          2007   2369
30         Mail      1  2016     3315      586          2270   1631
31    Telegraph      1  2016     1363      318           953    728
32     Guardian      2  2016     1769      234          1244    759
33  Independent      2  2016     2420      287          1866    841
34         Mail      2  2016     2162      548          1795    915
35    Telegraph      2  2016      534      140           485    189
36     Guardian      3  2016     2257      413          1700    970
37  Independent      3  2016     2935      465          1717   1683
38         Mail      3  2016     3101      587          2204   1484
39    Telegraph      3  2016      803      100           576    327
40     Guardian      4  2016     3561      613          2467   1707
41  Independent      4  2016     2321      337          1627   1031
42         Mail      4  2016     2655      588          1820   1423
43    Telegraph      4  2016     3118      465          1891   1692
44     Guardian      5  2016     2897      533          1620   1810
45  Independent      5  2016     2467      537          1534   1470
46         Mail      5  2016     2434      737          1767   1404
47    Telegraph      5  2016     2307      716          1423   1600
48     Guardian      6  2016     2007      389          1176   1220
49  Independent      6  2016     1946      231           704   1473
50         Mail      6  2016     1936      461           973   1424
51    Telegraph      6  2016     1541      289           682   1148

In [68]:
res_df.to_csv('politicians_last_name_count_news_by_party.csv')