In [1]:
import pandas as pd

In [42]:
df = pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2016.csv')

In [43]:
programs = ['BBC News at Six', 'BBC News at Ten', 'BBC News at One']
df = df.drop(['Unnamed: 0'], axis=1)
df = df.loc[df.source.isin(programs)]
df['date'] = pd.to_datetime(df['date'])
mask = (df['date'] > '2016-1-1') & (df['date'] <= '2016-6-30')
df = df.loc[mask]

In [44]:
df.source.unique()

array(['BBC News at One', 'BBC News at Six', 'BBC News at Ten'],
      dtype=object)

In [45]:
df

,partition_id,date,source,transcript,type,topic
637,5,2016-06-02,BBC News at One,Mr Reginald Keys? We’re from Army notificatio...,p,Defence
638,5,2016-06-02,BBC News at One,We’d like you to take on Tony Blair at the ne...,p,"Parliament, government and politics"
639,5,2016-06-02,BBC News at One,You’re taking on the Prime Minister and you c...,p,"Parliament, government and politics"
640,5,2016-06-02,BBC News at One,We’ll be live with our correspondent in Westm...,p,"Parliament, government and politics"
641,5,2016-06-02,BBC News at One,Also this lunchtime: The future of BHS - thou...,p,Transport
...,...,...,...,...,...,...
42637,1284,2016-05-31,BBC News at Ten,"It is an important decision, so you weigh up ...",p,"Parliament, government and politics"
42638,1284,2016-05-31,BBC News at Ten,We will be talking to one of its foreign poli...,p,"Parliament, government and politics"
42639,1284,2016-05-31,BBC News at Ten,Tonight we reveal startling new figures showi...,p,Housing and planning
42640,1284,2016-05-31,BBC News at Ten,"Along with more affordable homes, Sadiq Khan ...",p,"Parliament, government and politics"
42641,1284,2016-05-31,BBC News at Ten,We have seen a massive increase in the number...,p,Economy and finance

In [46]:
rows = []

last_topic = None
last_partition = None
for index, row in df.iterrows():
    partition_id = row['partition_id']
    dt = row['date']
    source = row['source']
    transcript = row['transcript']
    t = row['type']
    topic = row['topic']
    
    
    if last_partition == partition_id and last_topic == topic:
        rows[-1][3] += row['transcript']
    else:
        last_topic = topic
        last_partition = partition_id
        rows.append([partition_id, dt, source, transcript, t, topic])
res_df = pd.DataFrame(rows, columns=df.columns)
res_df

,partition_id,date,source,transcript,type,topic
0,5,2016-06-02,BBC News at One,Mr Reginald Keys? We’re from Army notificatio...,p,Defence
1,5,2016-06-02,BBC News at One,We’d like you to take on Tony Blair at the ne...,p,"Parliament, government and politics"
2,5,2016-06-02,BBC News at One,Also this lunchtime: The future of BHS - thou...,p,Transport
3,5,2016-06-02,BBC News at One,Flooding in France and Germany has left five ...,p,Energy and environment
4,5,2016-06-02,BBC News at One,Researchers find a link between having a larg...,p,"Parliament, government and politics"
...,...,...,...,...,...,...
6654,1284,2016-05-31,BBC News at Ten,With just over three weeks to the EU referend...,p,European Union
6655,1284,2016-05-31,BBC News at Ten,"It is an important decision, so you weigh up ...",p,"Parliament, government and politics"
6656,1284,2016-05-31,BBC News at Ten,Tonight we reveal startling new figures showi...,p,Housing and planning
6657,1284,2016-05-31,BBC News at Ten,"Along with more affordable homes, Sadiq Khan ...",p,"Parliament, government and politics"
6658,1284,2016-05-31,BBC News at Ten,We have seen a massive increase in the number...,p,Economy and finance

In [119]:
z = res_df.loc[res_df.source == 'BBC News at Ten']
z['date'] = pd.to_datetime(z['date'])
z['month'] = z['date'].apply(lambda x: x.month)
z['day'] = z['date'].apply(lambda x: x.day)
z = z.loc[(z.month == 1) & (z.day == 6)]
z['count'] = z['transcript'].apply(lambda x: len(x.split()))
z

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,partition_id,date,source,transcript,type,topic,month,day,count
1661,234,2016-01-06,BBC News at Ten,"Tonight at ten, resignations and recriminatio...",p,European Union,1,6,118
1662,234,2016-01-06,BBC News at Ten,"Also tonight, in North Korea, a spirited anno...",p,"Culture, media and sport",1,6,20
1663,234,2016-01-06,BBC News at Ten,"After the recent floods, the Environment Agen...",p,"Parliament, government and politics",1,6,72
1664,234,2016-01-06,BBC News at Ten,"Half-price travel for early-bird commuters, t...",p,Transport,1,6,12
1665,234,2016-01-06,BBC News at Ten,jeremy Corbyn’s first reshuffle as Labour lea...,p,"Parliament, government and politics",1,6,296
1666,234,2016-01-06,BBC News at Ten,The last 24 hours have been a damaging pantom...,p,Health services and medicine,1,6,9
1667,234,2016-01-06,BBC News at Ten,While jeremy Corbyn’s been bunkered up in his...,p,International affairs,1,6,83
1668,234,2016-01-06,BBC News at Ten,I’m looking forward to getting on with my new...,p,"Parliament, government and politics",1,6,299
1669,234,2016-01-06,BBC News at Ten,That reachable process has made the gap deepe...,p,International affairs,1,6,606
1670,234,2016-01-06,BBC News at Ten,"Our North America editor, jon Sopel, is in Wa...",p,Defence,1,6,162
1671,234,2016-01-06,BBC News at Ten,"All right, jon, thanks again, jon Sopel at th...",p,"Parliament, government and politics",1,6,11
1672,234,2016-01-06,BBC News at Ten,"The chairman of the Environment Agency, Sir P...",p,Energy and environment,1,6,63
1673,234,2016-01-06,BBC News at Ten,"The floodwaters may have subsided, but in man...",p,Transport,1,6,103
1674,234,2016-01-06,BBC News at Ten,"This was a PR disaster for you personally, wa...",p,Energy and environment,1,6,508
1675,234,2016-01-06,BBC News at Ten,So many people have a tale about needing help...,p,"Parliament, government and politics",1,6,171
1676,234,2016-01-06,BBC News at Ten,"janet is recovering from a hip operation, mak...",p,Health services and medicine,1,6,11
1677,234,2016-01-06,BBC News at Ten,If you could sit down with the people in powe...,p,"Parliament, government and politics",1,6,16
1678,234,2016-01-06,BBC News at Ten,"Well, I don’t think any of us here expected i...",p,Energy and environment,1,6,48
1679,234,2016-01-06,BBC News at Ten,Businesses have set up temporary kiosks on th...,p,European Union,1,6,355
1680,234,2016-01-06,BBC News at Ten,This has ignited an already highly charged na...,p,"Crime, civil law, justice and rights",1,6,249
1681,234,2016-01-06,BBC News at Ten,Police in Turkey have uncovered an illegal wo...,p,International affairs,1,6,52
1682,234,2016-01-06,BBC News at Ten,The price of oil has fallen below $35 a barre...,p,"Parliament, government and politics",1,6,88
1683,234,2016-01-06,BBC News at Ten,Sian Blake and her two sons have not been see...,p,"Crime, civil law, justice and rights",1,6,174
1684,234,2016-01-06,BBC News at Ten,"He was never a customer, she was a customer o...",p,"Parliament, government and politics",1,6,11
1685,234,2016-01-06,BBC News at Ten,"The family home, in Erith in Kent, is now a c...",p,"Crime, civil law, justice and rights",1,6,197
1686,234,2016-01-06,BBC News at Ten,"Prince Ali of jordan, Prince Ali ofjordan, wh...",p,"Culture, media and sport",1,6,232
1687,234,2016-01-06,BBC News at Ten,"We need fresh ideas, fresh blood, free thinki...",p,"Parliament, government and politics",1,6,53
1688,234,2016-01-06,BBC News at Ten,These are the men who stand in Ali’s way. Asi...,p,"Culture, media and sport",1,6,130
1689,234,2016-01-06,BBC News at Ten,"Fifa, of course, has been notoriously resista...",p,International affairs,1,6,35
1690,234,2016-01-06,BBC News at Ten,"In cricket, the second Test between England a...",p,"Culture, media and sport",1,6,64
1691,234,2016-01-06,BBC News at Ten,The Duke and Duchess of Cambridge have releas...,p,Education,1,6,56
1692,234,2016-01-06,BBC News at Ten,"Music is not there to please people, accordin...",p,"Culture, media and sport",1,6,330
1693,234,2016-01-06,BBC News at Ten,"When the dog is outside, out of the house, he...",p,"Parliament, government and politics",1,6,58
1694,234,2016-01-06,BBC News at Ten,A gang armed with machetes and axes has stole...,p,"Crime, civil law, justice and rights",1,6,33
1695,234,2016-01-06,BBC News at Ten,BBC London has obtained footage of the moment...,p,"Parliament, government and politics",1,6,44

In [120]:
z['count'].sum()

4769

In [48]:
max_count = res_df['partition_id'].value_counts().max()

In [49]:
shows = res_df['partition_id'].unique()

In [50]:
phrases = {
    'BBC News at One': 'good afternoon and welcome to the bbc news at one',
    'BBC News at Six': 'good evening and welcome to the bbc news at six',
    'BBC News at Ten': 'tonight at ten'
}

In [51]:
counts = {'BBC News at Six': 0, 'BBC News at Ten': 0, 'BBC News at One': 0}

In [52]:
rows = []
cols = ['date', 'source', 'transcript1', 'topic1', 'transcript2', 'topic2', 'transcript3', 'topic3', 'transcript4', 'topic4', 'transcript5', 'topic5']
for show in shows:
    df_show = res_df.loc[res_df.partition_id == show]
    i = 0
    
    phrase = phrases[df_show.iloc[0]['source']]
    
    while i < len(df_show):
        row = df_show.iloc[i]
        if phrase in row['transcript'].lower():
            break
        i += 1
    
    if i == len(df_show):
        i = 0
    
    while i < len(df_show):
        row = df_show.iloc[i]
        if len(row['transcript'].split()) > 50:
            break
        i += 1
        
    row = df_show.iloc[i]
    df_row = [row['date'], row['source']]
    
    for j in range(5):
        row = df_show.iloc[j+i]
        df_row.extend([len(row['transcript'].split()), row['topic']])
    rows.append(df_row)

res_df2 = pd.DataFrame(rows, columns = cols)
res_df2

,date,source,transcript1,topic1,transcript2,topic2,transcript3,topic3,transcript4,topic4,transcript5,topic5
0,2016-06-02,BBC News at One,51,European Union,110,"Parliament, government and politics",234,European Union,12,"Parliament, government and politics",417,European Union
1,2016-06-02,BBC News at Six,166,"Parliament, government and politics",32,European Union,14,"Crime, civil law, justice and rights",37,"Parliament, government and politics",483,"Business, industry and consumers"
2,2016-06-02,BBC News at Ten,99,"Business, industry and consumers",50,"Parliament, government and politics",39,European Union,12,"Parliament, government and politics",656,"Business, industry and consumers"
3,2016-06-06,BBC News at One,299,"Crime, civil law, justice and rights",84,"Culture, media and sport",43,"Parliament, government and politics",153,"Crime, civil law, justice and rights",1131,European Union
4,2016-06-06,BBC News at Ten,122,"Crime, civil law, justice and rights",111,"Parliament, government and politics",106,"Crime, civil law, justice and rights",21,"Parliament, government and politics",152,"Crime, civil law, justice and rights"
...,...,...,...,...,...,...,...,...,...,...,...,...
244,2016-05-27,BBC News at Ten,69,"Parliament, government and politics",109,European Union,37,"Parliament, government and politics",46,"Crime, civil law, justice and rights",16,"Parliament, government and politics"
245,2016-05-30,BBC News at One,83,"Parliament, government and politics",570,European Union,381,"Parliament, government and politics",195,Transport,380,International affairs
246,2016-05-30,BBC News at Six,51,Transport,61,International affairs,18,"Parliament, government and politics",211,European Union,137,Transport
247,2016-05-30,BBC News at Ten,51,"Parliament, government and politics",21,International affairs,417,"Parliament, government and politics",472,European Union,92,"Parliament, government and politics"
248,2016-05-31,BBC News at Ten,196,Employment and training,28,"Parliament, government and politics",20,Defence,17,"Parliament, government and politics",66,"Culture, media and sport"

In [53]:
res_df2.to_csv('News_at_1_6_10_with_first_5_partitions_with_transcript_Jan_June_2016.csv')

In [79]:
len(res_df2.loc[res_df2.topic1.str.contains('Parliament')])

197

In [80]:
res_df2['count'] = 1

In [87]:
topics = ['topic1', 'topic2', 'topic3', 'topic4', 'topic5']
programs = ['BBC News at One', 'BBC News at Ten', 'BBC News at Six']
total_counts = res_df2['source'].value_counts()
cols = ['source'] + topics

rows = []
for program in programs:
    row = [program]
    for topic in topics:
        counts = res_df2[['source', topic, 'count']].groupby(['source', topic], as_index=False).sum()
        counts = counts.loc[(counts.source == program) & (counts[topic] == 'Parliament, government and politics')]
        assert(len(counts) == 1)
        count = counts.iloc[0]['count']
        row.append(count/ total_counts[program])
    rows.append(row)
    
parliament_share_df = pd.DataFrame(rows, columns=cols)
parliament_share_df

            source    topic1    topic2    topic3    topic4    topic5
0  BBC News at One  0.386667  0.311111  0.342222  0.364444  0.315556
1  BBC News at Ten  0.228426  0.467005  0.360406  0.370558  0.319797
2  BBC News at Six  0.336788  0.388601  0.331606  0.274611  0.362694

In [88]:
parliament_share_df.to_csv('parliament_position_share.csv', index=False)

In [39]:
rows = []
cols = ['date', 'source']

for i in range(max_count):
    cols.append('word_count ' + str(i))

for show in shows:
    df_show = res_df.loc[res_df.partition_id == show]
    
    row = df_show.iloc[0]
    df_row = [row['date'], row['source']]
    df_row.extend([0] * max_count)
    i = 2
    for index, row in df_show.iterrows():
        df_row[i] = len(row['transcript'].split())
        i += 1
    rows.append(df_row)

res_df3 = pd.DataFrame(rows, columns = cols)
res_df3

,date,source,word_count 0,word_count 1,word_count 2,word_count 3,word_count 4,word_count 5,word_count 6,word_count 7,...,word_count 38,word_count 39,word_count 40,word_count 41,word_count 42,word_count 43,word_count 44,word_count 45,word_count 46,word_count 47
0,2015-07-07,BBC News at Six,1001,107,195,467,224,161,318,20,...,0,0,0,0,0,0,0,0,0,0
1,2015-07-07,BBC News at Ten,673,27,391,107,195,62,273,141,...,0,0,0,0,0,0,0,0,0,0
2,2015-07-03,BBC News at One,212,139,233,163,28,152,171,342,...,0,0,0,0,0,0,0,0,0,0
3,2015-07-03,BBC News at Six,48,37,64,223,140,108,113,175,...,0,0,0,0,0,0,0,0,0,0
4,2015-07-03,BBC News at Ten,68,20,16,26,37,197,154,414,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,2015-11-02,BBC News at Six,68,121,23,23,327,38,158,62,...,0,0,0,0,0,0,0,0,0,0
353,2015-11-02,BBC News at Ten,15,165,71,10,438,13,56,526,...,0,0,0,0,0,0,0,0,0,0
354,2015-11-30,BBC News at One,35,156,77,828,1016,198,280,50,...,0,0,0,0,0,0,0,0,0,0
355,2015-11-30,BBC News at Six,68,35,162,37,17,10,333,23,...,0,0,0,0,0,0,0,0,0,0
356,2015-11-30,BBC News at Ten,245,21,124,2317,110,237,98,47,...,0,0,0,0,0,0,0,0,0,0

In [122]:
res_df3.to_csv('./partition_word_counts_News_at_One_Six_Ten.csv')

In [27]:
rows = []
cols = ['date', 'source', 'topic', 'word_count']


for show in shows:
    df_show = res_df.loc[res_df.partition_id == show]
    df_show = df_show.reset_index(drop=True)
    
    max_count = 0
    max_count_index = 0
    
    flag = False
    i = 0
    for index, row in df_show.iterrows():
        _len = len(row['transcript'].split())
        
        if _len >= 1000:
            df_row = [row['date'], row['source'], row['topic'], _len]
            flag = True
            break
        else:
            if max_count < _len:
                max_count = _len
                max_count_index = index
        i += 1
    
    if flag:
        rows.append(df_row)
    else:
        row = df_show.iloc[max_count_index]
        df_row = [row['date'], row['source'], row['topic'], max_count]
        rows.append(df_row)

res_df4 = pd.DataFrame(rows, columns = cols)
res_df4

,date,source,topic,word_count
0,2015-07-07,BBC News at Six,"Parliament, government and politics",1001
1,2015-07-07,BBC News at Ten,"Parliament, government and politics",673
2,2015-07-03,BBC News at One,Health services and medicine,611
3,2015-07-03,BBC News at Six,"Crime, civil law, justice and rights",431
4,2015-07-03,BBC News at Ten,"Crime, civil law, justice and rights",457
...,...,...,...,...
352,2015-11-02,BBC News at Six,Transport,405
353,2015-11-02,BBC News at Ten,International affairs,526
354,2015-11-30,BBC News at One,"Parliament, government and politics",1016
355,2015-11-30,BBC News at Six,International affairs,554
356,2015-11-30,BBC News at Ten,International affairs,2317

In [28]:
res_df4.to_csv('News_at_One_Six_Ten_topic_with_first_partion_1000_words_July_2015_Dec_2015.csv')

# Total Word Count

In [27]:
df1 = pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2015.csv')
df2 = pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2016.csv')
df3 = pd.read_csv('../data/partition_predictions/window_topic_prediction_with_short_sentences_merged_54_2017.csv')

In [28]:
bbc_df = pd.concat([df1, df2, df3])

In [30]:
bbc_df = bbc_df.drop(['Unnamed: 0'], axis=1)
bbc_df['date'] = pd.to_datetime(bbc_df['date'])
bbc_df

,partition_id,date,source,transcript,type,topic
0,89,2015-04-06,BBC News at One,"Tense, or what? I’m feeling it. # ..I’m read...",p,"Parliament, government and politics"
1,89,2015-04-06,BBC News at One,You may depend on it for your everyday social...,p,"Parliament, government and politics"
2,89,2015-04-06,BBC News at One,And cheers for Prince Harry as he arrives in ...,p,"Parliament, government and politics"
3,89,2015-04-06,BBC News at One,Sweeping changes to pension rules which will ...,p,Economy and finance
4,89,2015-04-06,BBC News at One,The official start of the new tax year has sp...,p,Economy and finance
...,...,...,...,...,...,...
136334,2090,2017-12-18,BBC London News,"In Westminster, the Government denies that it...",p,"Parliament, government and politics"
136335,2090,2017-12-18,BBC London News,"In Lapland, a group of disappointed children ...",p,"Culture, media and sport"
136336,2090,2017-12-18,BBC London News,APPLAUSE And on her first day working at a Ch...,p,Communities and families
136337,2090,2017-12-18,BBC London News,"Not quite up there with The LastJedi, but a n...",p,"Parliament, government and politics"
136338,2090,2017-12-18,BBC London News,CHEERING AND APPLAUSE And with Paul tonight i...,p,"Culture, media and sport"

In [32]:
bbc_df = bbc_df.loc[(bbc_df.date >= '2015-5-1') & (bbc_df.date <= '2017-6-30')]

In [33]:
bbc_df['word_count'] = bbc_df['transcript'].apply(lambda x: len(x.split()))

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
bbc_df['word_count'].sum()

37566655