In [3]:
import pandas as pd
from pathlib import Path
import ast
import os
from nltk.corpus import stopwords
import nltk
import calendar

In [4]:
stopW = stopwords.words('english')

def contains_european(x):
    y = x.lower()
    words = y.split()
    flag = 'e.u' in words or 'eu' in words or 'europeanunion' in words
    words = [word for word in words if word not in stopW]
    bigrams = list(nltk.bigrams(words))
    bigrams = [bigram[0] + '.' + bigram[1] for bigram in bigrams]
    
    flag = flag or 'european.union' in bigrams or 'europe.union' in bigrams
    
    return 'EU' if flag else 'non_EU'

# SPLIT

In [5]:
bbc_id = 54
years = list(range(2014, 2019))

sources_to_split = ['BBC News at One', 'BBC News at Six', 'BBC News at Ten']
sources_to_exclude = ['Joins BBC News']

# 3 months grouped

In [6]:
for year in years:
    print(year)
    
    df = pd.read_csv('../data/partitions/bert_partitions_{}_{}.csv'.format(bbc_id, year))

    df = df.drop(['partitioned_transcript'], axis=1)
    df = df.loc[df['Program Name'].isin(sources_to_split)]

    months = [['jan', 'feb', 'mar'], ['apr', 'may', 'jun'], ['jul', 'aug', 'sep'], ['oct', 'nov', 'dec']]
    
    for month in range(1, 13):
        
        abbr = calendar.month_abbr[month].lower()
        group = None
        
        for m in months:
            if abbr in m:
                group = m
        
        assert(len(group) == 3)
        
        df_month1 = df.loc[df.Date.str.contains(group[0])]
        df_month2 = df.loc[df.Date.str.contains(group[1])]
        df_month3 = df.loc[df.Date.str.contains(group[2])]
        df_month = pd.concat([df_month1, df_month2, df_month3])
             
        directory = './transcripts_split/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten', year)
        path = './transcripts_split/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten')

        if not os.path.exists(directory):
            os.makedirs(directory)
        df_month.to_csv(path)

2014
2015
2016
2017
2018

# Monthly Split

In [10]:
counts = []
for year in years:
    print(year)
    
    df = pd.read_csv('../data/partitions/bert_partitions_{}_{}.csv'.format(bbc_id, year))
#     print(df['Program Name'].unique())

    df = df.drop(['partitioned_transcript'], axis=1)
    df = df.loc[df['Program Name'].isin(sources_to_split)]
#     display(df['Program Name'].value_counts())
    for month in range(1, 13):
        abbr = calendar.month_abbr[month].lower()
        
        count = [year, abbr]
        
        df_month = df.loc[df.Date.str.contains(abbr)]
        value_counts = df_month['Program Name'].value_counts()
        
#         ten = 0 
#         six = 0
#         one = 0
#         weekend = 0
        
#         if 'BBC News at Ten' in value_counts.keys():
#             ten = value_counts['BBC News at Ten']
        
#         if 'BBC News at One' in value_counts.keys():
#             one = value_counts['BBC News at One']
        
#         if 'BBC News at Six' in value_counts.keys():
#             six = value_counts['BBC News at Six']
            
#         if 'BBC Weekend News' in value_counts.keys():
#             weekend = value_counts['BBC Weekend News']
#         count.extend([ten, six, one, weekend])
        
        directory = './transcripts_split/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_Weekend', year)
        path = './transcripts_split/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_Weekend', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten_Weekend')

        if not os.path.exists(directory):
            os.makedirs(directory)
#         counts.append(count)
        df_month.to_csv(path)
    
df = pd.DataFrame(counts, columns=['year', 'month', 'News at One', 'News at Six', 'News at Ten', 'Weekend News'])
df

2014
2015
2016
2017
2018

Empty DataFrame
Columns: [year, month, News at One, News at Six, News at Ten, Weekend News]
Index: []

In [11]:
df.to_csv('news_at_one_six_ten_weekend_count.csv')

## SPLIT COUNT

In [469]:
year_count_df = []
for year in years:
    print(year)
    
    df = pd.read_csv('../data/partitions/bert_partitions_{}_{}.csv'.format(bbc_id, year))
#     print(df['Program Name'].unique())

    df = df.drop(['partitioned_transcript'], axis=1)
    df = df.loc[~df['Program Name'].isin(sources_to_exclude)]
    df['Date'] = pd.to_datetime(df['Date'])
    df['month'] = df['Date'].apply(lambda x: x.month)
    df['year'] = df['Date'].apply(lambda x: x.year)
    df['word_count'] = df['Transcript'].apply(lambda x: len(x.split()))
    year_count_df.append(df[['Program Name', 'month', 'year', 
                'word_count']].groupby(['Program Name', 'month', 'year'], as_index=False).sum())

count_df = pd.concat(year_count_df)
count_df = count_df.sort_values(by=['year', 'month', 'Program Name'])
count_df

2004

FileNotFoundError: [Errno 2] File ../data/partitions/bert_partitions_54_2004.csv does not exist: '../data/partitions/bert_partitions_54_2004.csv'

In [455]:
count_df.to_csv('BBC_News_count_without_bbc_Joins_by_Program_Name.csv')

# SPLIT BASED ON EU PHRASES

In [456]:
df = pd.read_csv('bbc_predictions_News_at_One_Six_Ten.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df['topic'] = df['topic'].apply(lambda x: ast.literal_eval(x)[0][0])
df.columns = ['partition_id', 'date', 'Transcript', 'topic']
df['eu_topic'] = df['topic'].apply(lambda x: "EU" if x == 'European Union' else "non_EU")
df['eu_phrase'] = df['Transcript'].apply(lambda x: contains_european(x))
df['date'] = pd.to_datetime(df['date'])
df['month'] = df['date'].apply(lambda x: x.month)
df['year'] = df['date'].apply(lambda x: x.year)
df

,partition_id,date,Transcript,topic,eu_topic,eu_phrase,month,year
0,3,2014-12-05,Serious mistakes are made by England’s health ...,"Crime, civil law, justice and rights",non_EU,non_EU,12,2014
1,3,2014-12-05,The drink-drive limit in Scotland is from toda...,"Parliament, government and politics",non_EU,non_EU,12,2014
2,3,2014-12-05,One of our Marbles is missing- a statue that’s...,International affairs,non_EU,non_EU,12,2014
3,3,2014-12-05,And fly me to the moon and Mars - the unmanned...,"Parliament, government and politics",non_EU,non_EU,12,2014
4,3,2014-12-05,And three leaders at a flagship Academy chain ...,"Parliament, government and politics",non_EU,non_EU,12,2014
...,...,...,...,...,...,...,...,...
255029,2123,2018-01-31,"For the second time in a matter of days, resid...","Parliament, government and politics",non_EU,non_EU,1,2018
255030,2123,2018-01-31,"This time Goldhawk Road, Shepherd’s Bush, whic...","Parliament, government and politics",non_EU,non_EU,1,2018
255031,2123,2018-01-31,"I mean, the water is still sort of flowing in,...","Parliament, government and politics",non_EU,non_EU,1,2018
255032,2123,2018-01-31,We had to close down the studio and then we ha...,"Culture, media and sport",non_EU,non_EU,1,2018
255033,2123,2018-01-31,"And if this seems strangely familiar, well tha...",Transport,non_EU,non_EU,1,2018

In [461]:
res_df = df[['partition_id', 'month', 'year']].groupby(['month', 'year']).partition_id.nunique()

In [467]:
res_df.to_frame().to_csv('News_at_1_6_10_average_partition.csv')

In [430]:
pd.crosstab(df['eu_topic'], df['eu_phrase'])

eu_phrase    EU  non_EU
eu_topic
EU         3475    2103
non_EU     7175  242281

In [397]:
# bbc_id = 54
# year = 2014

# sources_to_split = ['BBC News at One', 'BBC News at Six', 'BBC News at Ten']

In [398]:
# data_path = '../data/bbc/{}/{}/transcripts'.format(bbc_id, year)
# output_path = '../data/transcripts_split'

In [399]:
# csv_files = os.listdir(data_path)
# csv_files = [csv_file for csv_file in csv_files if csv_file.endswith('.csv')]
# csv_files

In [400]:
# for csv_file in csv_files:
#     csv_path = os.path.join(data_path, csv_file)
#     print(csv_file.split())
#     df = pd.read_csv(csv_path)
#     month = csv_file.split()[1]
#     df_at_one_six_ten = df.loc[df['Program Name'].isin(sources_to_split)]
    
#     df_at_one_six_ten['eu'] = df_at_one_six_ten['Transcript'].apply(lambda x: contains_european(x))
    
#     df_at_one_six_ten_eu = df_at_one_six_ten.loc[df_at_one_six_ten.eu == 'EU']
#     df_at_one_six_ten_non_eu = df_at_one_six_ten.loc[df_at_one_six_ten.eu == 'non_EU']
    
#     directory = './transcripts_split_with_phrases/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_EU', year)
#     path = './transcripts_split_with_phrases/{}_{}/{}/transcripts/BBC+News {} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_EU', year, month, bbc_id, 'News_at_One_Six_Ten_EU')
    
#     if not os.path.exists(directory):
#         os.makedirs(directory)
        
#     df_at_one_six_ten_eu.to_csv(path)
    
#     directory = './transcripts_split_with_phrases/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year)
#     path = './transcripts_split_with_phrases/{}_{}/{}/transcripts/BBC+News {} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year, month, bbc_id, 'News_at_One_Six_Ten_non_EU')
    
#     if not os.path.exists(directory):
#         os.makedirs(directory)
        
#     df_at_one_six_ten_non_eu.to_csv(path)
    
#     directory = './transcripts_split/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten', year)
#     path = './transcripts_split/{}_{}/{}/transcripts/BBC+News {} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten', year, month, bbc_id, 'News_at_One_Six_Ten')
    
#     if not os.path.exists(directory):
#         os.makedirs(directory)
        
#     df_at_one_six_ten.to_csv(path)

In [428]:
df[['partition_id', 'month', 'year']].groupby(['month', 'year'], as_index=False).agg({'partition_id': 'nunique'})

    month  year  partition_id
0       1  2014            44
1       1  2015            61
2       1  2016            56
3       1  2017            66
4       1  2018            65
5       2  2014            53
6       2  2015            57
7       2  2016            56
8       2  2017            60
9       2  2018            59
10      3  2014            44
11      3  2015            65
12      3  2016            31
13      3  2017            68
14      3  2018            65
15      4  2014            43
16      4  2015            65
17      4  2016            11
18      4  2017            60
19      4  2018            59
20      5  2014            64
21      5  2015            61
22      5  2016            41
23      5  2017            65
24      5  2018            66
25      6  2014            63
26      6  2015            58
27      6  2016            55
28      6  2017            64
29      6  2018            54
30      7  2014            67
31      7  2015            61
32      7  2016            53
33      7  2017            62
34      7  2018            65
35      8  2014            61
36      8  2015            57
37      8  2016            67
38      8  2017            69
39      8  2018            60
40      9  2014            61
41      9  2015            64
42      9  2016            66
43      9  2017            63
44      9  2018            53
45     10  2014            56
46     10  2015            66
47     10  2016            62
48     10  2017            66
49     10  2018            59
50     11  2014            53
51     11  2015            62
52     11  2016            66
53     11  2017            66
54     11  2018            59
55     12  2014            52
56     12  2015            50
57     12  2016            51
58     12  2017            48
59     12  2018            45

In [429]:
for year in range(2014, 2019):
    print(year)
    for month in range(1, 13):
        
        df_year_month = df.loc[(df.year == year) & (df.month == month)]
        df_year_month_eu = df_year_month.loc[df_year_month.eu_phrase == "EU"].reset_index(drop=True)
        df_year_month_non_eu = df_year_month.loc[df_year_month.eu_phrase == "non_EU"].reset_index(drop=True)
        
        uniques_ids = list(set(df_year_month_eu['partition_id'].unique()) | set(df_year_month_non_eu['partition_id'].unique())) 
        print(year, month, len(df_year_month['partition_id'].unique()), len(uniques_ids))
        directory = './transcripts_split_with_phrase/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_EU', year)
        path = './transcripts_split_with_phrase/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_EU', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten_EU')

        if not os.path.exists(directory):
            os.makedirs(directory)
        df_year_month_eu.to_csv(path)
        
        directory = './transcripts_split_with_phrase/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year)
        path = './transcripts_split_with_phrase/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten_non_EU')

        if not os.path.exists(directory):
            os.makedirs(directory)
        df_year_month_non_eu.to_csv(path)

2014
2014 1 44 44
2014 2 53 53
2014 3 44 44
2014 4 43 43
2014 5 64 64
2014 6 63 63
2014 7 67 67
2014 8 61 61
2014 9 61 61
2014 10 56 56
2014 11 53 53
2014 12 52 52
2015
2015 1 61 61
2015 2 57 57
2015 3 65 65
2015 4 65 65
2015 5 61 61
2015 6 58 58
2015 7 61 61
2015 8 57 57
2015 9 64 64
2015 10 66 66
2015 11 62 62
2015 12 50 50
2016
2016 1 56 56
2016 2 56 56
2016 3 31 31
2016 4 11 11
2016 5 41 41
2016 6 55 55
2016 7 53 53
2016 8 67 67
2016 9 66 66
2016 10 62 62
2016 11 66 66
2016 12 51 51
2017
2017 1 66 66
2017 2 60 60
2017 3 68 68
2017 4 60 60
2017 5 65 65
2017 6 64 64
2017 7 62 62
2017 8 69 69
2017 9 63 63
2017 10 66 66
2017 11 66 66
2017 12 48 48
2018
2018 1 65 65
2018 2 59 59
2018 3 65 65
2018 4 59 59
2018 5 66 66
2018 6 54 54
2018 7 65 65
2018 8 60 60
2018 9 53 53
2018 10 59 59
2018 11 59 59
2018 12 45 45

# SPLIT BASED ON TOPIC PREDICTION

In [374]:
# df = pd.read_csv('bbc_predictions_News_at_One_Six_Ten.csv')
# df = df.drop(['Unnamed: 0'], axis=1)
# df['topic'] = df['topic'].apply(lambda x: ast.literal_eval(x)[0][0])
# df

In [375]:
# df['date'] = pd.to_datetime(df['date'])
# df['month'] = df['date'].apply(lambda x: x.month)
# df['year'] = df['date'].apply(lambda x: x.year)

In [376]:
# df['eu'] = df['topic'].apply(lambda x: 'EU' if x == 'European Union' else 'non_EU')
# df.columns = ['partition_id', 'date', 'Transcript', 'topic', 'month', 'year', 'eu']
# df

In [377]:
for year in range(2014, 2019):
    print(year)
    for month in range(1, 13):
        
        df_year_month_eu = df.loc[(df.year == year) & (df.month == month) & (df.eu_topic == 'EU')].reset_index(drop=True)
        df_year_month_non_eu = df.loc[(df.year == year) & (df.month == month) & (df.eu_topic == 'non_EU')].reset_index(drop=True)
        
        directory = './transcripts_split_with_classification/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_EU', year)
        path = './transcripts_split_with_classification/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_EU', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten_EU')

        if not os.path.exists(directory):
            os.makedirs(directory)
        df_year_month_eu.to_csv(path)
        
        directory = './transcripts_split_with_classification/{}_{}/{}/transcripts'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year)
        path = './transcripts_split_with_classification/{}_{}/{}/transcripts/BBC+News {}-{} {}_{}.csv'.format(bbc_id, 'News_at_One_Six_Ten_non_EU', year, calendar.month_abbr[month].lower(), year, bbc_id, 'News_at_One_Six_Ten_non_EU')

        if not os.path.exists(directory):
            os.makedirs(directory)
        df_year_month_non_eu.to_csv(path)

2014
2015
2016
2017
2018

# Counts EU-NON EU NEWS AT 1 6 10

In [359]:
split_type = 'classification'

In [360]:
non_eu_output_path = './transcripts_split_with_{}/54_News_at_One_Six_Ten_non_EU/{}/transcripts'
eu_output_path = './transcripts_split_with_{}/54_News_at_One_Six_Ten_EU/{}/transcripts'
years = [2014, 2015, 2016, 2017, 2018]

In [361]:
eu_df_list = []
non_eu_df_list = []

def get_df_from_list(df_list):
    df = pd.concat(df_list)
    df = df.drop(['Unnamed: 0'], axis=1)
    display(df)
    df['date'] = pd.to_datetime(df['date'])
    df['month'] = df['date'].apply(lambda x: x.month)
    df['year'] = df['date'].apply(lambda x: x.year)
    
    return df
    
for year in years:
    print(year)
    eu_path = eu_output_path.format(split_type, year)
    non_eu_path = non_eu_output_path.format(split_type, year)
    eu_csv_files = os.listdir(eu_path)
    non_eu_csv_files = os.listdir(non_eu_path)
    for csv_file in eu_csv_files:
        eu_df_list.append(pd.read_csv(os.path.join(eu_path, csv_file)))
    for csv_file in non_eu_csv_files:
        non_eu_df_list.append(pd.read_csv(os.path.join(non_eu_path, csv_file)))
        
eu_df = get_df_from_list(eu_df_list)
non_eu_df = get_df_from_list(non_eu_df_list)

2014
2015
2016
2017
2018

,partition_id,date,transcript,topic,eu_topic,eu_phrase,month,year
0,447,2014-03-04,An actor voices his words because he is too fr...,European Union,EU,non_EU,3,2014
1,449,2014-03-05,Economists have argued for years over the impa...,European Union,EU,non_EU,3,2014
2,463,2014-03-11,Details are emerging tonight of labour’s attit...,European Union,EU,non_EU,3,2014
3,466,2014-03-12,We report on the 3D printer that’s revolutioni...,European Union,EU,EU,3,2014
4,466,2014-03-12,His new policy took seven paragraphs and more ...,European Union,EU,EU,3,2014
...,...,...,...,...,...,...,...,...
230,1231,2018-11-15,This Bradford firm employs 1000 This Bradford ...,European Union,EU,EU,11,2018
231,1233,2018-11-15,Two Cabinet ministers are among those who’ve r...,European Union,EU,non_EU,11,2018
232,1233,2018-11-15,Overly concerned EU leaders do not appear conc...,European Union,EU,EU,11,2018
233,1233,2018-11-15,But Theresa May has been trying to present the...,European Union,EU,EU,11,2018
234,1233,2018-11-15,One driver heading to Spain today told as he w...,European Union,EU,EU,11,2018

,partition_id,date,transcript,topic,eu_topic,eu_phrase,month,year
0,198,2014-08-05,Subtitles by Red Bee Media Ltd I’m just most e...,International affairs,non_EU,non_EU,8,2014
1,198,2014-08-05,Fighterjets escort a Qatar Airways plane in to...,"Parliament, government and politics",non_EU,non_EU,8,2014
2,198,2014-08-05,The mother from east London forced to leave he...,International affairs,non_EU,non_EU,8,2014
3,198,2014-08-05,But will a threat of a £20 fine get you to tur...,"Parliament, government and politics",non_EU,non_EU,8,2014
4,198,2014-08-05,Good evening and welcome to the BBC News at Si...,"Parliament, government and politics",non_EU,non_EU,8,2014
...,...,...,...,...,...,...,...,...
4984,902,2018-03-06,And Serena Williams tells us she’s ready to re...,"Culture, media and sport",non_EU,non_EU,3,2018
4985,902,2018-03-06,We’ll start with tonight’s Champions League ac...,"Parliament, government and politics",non_EU,non_EU,3,2018
4986,902,2018-03-06,Sadio Mane fame closest to adding air to chang...,"Culture, media and sport",non_EU,non_EU,3,2018
4987,902,2018-03-06,"For higher stakes in Paris, 3 giant For higher...","Parliament, government and politics",non_EU,non_EU,3,2018
4988,902,2018-03-06,His side had already lost the ultimate side ha...,International affairs,non_EU,non_EU,3,2018

In [362]:
eu_df

,partition_id,date,transcript,topic,eu_topic,eu_phrase,month,year
0,447,2014-03-04,An actor voices his words because he is too fr...,European Union,EU,non_EU,3,2014
1,449,2014-03-05,Economists have argued for years over the impa...,European Union,EU,non_EU,3,2014
2,463,2014-03-11,Details are emerging tonight of labour’s attit...,European Union,EU,non_EU,3,2014
3,466,2014-03-12,We report on the 3D printer that’s revolutioni...,European Union,EU,EU,3,2014
4,466,2014-03-12,His new policy took seven paragraphs and more ...,European Union,EU,EU,3,2014
...,...,...,...,...,...,...,...,...
230,1231,2018-11-15,This Bradford firm employs 1000 This Bradford ...,European Union,EU,EU,11,2018
231,1233,2018-11-15,Two Cabinet ministers are among those who’ve r...,European Union,EU,non_EU,11,2018
232,1233,2018-11-15,Overly concerned EU leaders do not appear conc...,European Union,EU,EU,11,2018
233,1233,2018-11-15,But Theresa May has been trying to present the...,European Union,EU,EU,11,2018
234,1233,2018-11-15,One driver heading to Spain today told as he w...,European Union,EU,EU,11,2018

In [363]:
def get_count(df):
    df = df[['month', 'year']]
    df['count'] = 1
    res_df = df.groupby(['year', 'month'], as_index=False).sum()
    return res_df

eu_count = get_count(eu_df)
non_eu_count = get_count(non_eu_df)

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [364]:
eu_count
non_eu_count

    year  month  count
0   2014      1   2965
1   2014      2   4029
2   2014      3   3233
3   2014      4   2953
4   2014      5   4622
5   2014      6   4442
6   2014      7   4821
7   2014      8   4001
8   2014      9   4208
9   2014     10   3986
10  2014     11   3732
11  2014     12   3677
12  2015      1   4322
13  2015      2   4620
14  2015      3   5436
15  2015      4   5183
16  2015      5   4946
17  2015      6   4530
18  2015      7   4933
19  2015      8   4523
20  2015      9   4786
21  2015     10   4886
22  2015     11   4575
23  2015     12   3800
24  2016      1   4022
25  2016      2   4023
26  2016      3   2312
27  2016      4    613
28  2016      5   2680
29  2016      6   3880
30  2016      7   3839
31  2016      8   4572
32  2016      9   4634
33  2016     10   4345
34  2016     11   4652
35  2016     12   3583
36  2017      1   4465
37  2017      2   4093
38  2017      3   4405
39  2017      4   3982
40  2017      5   4271
41  2017      6   3968
42  2017      7   4314
43  2017      8   4878
44  2017      9   4397
45  2017     10   4325
46  2017     11   4632
47  2017     12   3214
48  2018      1   4935
49  2018      2   4247
50  2018      3   4989
51  2018      4   4250
52  2018      5   4874
53  2018      6   3917
54  2018      7   4718
55  2018      8   4630
56  2018      9   3659
57  2018     10   4610
58  2018     11   4265
59  2018     12   3054

In [365]:
eu_count.to_csv('News_at_1_6_10_{}_EU_count.csv'.format(split_type))
non_eu_count.to_csv('News_at_1_6_10_{}_non_EU_count.csv'.format(split_type))

# COUNTS NEWS AT 1 6 10

In [63]:
df.to_csv('./News_at_One_Six_Ten.csv')

In [43]:
df = df[['Source', 'month', 'year']]

In [45]:
df['count'] = 1

/home/ubuntu/anaconda3/envs/econ/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df

         Source  month  year  count
0   BBC1 London      7  2015      1
1   BBC1 London      7  2015      1
2   BBC1 London      7  2015      1
3   BBC News 24      7  2015      1
4   BBC1 London      7  2015      1
..          ...    ...   ...    ...
61  BBC1 London      5  2018      1
62  BBC News 24      5  2018      1
63  BBC1 London      5  2018      1
64  BBC1 London      5  2018      1
65  BBC News 24      5  2018      1

[2808 rows x 4 columns]

In [48]:
res_df = df.groupby(['Source', 'month', 'year'], as_index=False).sum()

In [50]:
res_df = res_df.sort_values(by=['year', 'month'])

In [51]:
res_df.to_csv('counts_News_at_1_6_10.csv')

# COUNTS REPEATED TRANSCRIPTS

In [128]:
times = df.Time.unique()
for t in times:
    df_at_time = df.loc[df.Time == t]
    df_at_time = df_at_time.reset_index(drop=True)
    #display(df_at_time)
    #print(df_at_time.index)
    unique_dates = df_at_time.Date.unique()
    for unique_date in unique_dates:
        df_at_time_date = df_at_time.loc[df_at_time.Date == unique_date]
        if len(df_at_time_date) > 1:
            display(df_at_time_date)

In [138]:
unique_dates = df.Date.unique()
rows = []
for unique_date in unique_dates:
    df_date = df.loc[df.Date == unique_date]
    df_date = df_date.reset_index(drop=True)
    df_bbc_london = df_date.loc[df_date.Source == 'BBC1 London']
    df_bbc_news = df_date.loc[df_date.Source == 'BBC News 24']
    
    if(len(df_bbc_news) == 0 or len(df_bbc_london) == 0):
        continue
        
    for index, row in df_bbc_london.iterrows():
        for index2, row2 in df_bbc_news.iterrows():
            words1 = list(set(row['Transcript'].split()))
            words2 = list(set(row2['Transcript'].split()))
            words1 = [word for word in words1 if word not in stopwords.words('english')]
            words2 = [word for word in words2 if word not in stopwords.words('english')]
            common_words = list(set(words1).intersection(words2))
            print(len(words1), len(words2), len(common_words))
            entry = [row['Source'], row2['Source'], row['Date'], row['Program Name'], row2['Program Name'], row['Transcript'], row2['Transcript'], len(words1), len(words2), len(common_words)]
            rows.append(entry)
columns=['source1', 'source2', 'date', 'program name1', 'program name2', 'transcript1', 'transcript2', 'words1', 'words2', 'common words']
res_df = pd.DataFrame(rows, columns=columns)
res_df

1802 1610 519
1396 1610 793
1594 1707 565
1594 1736 588
1491 1581 840
1660 1854 646
1660 2002 636
1667 1672 685
1667 1841 602
1632 1710 665
1632 1782 650
1666 1672 663
1636 1672 1083
1663 1645 513
1671 1745 663
1671 1898 636
1704 1612 655
1653 1612 777
1696 1725 633
1696 1518 499
1570 1789 608
1527 1789 927
1588 1755 652
1837 1755 859
1655 1754 610
1413 1754 721
1881 1794 752
1630 1794 838
1718 1761 712
1581 1761 952
1823 1716 689
1823 1725 534
1756 1782 744
1552 1782 716
1162 1097 550
1371 1097 719
1411 934 383
1401 934 575
2185 1752 706
2185 1542 592
2087 1507 592
1622 1507 529
2220 1604 698
2220 1770 654
2191 1748 749
2191 1672 553
1984 1804 694
1984 1630 558
2351 1784 829
1633 1784 1065
2189 1619 685
2189 1507 649
2124 1620 658
2124 1619 642
2043 1701 708
2043 1638 673
2187 1769 753
1694 1769 745
2212 1577 602
1550 1577 943
2135 1583 688
2135 1624 611
2159 1749 768
2159 1706 584
2210 1818 786
2210 1877 764
2076 1684 703
1597 1684 859
1825 1670 610
1825 1617 546
2029 1533 600
2029 1602 617
2079 1526 650
2079 1559 611
2044 1615 710
2044 1653 625
1975 1520 668
1683 1765 562
1451 1765 718
1673 1683 619
1673 1623 576
1670 1722 600
1670 1648 524
1758 1728 648
1485 1728 823
1709 1742 677
1639 1742 870
1630 1586 602
1630 1577 492
1628 1718 573
1628 1809 489
1560 1755 650
1957 1755 1042
1587 1911 681
1643 1911 1115
1782 1772 622
1746 1772 994
1633 1703 652
1542 1703 869
1612 1640 632
1793 1640 831
1595 1680 567
1662 1680 839
1758 1727 608
1699 1727 892
1691 1697 583
1658 1697 871
1729 1779 667
1729 1653 620
1389 1477 561
1555 1477 764
1660 1775 598
1550 1775 857
1597 1754 554
1630 1754 784
1636 1775 592
1636 1560 541
1717 1757 601
1708 1757 1059
1559 1653 598
1741 1653 749
1671 1744 638
1532 1744 785
1558 1663 601
1468 1663 795
1588 1609 525
1588 1715 546
1615 1716 610
1615 1606 516
1687 1607 599
1687 1638 583
1754 1690 612
1400 1690 668
1639 1753 673
1639 1802 515
1780 1662 745
1723 1662 698
1812 1723 559
1812 1562 484
1708 1792 621
1740 1792 882
1659 1644 670
1535 1644 770
1808 1748 739
1579 1748 718
1604 1645 689
1634 1575 537
1371 1575 528
1732 1823 652
1732 1712 564
1603 1676 539
1603 1677 508
1633 1597 597
1633 1785 608
1703 1687 591
1599 1687 869
1644 1826 520
1620 1826 1067
1437 1630 729
2048 1655 698
1469 1655 750
1871 1627 539
1871 1699 537
2275 1740 692
1523 1740 793
1628 1808 684
1422 1808 869
1641 1679 587
1641 1851 539
1768 1738 599
1622 1738 947
1561 1704 572
1410 1704 969
1962 1743 746
1423 1743 783
2105 1604 762
1563 1604 836
1424 1659 876
1605 1593 680
1605 1593 577
1638 1575 609
1562 1575 695
1618 1662 558
1525 1662 754
1626 1654 482
1520 1654 771
1488 1855 890
1674 1538 591
1674 1614 533
1777 1632 561
1777 1694 528
1649 1613 591
1732 1774 653
1468 1774 705
1624 1662 609
1586 1662 801
1689 1438 558
1689 1831 626
1718 1687 660
1718 1672 602
1684 1705 755
1655 1675 672
1655 1549 495
1703 1686 626
1703 1674 502
1712 1723 542
1712 1666 503
1763 1781 818
1763 1541 609
1648 1794 626
1586 1777 610
1586 1765 459
1628 1686 678
1628 1769 654
1602 1809 546
1602 1595 438
1572 1600 556
1563 1600 908
1738 1519 480
1738 1582 478
1646 1832 696
1590 1832 848
1515 1610 886
1609 1613 532
1403 1613 745
1805 1762 676
1614 1762 810
1542 1666 608
1578 1666 834
1792 1735 660
1792 1700 594
1804 1738 643
1652 1738 843
1683 1732 563
1683 1605 516
1788 1759 690
1788 1870 679
1706 1740 739
1706 1809 645
1693 1700 652
1485 1700 823
1535 1712 573
1469 1712 724
1795 1537 649
1425 1537 665
1653 1787 563
1586 1787 959
1755 1798 598
1755 1607 532
1836 1678 581
1836 1608 492
1718 1666 586
1596 1666 856
1773 1745 548
1407 1745 899
1747 1835 584
1747 1812 513
1597 1721 617
1532 1721 896
1764 1761 591
1569 1761 852
1575 1679 627
1575 1786 549
1747 1712 677
1623 1712 1012
1635 1613 672
1443 1613 855
1552 1648 819
2192 1767 618
1618 1767 1012
2083 1611 684
1572 1611 701
2109 1841 700
1523 1841 812
2013 1660 668
1512 1660 919
1937 1584 752
1568 1584 827
1921 1662 620
1389 1662 751
1878 1723 647
1482 1723 959
1955 1685 779
1605 1685 843
2099 1641 657
1572 1641 801
1994 1683 649
1510 1683 683
2097 1574 698
1660 1574 892
1941 1620 641
1516 1620 978
2180 1699 637
1465 1699 857
1970 1638 667
1678 1638 753
2075 1531 551
1562 1531 719
2194 1620 644
1543 1620 910
2037 1663 638
1620 1663 738
2039 1747 755
1413 1747 820
2344 1647 705
1612 1647 831
2007 1672 740
1424 1672 980
2061 1737 747
2061 1675 628
1649 1576 950
2286 1792 760
1576 1792 853
2114 1649 678
1539 1649 787
1438 1747 663
2253 1725 790
1605 1725 779
2177 1658 695
1559 1658 843
2107 1727 623
1599 1727 731
2039 1782 755
1528 1782 697
2281 1459 622
1538 1459 783
1987 1841 647
1617 1841 765
1568 1755 937
2163 1885 672
1667 1885 683
2070 1689 739
1622 1689 731
2175 1654 590
1580 1654 745
2167 1733 685
1570 1733 854
2042 1774 689
1501 1774 899
2052 1595 621
1635 1595 811
2276 1815 850
1562 1815 1031
2045 1817 728
1762 1817 890
2187 1630 679
1577 1630 812
1826 1811 739
1661 1811 1039
1703 1638 714
1503 1638 783
1675 1820 1053
1654 1785 635
1594 1785 1013
1502 1746 793
1673 1854 1015
1684 1733 655
1684 1780 551
1645 1767 567
1698 1767 1114
1583 1770 592
1583 1584 522
1677 1703 595
1659 1703 966
1688 1745 670
1688 1692 554
1757 1706 664
1491 1706 904
1576 1794 590
1576 1793 521
1744 1829 679
1703 1829 988
2067 1860 801
1153 1252 421
1576 1252 822
2019 1538 659
2019 1735 635
2187 1612 730
2187 1492 626
1195 1541 526
1195 1826 578
2203 1627 686
2203 1579 639
2032 1683 607
2032 1725 546
2146 1771 738
2146 1765 678
2246 1779 672
2246 1813 654
2078 1665 689
1439 1665 837
2157 1635 665
1646 1635 934
2106 1654 700
2106 1754 655
2146 1950 755
1521 1950 842
2056 1709 698
1608 1709 820
1286 1121 583
1938 1589 727
1938 1687 618
2035 1702 714
1558 1702 976
2163 1502 621
1570 1502 808
2203 1747 765
1457 1747 997
2343 1732 750
1572 1732 854
2035 1719 655
1515 1719 812
1614 1711 617
1634 1711 846
1468 1654 551
1468 1656 518
1620 1572 539
1536 1572 807
1665 1708 576
1625 1708 686
1562 1430 473
1636 1430 752
2027 1791 754
1560 1791 858
1616 1595 611
1616 1685 586
1721 1607 591
1439 1607 588
1630 1791 628
1508 1791 863
1555 1728 584
1555 1632 481
1802 1731 566
1601 1731 837
1788 1800 683
1604 1800 892
1937 1731 642
1499 1731 736
2203 1638 839
1307 1638 631
1980 1620 623
1697 1620 820
1568 1647 848
2175 1682 688
1621 1682 820
2050 1997 709
1772 1997 1092
1659 1675 575
1476 1795 570
1571 1795 952
1863 1832 620
1859 1832 892
1884 1915 627
1887 1915 1008
1734 1810 601
1857 1810 755
1955 1781 588
1941 1781 934
1923 1812 681
1638 1812 724
1769 1895 627
1894 1895 937
1746 1744 598
1746 1863 581
1905 1851 689
1852 1851 1071
1720 1877 549
1930 1877 899
1853 1676 630
1714 1676 969
1913 1910 683
1913 1911 540
1738 1722 507
1787 1722 838
1762 1895 623
1895 1895 918
1900 1863 678
1919 1863 1032
1894 1820 738
1915 1820 1036
1834 1711 550
1834 1783 607
1695 1852 653
1826 1852 962
1842 1778 569
1842 1881 526
1950 1723 700
1950 1783 559
1918 1866 639
1815 1866 823
1802 1695 598
1826 1695 1085
1861 1868 692
1808 1868 952
1867 1838 646
1799 1838 920
1852 1923 739
1852 1908 592
1855 1882 610
1866 1882 881
1825 1783 681
1749 1783 803
1809 1605 515
1673 1605 842
1816 1639 576
1630 1639 803
1814 1708 726
1814 1866 596
1873 1780 633
1873 1873 609
1904 1830 504
1586 1830 559
2134 2043 810
2461 2043 1438
1844 1903 595
1824 1903 726
1641 1776 590
1641 1829 527
1640 1709 586
1743 1787 564
1514 1787 836
1687 1525 558
1687 1836 543
1786 1748 733
1786 1810 672
1776 1633 619
1626 1633 912
1663 1805 666
1662 1839 746
1963 1839 843
1627 1735 563
1765 1735 1074
1738 1753 594
2049 1753 1023
1651 1745 643
1651 1769 502
1728 1749 686
1630 1749 970
1639 1792 519
1750 1702 559
1750 1625 624
1672 1712 471
1747 1763 541
1745 1669 655
1571 1669 944
1707 1745 575
1786 1753 635
1786 1730 562
1754 1715 554
1754 1857 540
1617 1803 559
1617 1712 564
1744 1787 581
1770 1690 608
1504 1690 713
1777 1695 684
1777 1944 591
1810 1834 685
1810 1812 595
1747 1760 605
1552 1760 795
1633 1774 710
1576 1774 871
1651 1516 513
1651 1596 450
1594 1656 606
1594 1729 510
1733 1670 678
1733 1805 607
1615 1619 740
1523 1619 783
1859 1681 536
1664 1681 949
1628 1615 690
1628 1590 613
1602 1702 648
1602 1813 594
1712 1523 631
1712 1627 549
1771 1646 617
1554 1646 727
1665 1604 684
1665 1607 546
1731 1720 551

1731 1766 519
1803 1810 629
1842 1711 575
1618 1756 552
1671 1822 629
1671 1789 537
1690 1682 601
1690 1737 550
1630 1647 585
1630 1791 538
1576 1788 550
1576 1736 507
1654 1960 636
1654 1792 510
1704 1583 503
1629 1583 805
1760 1659 599
1748 1659 929
1790 1706 604
1789 1706 919
1773 1728 562
1805 1728 978
1855 1672 596
1855 1697 485
1814 1697 624
1725 1697 892
1849 1672 627
1839 1672 936
1713 1734 710
1758 1734 872
1670 1759 589
1544 1759 930
1842 1645 619
1774 1645 878
1842 1673 614
1842 1742 582
1740 1697 553
1793 1697 925
1614 1711 605
1614 1799 589
1639 1578 588
1639 1714 581
1697 1921 620
1842 1591 582
1842 1677 605
1654 1723 540
1632 1738 600
1761 1770 650
1679 1730 622
1679 1741 516
1704 1777 614
1418 1777 582
1665 1715 514
1668 1681 555
1668 1931 576
1634 1876 602
1634 1867 619
1696 1559 628
1696 1791 641
1681 1748 735
1681 1714 576
1711 1618 623
1711 1315 466
1542 1521 553
1542 1667 519
1602 1680 595
1602 1761 563
1592 1741 578
1592 1779 538
1686 1768 716
1686 1715 635
1744 1823 671
1744 1641 545
1666 1783 582
1796 1783 1002
1710 1626 679
1750 1626 919
1726 1576 724
1499 1576 883
1819 1751 618
1309 1751 765
1869 1741 605
943 1741 283
1801 1706 622
1374 1706 746
1759 1631 610
952 1631 267
1702 1697 553
1544 1697 788
1774 1652 576
1700 1652 848
1913 1803 709
1913 1862 675
1884 1901 636
1978 1901 869
1904 1779 658
1904 1788 571
1843 1871 577
1898 1871 982
1971 1813 652
1831 1813 870
1901 1770 594
1901 1390 535
1841 1760 683
1841 1872 634
1884 1640 840
1962 1640 787
1820 1845 694
1658 1845 975
1739 1809 637
1770 1809 920
1909 1872 588
1824 1872 888
1830 1337 450
1830 1787 683
1849 1789 628
1843 1789 822
1852 1749 729
1879 1749 913
1871 1765 727
1656 1765 1117
1798 1887 688
1876 1887 881
1805 1745 795
1792 1745 1008
1950 1863 662
1903 1863 990
1810 1790 736
1548 1790 902
1785 1753 609
1785 1781 550
1876 1744 659
1917 1744 1152
1806 1812 565
1806 1798 583
1787 1801 651
1913 1801 954
1907 1787 743
1907 1839 701
1920 1843 718
1718 1843 1002
1810 1708 669
1810 1779 568
1861 1777 618
1861 1828 574
1936 1802 741
1678 1802 923
1855 1813 664
1797 1813 920
1802 1712 527
1791 1712 761
1800 1763 603
1800 1779 583
1815 1798 757
1815 1949 655
1841 1902 576
1813 1902 870
1832 1608 549
1832 1655 634
1938 1893 719
1998 1893 1120
1830 1778 649
1830 1965 657
1940 1732 607
1916 1732 973
1868 1793 640
1868 1859 616
1958 1788 635
1827 1788 983
1942 1835 695
1942 1801 634
1944 1751 645
1944 1890 655
1835 1349 469
1835 1739 563
1780 1635 558
1643 1635 741
1848 1744 609
1941 1744 933
1795 1775 656
1795 1839 619
1884 1790 624
1945 1790 1035
1884 1420 439
1658 1420 584
1843 1719 656
1706 1719 809
1863 1805 666
1863 1858 635
1798 1698 527
1694 1698 922
1833 1867 559
1618 1867 765
1913 1907 593
1866 1907 799
1847 1776 626
1969 1776 1028
1680 1883 590
1730 1883 874
1669 2211 821
2000 2211 1325
1832 1815 653
1874 1815 1099
1872 1750 681
1872 1874 644
1932 1879 637
1898 1879 955
1738 1699 559
1943 1699 904
1816 1808 653
1868 1808 964
1756 1627 622
1547 1627 753
1810 1777 705
1910 1777 944
1891 1873 689
1933 1873 1058
1812 1782 580
1744 1782 672
1696 1725 570
2247 1725 1067
2181 2620 1073
2181 2489 997
1809 1779 614
1822 1780 639
1773 1780 937
1582 2301 692
1608 2301 1194
1410 1541 588
1410 2205 684
1857 1691 539
1853 1691 857
1785 1704 625
1902 1704 842
1859 1860 650
1762 1860 1012
1784 1720 619
2075 1720 876
1754 1834 639
1782 1834 955
1817 1762 690
1817 1952 661
1739 1939 626
1816 1939 976
1887 1121 387
1885 1121 372
1869 1867 604
1820 1867 922
1922 1840 694
1922 1863 649
1875 1445 418
1666 1445 405
1927 1811 641
1861 1811 984
1767 1841 604
1767 1898 613
1869 1818 686
1869 1836 591
1859 1826 708
1859 1890 611
1823 1848 732
1650 1848 969
1810 1887 557
1893 1887 973
1770 1852 590
1770 1844 537
1793 1931 675
1793 1928 611
1892 1751 740
1892 1855 772
1725 1782 654
1918 1782 968
1827 1717 666
1887 1717 852
1451 1794 477
1787 1794 873
1946 1822 663
1845 1822 930
1878 1875 613
1983 1875 1160
1764 1864 687
1818 1864 984
1805 1914 542
1695 1914 915
1851 1870 537
1825 1870 817
1886 1810 712
1886 1912 665
1892 1768 662
1674 1768 837
1893 1906 656
1966 1906 827
1832 1855 527
1829 1855 940
1889 1859 622
1881 1859 936
1895 1764 542
1993 1764 721
1845 1848 555
1936 1848 792
1831 1735 621
1891 1735 1009
1771 1769 649
1771 1914 650
1789 1345 407
1789 1834 605
1759 1711 604
1689 1711 747
1632 2300 710
1850 2300 1234
1817 1581 428
1845 1755 588
1776 1755 738
1845 1747 544
1825 1747 858
1689 1713 610
1740 1713 1011
1801 1703 598
1899 1703 935
1751 1829 753
1859 1829 929
1829 1779 599
1780 1779 756
1867 1727 689
1794 1727 843
2006 1831 650
1920 1831 916
1829 1832 631
1859 1832 954
1802 1648 680
1842 1648 856
1866 1765 556
1833 1765 941
1777 1765 624
1634 1765 908
1865 1831 602
1761 1831 790
1940 1825 566
1891 1825 871
1849 1814 710
1911 1814 1008
1871 1874 720
1703 1874 879
1868 1832 702
1889 1832 946
1690 1661 668
1690 1795 568
1887 1792 721
1887 1806 591
1855 1498 599
1527 1498 777
1854 1877 657
1891 1877 895
1756 2117 716
1869 2117 945
1709 1842 533
1768 1842 1024
1818 1726 672
1862 1726 984
1940 1838 789
1940 1880 697
1975 1956 766
2012 1956 1122
1995 1925 722
1956 1925 1037
1932 1953 642
1835 1953 1004
1906 1821 648
1906 1914 642
1836 1877 873
1673 1877 1082
1759 1860 636
1997 1860 1031
1763 1883 794
1913 1883 1129
1960 1915 814
1865 1915 1030
1889 1897 637
1848 1897 852
1989 1962 752
1642 1962 952
1964 1751 718
1823 1751 952
1815 1672 625
1815 1815 607
1842 1884 625
1698 1884 970
1986 1807 566
1902 1807 832
1819 1738 652
1833 1738 912
1741 1359 365
1905 1359 418
1869 1722 664
1873 1722 972
1877 1820 747
1855 1820 974
1106 1774 429
1106 1798 371
1618 1896 605
1788 1896 1003
1800 1868 641
1928 1868 1108
1771 1636 619
1729 1636 887
1761 1857 1090
1866 1760 530
1754 1760 958
1823 1849 627
1831 1849 1095
1784 1839 655
1866 1839 905
1836 1890 649
1967 1890 1205
1549 1819 641
1549 1863 577
1729 1916 635
1892 1916 982
1832 1756 617
1859 1756 990
1751 1885 611
1904 1885 1151
1756 1780 581
1733 1780 891
1897 1800 582
1681 1800 959
1857 1734 684
1857 1828 583
1798 1842 702
1817 1842 899
1753 1847 599
1893 1847 942
1958 1806 723
1660 1806 1015
1915 1902 733
1915 1915 656
1863 1784 600
1888 1784 723
1871 1876 565
1982 1876 898
1902 1869 726
1926 1869 1077
1919 1373 460
1745 1373 394
1848 1677 619
1848 1769 586
1939 1877 624
1853 1877 864
1893 1809 617
1907 1809 1183
1897 1826 671
1865 1826 1311
1955 1949 632
1884 1949 1017
1812 1731 703
1839 1731 938
1892 1857 738
1892 1899 698
1825 715 401
1793 715 554
1904 1787 683
1663 1787 1016
1837 1966 648
1955 1966 1113
1740 1692 517
1663 1692 999
1809 1640 686
1809 1640 641
1803 1725 711
1901 1725 991
1468 1876 506
1659 1876 888
1915 1846 581
1864 1846 880
1858 1885 591
1902 1885 1141
1738 1853 1004
1823 1833 596
1899 1833 885
1812 1795 638
1812 1891 621
1979 1887 1177
1903 1843 709
1805 1843 936
1925 1937 644
768 1937 330
1897 1836 767
1897 1968 651
1930 1899 710
1930 1874 669
1868 1972 610
1857 1972 1069
1888 1858 934
1122 1712 445
1122 1896 429
1851 1825 627
1851 1820 570
1890 1792 705
1890 1849 625
1784 1813 615
1891 1813 984
1893 1467 481
1774 1467 420
1803 1858 549
1934 1816 1109
1889 1581 448
1960 1823 769
1934 1823 998
1896 1814 660
1892 1814 870
1669 1748 673
1888 1748 927
1740 1774 940
1818 1983 658
1895 1983 1073
1671 1664 822
1746 1846 628
1871 1846 1083
1797 1860 1043
1608 1776 557
1608 1723 467
1755 1748 625
1639 1748 974
1949 1840 605
1837 1840 1061
1768 1875 605
1828 1875 948
1825 1832 655
1881 1832 998
1888 1842 743
1846 1842 906
1848 1871 609
1940 1871 939
1908 1659 629
1835 1659 911
1828 1841 734
1922 1841 1012
1805 1891 546
1883 1891 948
1916 1895 639
1999 1895 989

,source1,source2,date,program name1,program name2,transcript1,transcript2,words1,words2,common words
0,BBC1 London,BBC News 24,2015-07-03,BBC News at One,BBC News at Six,"So, minus £28. You’ve been a great team. Great...",The Queen and the Duke of Edinburgh lead tribu...,1802,1610,519
1,BBC1 London,BBC News 24,2015-07-03,BBC News at Ten,BBC News at Six,The Queen and the Duke of Edinburgh lead tribu...,The Queen and the Duke of Edinburgh lead tribu...,1396,1610,793
2,BBC1 London,BBC News 24,2015-07-01,BBC News at One,BBC News at Six,Heathrow should get a third runway - says a lo...,"# Picture this. # Get a point of view, and tri...",1594,1707,565
3,BBC1 London,BBC News 24,2015-07-01,BBC News at One,BBC News at Ten,Heathrow should get a third runway - says a lo...,"# Oh, no # Well, my left hand’s free Tonight a...",1594,1736,588
4,BBC1 London,BBC News 24,2015-07-02,BBC News at Ten,BBC News at Six,"Luckily, there’s nothing we like more than cra...",The government sets out the case for airstrike...,1491,1581,840
...,...,...,...,...,...,...,...,...,...,...
1120,BBC1 London,BBC News 24,2018-05-24,BBC News at Ten,BBC News at Six,Hey! ‘Every year comes in weekly instalments. ...,"fresh in the north. If you have plans, don’t m...",1922,1841,1012
1121,BBC1 London,BBC News 24,2018-05-29,BBC News at One,BBC News at Ten,"Yes, Dad! There goes the postman... ..and the ...",Tonight at Ten... Italy on the brink of a majo...,1805,1891,546
1122,BBC1 London,BBC News 24,2018-05-29,BBC News at Six,BBC News at Ten,discovers the beauty of a country he first saw...,Tonight at Ten... Italy on the brink of a majo...,1883,1891,948
1123,BBC1 London,BBC News 24,2018-05-31,BBC News at One,BBC News at Ten,Women prepared to burn and bomb. They are goin...,"Tonight at Ten — fears of a trade war, as the ...",1916,1895,639
1124,BBC1 London,BBC News 24,2018-05-31,BBC News at Six,BBC News at Ten,Women prepared to burn and bomb. They are goin...,"Tonight at Ten — fears of a trade war, as the ...",1999,1895,989

In [139]:
res_df.to_csv('News_at_One_Six_Ten_repeated_transcripts.csv')